#exposeVariableModelSpecific()
#set($thisClassName=$className)
package $packageName;

import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Date;
import java.util.ArrayList;

import javax.faces.model.SelectItem;

import javax.enterprise.context.ApplicationScoped;
import javax.faces.bean.ManagedBean;
import javax.faces.bean.ManagedProperty;

#foreach($table in $entities)
#exposeVariableEntitySpecific()
#exposeSpringServiceBindingSpecific()
#if(!$isMany2Many)
import $beanSpringServiceImport;
#end
#end
@ManagedBean (name="${classVariable}")
@ApplicationScoped
public class $thisClassName {

#foreach($table in $entities)
#exposeVariableEntitySpecific()
#exposeSpringServiceBindingSpecific()
#if(!$isMany2Many)
    @ManagedProperty("#{${beanSpringServiceVariable}}")
    private $beanSpringServiceClass $beanSpringServiceVariable;
#end
#end

#putSpringJSFModelLookup()

}
