#exposeEJBDomainObjectSpecific()
#exposeJSFEntitySpecific()
package $packageName;

import java.util.Date;
import java.util.List;
import java.util.ArrayList;

import javax.enterprise.context.RequestScoped;
import javax.inject.Inject;
import javax.inject.Named;

import $importDomainObjectUML;
import $EJBDaoRemoteInterfaceImport;
##import $EJBFacadeRemoteInterfaceImport;
/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: remote interface for ${className} service </p>
 *
 */
@Named(value = "$entityControllerJSFVariable")
@RequestScoped
public class ${className} {
    
	@Inject
    private $EJBDaoRemoteInterfaceClass dao;
	
	private $tableClassName $tableVariableName = new $tableClassName();
	
    public List<$tableClassName> findAll () {
		return dao.findAll($tableVariableName);
	}

#if ($hasOnlyOnePrimaryKey)
	public $tableClassName findById ($primaryKeyFullType $primaryKeyVariable) {
		return dao.findById($primaryKeyVariable);
	}

#end
#if ($hasSemanticReference)
	public $tableClassName findBySemanticReference ($primaryKeyFullType $primaryKeyVariable) {
		return em.find (${tableClassName}.class, $primaryKeyVariable);
	}
	
#end
	public $tableClassName create () {
		return dao.create($tableVariableName);
	}
	
	public $tableClassName update () {
		return dao.update (${tableVariableName});
	}
	
	public void delete () {
		dao.delete (${tableVariableName});
	}
	
	public $tableClassName get$tableClassName() {
	    return $tableVariableName;
	}
	
	public void set$tableClassName ($tableClassName $tableVariableName) {
	    this.$tableVariableName = $tableVariableName;
	}	
		
}