#exposeJSFEntitySpecific()
#exposeJSFModelSpecific()
#exposeSeparator()
#exposePrimefacesConfig()
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="$primefacesNamespace">
<ui:composition template="$modelDecoratorJSFImport">
	<ui:define name="title">
		<h:outputText value="#{i18n.listTitle} of ${tableClassName}" />
	</ui:define>
	<ui:define name="heading">
		<h:outputText value="#{i18n.listHeading}" />
	</ui:define>
<ui:define name="body">
		
 <h:form id="form${tableClassName}"> 

	         <h:panelGroup id="dataPanel">  
						
                <p:dataTable value="#{${entityControllerJSFVariable}.lazyModel}" 
					id="${domainVariableName}Table" 
					var="${domainVariableName}" 
					paginator="true" rows="10"  
##                            dynamic="true"  resizableColumns="true"
                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                    rowsPerPageTemplate="10,20,50"> 
                    <f:facet name="header">  
                        List of #{i18n.${tableVariableName}s}  
                    </f:facet>  
	
#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
#if (!$isMany2Many && $isPkUserProvided)
        <p:column sortBy="#{${domainVariableName}.${columnVar}}" filterBy="#{${domainVariableName}.${columnVar}}" >  
            <f:facet name="header">  
                <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}" />  
            </f:facet>  
            <h:outputText value="#{${domainVariableName}.${columnVar}}" />  
        </p:column> 
#end
#end		
#foreach ($column in $table.attributes)
#putColumnParams()
#columnJavaNaming()	
        <p:column sortBy="#{${domainVariableName}.${columnVar}}" filterBy="#{${domainVariableName}.${columnVar}}">  
            <f:facet name="header">  
                <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}" />  
            </f:facet>  
            <h:outputText value="#{${domainVariableName}.${columnVar}}" />  
        </p:column>  
#end

                        <p:column>
                        
                        	<p:commandLink id="selectButton" update=":form2:panel" title="Edit" process="@this">
                     			<h:outputText value="Edit" /> 
                     			<f:setPropertyActionListener value="#{${domainVariableName}}" target="#{${entityControllerJSFVariable}.selected${tableClassName}}" />
##                     			<f:setPropertyActionListener value="#{${domainVariableName}}" target="#{employeesController.current}" />
                 			</p:commandLink >
                 			|
                 			<p:commandLink  id="detailButton" update=":form2:display" title="View Details" oncomplete="detailDialog.show()" process="@this">
                 				<h:outputText value="View" />
                     			<f:setPropertyActionListener value="#{${domainVariableName}}" target="#{${entityControllerJSFVariable}.selected${tableClassName}}" />
##                     			<f:setPropertyActionListener value="#{${domainVariableName}}" target="#{employeesController.detailedEmployee}" />
                 			</p:commandLink >
                 			|
                 			<p:commandLink  id="showDialogButton" update=":dialogForm:confirmDialog" title="Delete" oncomplete="confirmation.show()" process="@this">
                 				<h:outputText value="Delete" />  
##                 				<f:setPropertyActionListener value="#{${domainVariableName}}" target="#{employeesController.detailedEmployee}" />
                 				<f:setPropertyActionListener value="#{${domainVariableName}}" target="#{${entityControllerJSFVariable}.selected${tableClassName}}" />
                 			</p:commandLink >
        				
                    	</p:column>

                    </p:dataTable>
                </h:panelGroup>
           </h:form>
                
                <br/>
                
             
                
  			<h:form id="form2">
				<p:messages id="messages" autoUpdate="true"/>  
				<p:panelGrid columns="4" id="panel" >
                   
                    <f:facet name="header">
                    Create/Update #{i18n.${tableVariableName}}
                    </f:facet> 

#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
#if (!$isMany2Many && $isPkUserProvided)
#putJSFColumnSnippet()
##$columnVar =  $column.alias
#end
#end
#foreach ($columnGroup in $tableUtils.extractFieldGroup(${table.attributes}, $table))
#foreach ($column in $columnGroup)
#putColumnParams()
#columnJavaNaming()
#putJSFColumnSnippet()
#end
#end
#foreach ($reference in $tableUtils.getParentOrderByReferenceData($table))
#putReferenceParams2()
#set ($column=$localColumn)
#putColumnParams()
#columnJavaNaming()
#putJSFColumnSnippet()
#end    
                     <h:outputLabel value="First Name:" for="firstName" />
                    <p:inputText label="First Name" id="firstName" value="#{employeesController.current.firstName}" title="First Name" required="true" 
                    	validatorMessage="#{bundle.EmployeeValidationFirstName}" requiredMessage="#{bundle.EmployeeRequiredMessage_firstName}">
                    	<f:validateRegex pattern=".*\p{Alpha}{3,16}" />
                    </p:inputText>
                   
					<h:outputLabel value="Last Name:" for="lastName" />
                    <p:inputText label="Last Name" id="lastName" value="#{employeesController.current.lastName}" title="Last Name" required="true" 
                    	validatorMessage="#{bundle.EmployeeValidationLastName}" requiredMessage="#{bundle.EmployeeRequiredMessage_lastName}">
                    	<f:validateRegex pattern="\p{Alpha}{3,16}" />
                    </p:inputText>
                    
                    <h:outputLabel value="Extension:" for="extension" />
                    <p:inputText label="Extension" id="extension" value="#{employeesController.current.extension}" title="Extension" required="true" 
                    	validatorMessage="#{bundle.EmployeeValidationExtension}" requiredMessage="#{bundle.EmployeeRequiredMessage_extension}">
                    	<f:validateRegex pattern="[x|X]?\d{4}" />
                    </p:inputText>

                    <h:outputLabel value="Email:" for="email" />
                    <p:inputText label="Email" id="email" value="#{employeesController.current.email}" title="Email" required="true" 
                    	validatorMessage="#{bundle.EmployeeValidationEmail}" requiredMessage="#{bundle.EmployeeRequiredMessage_email}">
                    	<f:validateRegex pattern="#{bundle.emailRegex}" />
                    </p:inputText>

                    <h:outputLabel value="Job Title:" for="jobTitle" />

					<h:selectOneMenu id="jobTitle" value="#{employeesController.current.jobTitle}" required="true" requiredMessage="#{bundle.EmployeeRequiredMessage_jobTitle}">
                    	<f:selectItem noSelectionOption="true" itemLabel="Please Select"/>
                        <f:selectItems value="#{employeesController.jobTitlesList}" var="job"
                   			itemLabel="#{job}" itemValue="#{job}"/>
                    </h:selectOneMenu>


                    <h:outputLabel value="Office Code:" for="officeCode" />
                    <h:selectOneMenu id="officeCode" value="#{employeesController.current.office}" required="true" requiredMessage="#{bundle.EmployeeRequiredMessage_officeCode}">
                    	<f:selectItem noSelectionOption="true" itemLabel="Please Select"/>
                        <f:selectItems value="#{employeesController.allOffices}" var="off"
                   			itemLabel="#{off.city}" itemValue="#{off}"/>
                    </h:selectOneMenu>
                    
                    
					<h:outputLabel />
					<h:outputLabel />
					

                    <h:outputLabel value="Reports To:" for="reportsTo" />
                    <h:selectOneMenu id="reportsTo" value="#{employeesController.current.reportsTo}" required="true" requiredMessage="#{bundle.EmployeeRequiredMessage_reportsTo}">
                    	<f:selectItem noSelectionOption="true" itemLabel="Please Select"/>
                        <f:selectItems value="#{employeesController.allManagers}" var="emp"
                   			itemLabel="#{emp.firstName} #{emp.lastName} (#{emp.jobTitle} )" itemValue="#{emp}"/>
                    </h:selectOneMenu>

                    <f:facet name="footer">  
				        <p:commandButton value="Save" icon="ui-icon-check"  actionListener="#{employeesController.createOrUpdateListener}" update=":form:empTable,:form2:panel" />  
				        <p:commandButton value="Clear" immediate="true" icon="ui-icon-cancel" process="@this" actionListener="#{employeesController.clearListener}" update=":form2:panel" style="margin:5px;"/>
				    </f:facet> 
                </p:panelGrid>



			   <p:dialog id="basicDialog" header="Employee Details" widgetVar="detailDialog"  resizable="false" >  
                <h:panelGrid columns="2" cellpadding="5"  styleClass="list_display_table_TR_even">
#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
#if (!$isMany2Many && $isPkUserProvided)
            <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}:" />  
            <h:outputText value="#{${entityControllerJSFVariable}.selected${domainClassName}.$columnVar}" />  
#end
#end  
#foreach ($column in $table.attributes)
#putColumnParams()
#columnJavaNaming() 
            <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}:" />  
            <h:outputText value="#{${entityControllerJSFVariable}.selected${domainClassName}.$columnVar}" />  
#end
                </h:panelGrid>
			</p:dialog>   

		</h:form>
    
    		<h:form id="dialogForm">
    			<p:confirmDialog id="confirmDialog" header="Confirm Delete Employee" severity="alert" widgetVar="confirmation">  
    	                  	<f:facet name="message">
    						<h:outputText value="Delete item ?" />
    						</f:facet>
    	                  
    	        <p:commandButton id="confirm" value="Yes" oncomplete="confirmation.hide()"  update=":form:empTable" 
    	                     actionListener="#{employeesController.destroyListener}"/>  
    	        <p:commandButton id="decline" value="No" onclick="confirmation.hide()" type="button" />   
    	                  
    			</p:confirmDialog>  
    		</h:form>
				
        </ui:define>
    </ui:composition>
</h:body>
</html>
