#exposeJSFEntitySpecific()
#exposeJSFModelSpecific()
#exposeSeparator()
#exposePrimefacesConfig()
#set($hasDisplayableChildren=$presentationUtils.hasDisplayableChildren($table))
#set($refCnt=1)
#set($thisEntityControllerJSFVariable = $entityControllerJSFVariable)
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="$primefacesNamespace">
 <h:form id="form${tableClassName}"> 
     <p:growl id="growl" showDetail="true"/>
     <h:panelGroup id="dataPanel">  
        <p:dataTable value="#{${entityControllerJSFVariable}.lazyModel}" 
            id="${domainVariableName}Table" 
            var="item" 
            paginator="true" rows="10" 
            lazy="true"
			selection="#{${entityControllerJSFVariable}.selected${tableClassName}}" selectionMode="single"
            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
            rowsPerPageTemplate="10,20,50"
			emptyMessage="No ${tableClassName} found with given criteria"> 
            <p:ajax partialSubmit="true" event="rowSelect"
                    listener="#{${entityControllerJSFVariable}.onRowSelect}"
                    update=":form2:panel #if ($hasDisplayableChildren):form2:childrenTab#end"/> 
            <f:facet name="header">  
                List of #{i18n.${tableVariableName}s}  
            </f:facet>
            <ui:include src="/$entityListRowJSFLocation">
               <ui:param name="isSemanticReference" value="false" />
             </ui:include>
        </p:dataTable>
    </h:panelGroup>
   </h:form>        
#set($update=":form${domainClassName}:${domainVariableName}Table,:form2:panel#if($hasDisplayableChildren),:form2:childrenTab#end,:form${domainClassName}:growl")

	<p:confirmDialog id="confirmDialog" showEffect="fade" hideEffect="fade" global="true" >
##appendToBody="true">
		<h:form id="deletion">
			<p:commandButton id="confirm" value="Yes" immediate="true" 
				styleClass="ui-confirmdialog-yes" 
				icon="ui-icon-check"
				actionListener="#{${entityControllerJSFVariable}.deleteListener}" update="$update" />
			<p:commandButton id="decline" value="No" type="button" 
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" /> 
	   </h:form>
	</p:confirmDialog>

  	<h:form id="form2">
		<p:panelGrid columns="3" id="panel" cellpadding="5" styleClass="ui-widget-content-borderless" >
            <f:facet name="header" align="left">
                <h:outputText value="#{i18n.${tableVariableName}} details "/>
            	<p:commandButton value="Save" icon="ui-icon-check"  actionListener="#{${entityControllerJSFVariable}.createOrUpdateListener}" update="$update" />  
            	<p:commandButton value="Clear" immediate="true" icon="ui-icon-cancel" process="@this" actionListener="#{${entityControllerJSFVariable}.clearListener}" update=":form2:panel#if($hasDisplayableChildren),:form2:childrenTab#end" style="margin:5px;"/>
##            	<p:commandButton value="Delete" icon="ui-icon-trash" onclick="confirmation.show()"/>  
            	<p:commandButton value="Delete" icon="ui-icon-trash" >
                    <p:confirm header="Deletion process" severity="alert" icon="ui-icon-alert" message="Can you confirm your deletion?"/>
                </p:commandButton>
            </f:facet>
            <ui:include src="/$entityEditJSFLocation">
               <ui:param name="affectFormId" value=":form2" />
               <ui:param name="idValue" value="$refCnt" />
#set($refCnt=$refCnt+1)
            </ui:include>
        </p:panelGrid>
		<h:panelGrid id="childrenPanel">
#if ($hasDisplayableChildren)
           <p:tabView id="childrenTab" orientation="top|bottom|left|right" cache="false" > 
             <p:ajax event="tabChange" listener="#{${entityControllerJSFVariable}.onTabChange}"/>
#foreach ($reference in $presentationUtils.getDisplayableChildren($table))
#putReferenceParams2()
#if(!$linktableDB.isManyToMany())
                   <p:tab id="child-$childrenListVariable" title="#{i18n.$linkedTableVariable}" > 
                	 <p:outputPanel id="child-${childrenListVariable}Panel" >
                		<p:toolbar id="add-$childrenListVariable">  
                			<p:toolbarGroup align="left"> 
                				<p:commandButton 
									actionListener="#{${entityControllerJSFVariable}.activateRenderAdd${childrenListClass}}"
                                    immediate="true" 
									title="Add $linktableDB.name"  
									icon="ui-icon-document" 
									oncomplete="add${childrenListClass}.show();" 
									update=":containerBasicAdd${childrenListClass}"/>
							</p:toolbarGroup>
                		</p:toolbar>
                        <p:dataTable var="item" value="#{${entityControllerJSFVariable}.get${childrenListClass}()}" paginator="true" rows="10"  
                                onRowSelectUpdate="display" 
                                dynamic="true"  resizableColumns="true"
                                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                                rowsPerPageTemplate="5,10,15"> 
							<f:facet name="header">  
                            List of #{i18n.$linkedTableVariable}  
							</f:facet>
#set ($entityListRowJSFLocation = $commonUtils.getArtifactRelativePathDirAndFullName($linktableDB, $template, $templateEntityListRowJSF))
							<ui:include src="/$entityListRowJSFLocation">
								<ui:param name="isSemanticReference" value="true" />
							</ui:include>
							<p:column>
#set ($entityLinkControllerJSFClass = $commonUtils.getTemplateClassName($linktableDB, $model, $templateEntityControllerJSF))
#set ($entityLinkControllerJSFVariable = $commonUtils.getJavaNameVariableFirstLetter($entityLinkControllerJSFClass))
                            <p:commandButton value="Manage" 
            					id="detailButton${childrenListClass}" 
            					update=":containerBasicDialog${childrenListClass}" 
            					title="Manage Details"
            					action="#{${entityLinkControllerJSFVariable}.reloadSelected}"
            					oncomplete="detailDialog${childrenListClass}.show()" 
            					process="@this">
                                <f:actionListener binding="#{${thisEntityControllerJSFVariable}.activateRenderDialog${childrenListClass}()}" />
                                <f:actionListener binding="#{${entityLinkControllerJSFVariable}.setSelected${linkedTableClass}(item)}"/>
                            </p:commandButton>
							</p:column>
						</p:dataTable>
                	 </p:outputPanel>
                   </p:tab>
#end
#end
			</p:tabView>
#end
		</h:panelGrid>
	</h:form>

#if ($hasDisplayableChildren)
#foreach ($reference in $presentationUtils.getDisplayableChildren($table))
#putReferenceParams2()
#if(!$linktableDB.isManyToMany())
#set ($entityEditJSFLocation = $commonUtils.getArtifactRelativePathDirAndFullName($linktableDB, $template, $templateEntityEditJSF))
#set ($entityControllerJSFClass = $commonUtils.getTemplateClassName($linktableDB, $model, $templateEntityControllerJSF))
#set ($entityControllerJSFVariable = $commonUtils.getJavaNameVariableFirstLetter($entityControllerJSFClass))
#set($updateFromPopUp=":form2:childrenTab:child-${childrenListVariable}Panel,:form${domainClassName}:growl")
#exposeImportParamsUML($linktableDB)

    <!-- dialog to add and manage ${childrenListClass} -->
	<p:outputLabel id="containerBasicAdd${childrenListClass}">
		<p:dialog id="basicAdd${childrenListClass}" 
			rendered="#{${thisEntityControllerJSFVariable}.isRenderAdd${childrenListClass}()}"
			header="Add ${linkedTableClass}" 
			widgetVar="add$childrenListClass" 
			resizable="true" >
			<h:form id="formAdd$childrenListVariable">
				<h:panelGrid columns="3" cellpadding="5" id="add${childrenListClass}">
					<ui:include src="/$entityEditJSFLocation">
						<ui:param name="affectFormId" value=":formAdd$childrenListVariable" />
						<ui:param name="idValue" value="$refCnt" />
						<ui:param name="fieldToHide" value="$linkedColumnVariable" />
#set($refCnt=$refCnt+1)
					</ui:include>
            </h:panelGrid>			
				<p:commandButton action="#{${entityControllerJSFVariable}.createOrUpdateListener}" id="cmdAdd${childrenListClass}" value="Add" icon="ui-icon-check" oncomplete="add${childrenListClass}.hide()" update="$updateFromPopUp">
					<f:setPropertyActionListener 
						target="#{${entityControllerJSFVariable}.selected${domainObjectClass}.${linkedColumnVariable}}" 
						value="#{${thisEntityControllerJSFVariable}.selected${domainClassName}}"/>
					<f:setPropertyActionListener 
						target="#{${entityControllerJSFVariable}.selected${domainObjectClass}.${linkedColumnVariable}_}" 
						value="#{${thisEntityControllerJSFVariable}.selected${domainClassName}.$primaryKeyVariable}"/>
					<f:setPropertyActionListener 
						target="#{${thisEntityControllerJSFVariable}.refresh${childrenListClass}}" value="true"/>
				</p:commandButton>	
			</h:form>
		</p:dialog>
	</p:outputLabel>
	<p:outputLabel id="containerBasicDialog${childrenListClass}">
		<p:dialog id="basicDialog${childrenListClass}" 
			rendered="#{${thisEntityControllerJSFVariable}.isRenderDialog${childrenListClass}()}"
			header="#{${childrenListVariable}} Details" 
			widgetVar="detailDialog${childrenListClass}" 
			resizable="true" >  
			<h:form id="form${childrenListClass}">
    			<h:panelGrid columns="3" cellpadding="5" id="display${childrenListClass}">
    			<ui:include src="/$entityEditJSFLocation">
    				<ui:param name="affectFormId" value=":form${childrenListClass}" />
                    <ui:param name="idValue" value="$refCnt" />
    				<ui:param name="fieldToHide" value="$linkedColumnVariable" />
#set($refCnt=$refCnt+1)
                </ui:include>
                </h:panelGrid>
    ##			<p:commandButton actionListener="#{${entityControllerJSFVariable}.createOrUpdateListener}" id="cmdUpdate${childrenListClass}" value="Update" icon="ui-icon-check" oncomplete="detailDialog${childrenListClass}.hide()" update="$update">
    			<p:commandButton actionListener="#{${entityControllerJSFVariable}.createOrUpdateListener}" id="cmdUpdate${childrenListClass}" value="Update" icon="ui-icon-check" oncomplete="detailDialog${childrenListClass}.hide()" update="$updateFromPopUp">
    				<f:setPropertyActionListener target="#{${thisEntityControllerJSFVariable}.refresh${childrenListClass}}" value="true"/>
    				<!-- todo add reset DD lookup -->
                </p:commandButton>
    			<p:commandButton actionListener="#{${entityControllerJSFVariable}.deleteListener}" id="cmdDelete${childrenListClass}" value="Delete" icon="ui-icon-trash" process="@this" oncomplete="detailDialog${childrenListClass}.hide()" update="$updateFromPopUp">
    				<f:setPropertyActionListener target="#{${thisEntityControllerJSFVariable}.refresh${childrenListClass}}" value="true"/>
                </p:commandButton>
			</h:form>
		</p:dialog>
	</p:outputLabel>

#end
#end
#end
</html>