#exposeJSFEntitySpecific()
#exposeJSFModelSpecific()
#exposeSeparator()
#exposePrimefacesConfig()
#set($hasDisplayableChildren=$presentationUtils.hasDisplayableChildren($table))
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="$primefacesNamespace"
	xmlns:composite="http://java.sun.com/jsf/composite">
    <composite:interface>
        <composite:attribute name="entity" />
    </composite:interface>
    <composite:implementation>
       <p:panelGrid columns="2" id="panel" cellpadding="5" styleClass="ui-widget-content-borderless" columnClasses="mp-column-center">
#foreach($column in $presentationUtils.getPotentialDisplayableColumns($table))
#putColumnParams()
#columnJavaNaming()
#if (!$isForeignKey)
        <p:outputLabel>#{i18n.${tableVariableName}$separator$columnVar}</p:outputLabel>
        <p:inputText 
        	size="$primefacesUtils.getDisplayColumns($column)" 
        	maxlength="$column.sizeAsInt" 
        	label="${columnClass}"
			disabled="true"
        	value="#{cc.attrs.entity.${columnVar}}"/>

#end
#end
       </p:panelGrid>
	</composite:implementation>
</html>
