#macro(portlet)
	<portlet id="$domainClassName">
		<description>$applicationOX - $domainClassName</description>       
		<description xml:lang="en">$applicationOX - $domainClassName</description>         
		<portlet-name>$domainClassName</portlet-name>
		<display-name>$applicationOX - $domainClassName</display-name>    
		<display-name xml:lang="en">$applicationOX - $domainClassName</display-name>    
		<portlet-class>javax.portlet.faces.GenericFacesPortlet</portlet-class>
		<init-param>
			<name>javax.portlet.faces.defaultViewId.view</name>
			<value>/view.xhtml</value>
		</init-param>
		<expiration-cache>0</expiration-cache>
		<supports>
			<mime-type>text/html</mime-type>
			<portlet-mode>view</portlet-mode>
		</supports>
		<supported-locale>en</supported-locale> 
<!--    	<resource-bundle>portlets/$domainClassName</resource-bundle>
-->
	</portlet>
#*
	<portlet>
		<portlet-name>1</portlet-name>
		<display-name>PrimeFaces Portlet</display-name>
		<portlet-class>javax.portlet.faces.GenericFacesPortlet</portlet-class>
		<init-param>
			<name>javax.portlet.faces.defaultViewId.view</name>
			<value>/view.xhtml</value>
		</init-param>
		<init-param>
			<name>javax.portlet.faces.defaultViewId.edit</name>
			<value>/edit.xhtml</value>
		</init-param>
		<supports>
			<mime-type>text/html</mime-type>
			<portlet-mode>view</portlet-mode>
			<portlet-mode>edit</portlet-mode>
		</supports>
		<portlet-info>
			<title>PrimeFaces Portlet</title>
			<short-title>PrimeFaces Portlet</short-title>
			<keywords>JSF 2.0</keywords>
		</portlet-info>

        <security-role-ref>
			<role-name>administrator</role-name>
		</security-role-ref>
		<security-role-ref>
			<role-name>guest</role-name>
		</security-role-ref>
		<security-role-ref>
			<role-name>power-user</role-name>
		</security-role-ref>
		<security-role-ref>
			<role-name>user</role-name>
		</security-role-ref>
		*#
#end
#exposeVariableModelSpecific() 
#exposeOXSpecific()
<?xml version="1.0" encoding="ISO-8859-1"?>

<portlet-app id="$applicationOX"
	xmlns="http://java.sun.com/xml/ns/portlet/portlet-app_1_0.xsd" 
	version="1.0" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/portlet/portlet-app_1_0.xsd http://java.sun.com/xml/ns/portlet/portlet-app_1_0.xsd"> 
#foreach($table in $model.businessModel.businessPackage.getEntities())
#exposeVariableEntitySpecific()
#if (!$isMany2Many)
#porlet()
#end
#end
#foreach ($table in $model.businessModel.businessPackage.transferEntities)
#exposeVariableEntitySpecific()
#portlet()
#end
#foreach ($query in $model.getStatementModel().getQueries().getQueries())
#set($table=$query.inputBean)
#exposeVariableEntitySpecific()
#portlet()
#end
</portlet-app>