<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

	<display-name>application</display-name>

	<description></description>

    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
	<!-- The contextConfigLocation specifies all locations for the Spring bean factory to get its Spring bean definitions from. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring-config-Myproject.xml
		</param-value>
	</context-param>
	<servlet>
		<servlet-name>context</servlet-name>
		<servlet-class>
			org.springframework.web.context.ContextLoaderServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

    
    <servlet>
        <servlet-name>myCRUDServlet</servlet-name>
        <servlet-class>my.servlet.myProject.MyprojectCRUDServlet</servlet-class>
    </servlet>

 
    <servlet-mapping>
        <servlet-name>myCRUDServlet</servlet-name>
        <url-pattern>/crud.do</url-pattern>
    </servlet-mapping> 
    

    <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
    </welcome-file-list>    

</web-app>