#exposeVariableModelSpecific()
<!DOCTYPE html>
<html>
<head>
<title></title>

#putKendoUIJSImport()

</head>
<body>
<script type="text/javascript">
$(function () {

#putKendoUIMenu()

  });
</script>
<div class="k-content">
<ul id="${model.name}-Menu">
#foreach ($package in ${businessPackages})
#putKendoUIMenuPackage()
#end
#foreach ($package in ${businessPackageViews})
#putKendoUIMenuPackage()
#end
</ul>
</div>
</body>
</html>
