#generatorSpecific()
#exposeMaven()
#exposeBackendTechnology()
#exposeRESTModelSpecific()
#exposeWebXmlSpecific()
#putTargetServerDefinition()
#exposeKendoUIModelSpecific()
#if ($webXmlVersion=="2.5" || $isWeblogicTargetServer)
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
#elseif ($webXmlVersion=="3.0")
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
#end
	<display-name>$model.name REST Application</display-name>
    <servlet>
        <servlet-name>$model.name Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

        <init-param>
          <param-name>jersey.config.server.provider.packages</param-name>
          <param-value>$modelResourceJerseyImport;com.wordnik.swagger.jersey.listing</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>$model.name Jersey Web Application</servlet-name>
        <url-pattern>/data/*</url-pattern>
    </servlet-mapping>

	<servlet>
	  	<servlet-name>JerseyJaxrsConfig</servlet-name>
	  	<servlet-class>com.wordnik.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
	  	<init-param>
	    	<param-name>api.version</param-name>
	    	<param-value>1.0.0</param-value>
	  	</init-param>
	  	<init-param>
	    	<param-name>swagger.api.basepath</param-name>
	    	<param-value>http://localhost:8002/api</param-value>
	  	</init-param>
##	  	<load-on-startup>2</load-on-startup>
	</servlet>
	
#if($isSpringBackend)
	<!-- The context params that read by ContextLoaderListener  -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/application-context.xml
		</param-value>
	</context-param>
	
	<!-- This listener will load other application context file in addition to springweb-servlet.xml -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
#end

    <welcome-file-list>
        <welcome-file>$kendoUiMenuPath</welcome-file>
    </welcome-file-list>

</web-app>
