#exposeVariableModelSpecific()
#macro(putTriggerViewHisto $operation)
CREATE OR REPLACE 
#if($operation=="INS")
TRIGGER ${table.name}_I INSTEAD OF INSERT 
#elseif($operation=="DEL")
TRIGGER ${table.name}_D INSTEAD OF DELETE
#elseif($operation=="UPD")
TRIGGER ${table.name}_U INSTEAD OF UPDATE
#end
ON ${table.name}_V
REFERENCING NEW AS NEW OLD AS OLD FOR EACH ROW 
BEGIN 
INSERT INTO ${table.name}
(
#foreach($column in ${table.columns})
#putColumnParams()
#if($velocityCount>1),#else #end$column.name
#end
) VALUES
(
#foreach($column in ${table.columns})
#putColumnParams()
#if($velocityCount>1),#else #end:new.$column.name
#end
);
#putTriggerTableHisto("$operation") 
#if($operation=="INS")
END ${table.name}_I;
#elseif($operation=="DEL")
END ${table.name}_D;
#elseif($operation=="UPD")
END ${table.name}_U;
#end
/
#end
#foreach ($table in $entities)
/*
This pattern introduce a view as a proxy middle-man
It might be intrusive it
*/
#createHistoryTable()
#putTriggerViewHisto("INS")
#putTriggerViewHisto("UPD")
#putTriggerViewHisto("DEL")
#end
