#exposeQuerySpecific()
#exposeSDDSpring()
#putImportQuerySDDBean()
#addedAreas()
package $packageName;

$!updatedAreaImport

import java.util.ArrayList;
import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.stereotype.Repository;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;

import $sddOutputBeanCollectionImport;
import $sddOutputBeanImport;
import $sddInputBeanImport;
import $sddDaoInterfaceImport;
import $sddServiceInterfaceImport;

/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: SDD Spring service implementation </p>
 *
 */
@Repository ("$sddServiceInterfaceVariable")
@Transactional(propagation = Propagation.REQUIRED) 
public class ${className} implements $sddServiceInterfaceClass{
    @Autowired
    @Qualifier("$sddDaoInterfaceVariable") 
    $sddDaoInterfaceClass $sddDaoInterfaceVariable;
    
#exposeQueryUpdatedAreas("SDD_EXECUTE_GET")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else
    public $sddOutputBeanCollectionClass execute ($sddInputBeanClass $sddInputBeanVariable) {
        return ${sddDaoInterfaceVariable}.execute ($sddInputBeanVariable);
    }
#end
$!updatedAreaEnd

$!updatedAreaImplementation

}