package $packageName;

import $domainEntityImport;
import $modelRepositoryImport;

/**
 * Custom spring data select for {@link $domainEntity}.
 */
public interface $className extends $modelRepositoryClassName<$domainClassName, $primaryKeyType> {

##foreach semantic reference
## searchEqual, searchLike

}