#macro (exposeGrailsDomainSpecific)
#end

#macro (exposeGrailsApplicationSpecific)
#set($runtimeDatabaseDriverDependency=$grailsUtils.getRuntimeDatabaseDriverDependency($database))
#end

#macro (exposeGrailsSpecific)
#set ($applicationGrails=$configuration.name)
#end