#exposeVariableModelSpecific()
package $packageName;

import net.sf.minuteProject.architecture.bsla.domain.AbstractDomainObject;
import net.sf.minuteProject.model.dao.jpa.GenericDaoJpaImpl;
import javax.persistence.EntityManager;
import javax.persistence.PersistenceContext;

public abstract class $className <T extends AbstractDomainObject> extends GenericDaoJpaImpl<T> {

    @PersistenceContext (unitName = "${model.name}")
    protected EntityManager entityManager;

    public EntityManager getEntityManager() {
        return entityManager;
    }

    public void setEntityManager(EntityManager entityManager) {
        this.entityManager = entityManager;
    }

}