#generatorSpecific()
#exposeMaven()
#exposePom()
#exposeBackendTechnology()
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>${groupId}</groupId>
#if($isEJBBackend)
  <artifactId>${artifactId}</artifactId>
#else
  <artifactId>${generatorBean.name}Bsla</artifactId><!--todo change -->
#end
  <packaging>jar</packaging>
  <version>${version}-SNAPSHOT</version>
#if($isEJBBackend)
  <name>$generatorBean.name BELA specification and implementation</name>
#else
  <name>$generatorBean.name BSLA specification and implementation</name>
#end  
  <url>http://maven.apache.org</url>
  <dependencies>

    <dependency>
        <groupId>${groupId}</groupId>
        <artifactId>$DbApiName</artifactId>
        <version>${version}-SNAPSHOT</version>
    </dependency>
	<dependency>
		<groupId>junit</groupId>
		<artifactId>junit</artifactId>
		<version>${junit.version}</version>
		<scope>test</scope>
	</dependency>

#if($isEJBBackend)	
    <dependency>
      <groupId>org.apache.openejb</groupId>
      <artifactId>openejb-core</artifactId>
      <version>4.0.0-beta-1</version>
      <scope>test</scope>
    </dependency>
	
    <dependency>
       <groupId>javax</groupId>
       <artifactId>javaee-api</artifactId>
       <version>6.0</version>
       <scope>provided</scope>
    </dependency>
	
	<!--
    <dependency>
      <groupId>org.apache.openejb</groupId>
      <artifactId>javaee-api</artifactId>
      <version>6.0-3-SNAPSHOT</version>
      <scope>provided</scope>
    </dependency>
	-->
    <!--
    The <scope>test</scope> guarantees that none of your runtime
    code is dependent on any OpenEJB classes.
    -->

	
#elseif($isSpringBackend)	  	  
	<!-- spring -->
	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-oxm</artifactId>
		<version>${spring.version}</version>
		<scope>runtime</scope>
	</dependency>
	
	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-orm</artifactId>
		<version>${spring.version}</version>
		<scope>compile</scope>
	</dependency>

	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-web</artifactId>
		<version>${spring.version}</version>
		<scope>compile</scope>
	</dependency>	
#* 	<!-- security -->
	<dependency>
		<groupId>org.springframework.security</groupId>
		<artifactId>spring-security-web</artifactId>
		<version>${spring-security.version}</version>
	</dependency>
	<dependency>
		<groupId>org.springframework.security</groupId>
		<artifactId>spring-security-config</artifactId>
		<version>${spring-security.version}</version>
	</dependency>
*#
	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-tx</artifactId>
		<version>${spring.version}</version>
		<scope>compile</scope>
	</dependency>
	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-aop</artifactId>
		<version>${spring.version}</version>
	</dependency>
	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-test</artifactId>
		<version>${spring.version}</version>
		<scope>compile</scope>
	</dependency>
	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-expression</artifactId>
		<version>${spring.version}</version>
	</dependency>
	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-context</artifactId>
		<version>${spring.version}</version>
	</dependency>
	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-core</artifactId>
		<version>${spring.version}</version>
	</dependency>
	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-beans</artifactId>
		<version>${spring.version}</version>
	</dependency>
	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-context-support</artifactId>
		<version>${spring.version}</version>
	</dependency>
	
	<!--ehcache spring annotation -->
	<dependency>
	  <groupId>com.googlecode.ehcache-spring-annotations</groupId>
	  <artifactId>ehcache-spring-annotations</artifactId>
	  <version>1.2.0</version>
	  <exclusions>
		  <exclusion>
			  <groupId>org.slf4j</groupId>
			  <artifactId>slf4j-api</artifactId>
		  </exclusion>
	  </exclusions>
   </dependency>
	  
	  
#end	
	<!-- spring end -->
	
#foreach($dependency in $dependencies)
#exposeMavenDepency()
    <dependency>
      <groupId>$groupId</groupId>
      <artifactId>$artifactId</artifactId>
      <version>$version</version>
      <scope>$scope</scope>
    </dependency>  
#end
  </dependencies>
  
  <build>
    <!--<finalName>$DbApiName</finalName>-->
    <resources>
      <!-- overwrite generated artifacts for packaging: for example by providing another jndi name ... -->
	  <resource>
		<directory>src-overwritten/main/resources</directory>
        <excludes>
          <exclude>**/*.java</exclude>
        </excludes>
	  </resource>    
	  <resource>
		<directory>$resourcesDir</directory>
        <excludes>
          <exclude>**/*.java</exclude>
        </excludes>
	  </resource>
	</resources>     
    <plugins>
        <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-compiler-plugin</artifactId>
            <configuration>
                <source>1.6</source>
                <target>1.6</target>
            </configuration>
         </plugin>   
         <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-surefire-plugin</artifactId>
            <configuration>
                <testFailureIgnore>true</testFailureIgnore>
            </configuration>
         </plugin>		 
     </plugins>    
  </build>  
  
  <reporting>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-surefire-report-plugin</artifactId>
      </plugin>
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>cobertura-maven-plugin</artifactId>
        <configuration>
          <formats>
            <format>html</format>
            <format>xml</format>
          </formats>
        </configuration>
      </plugin>
    </plugins>
  </reporting>

	<properties>
##		<spring-security.version>3.1.0.CI-SNAPSHOT</spring-security.version>
		<spring.version>4.0.0.RELEASE</spring.version>
		<cglib.version>2.2.2</cglib.version>
		<junit.version>4.10</junit.version>
	</properties>
	
</project>
