#macro (exposeRESTURL $techno)
#exposeRESTURLServer($techno)
#exposeRESTURLClient($techno)
#end

#macro (exposeRESTURLClient $techno)
#set ($restXmlClientUrl = $restUtils.getRestUrlClientXml($table, $techno))
#set ($restJsonClientUrl = $restUtils.getRestUrlClientJson($table, $techno))
#end

#macro (exposeRESTURLServer $techno)
#set ($restXmlServerUrl = $restUtils.getRestUrlServerXml($table, $techno))
#set ($restJsonServerUrl = $restUtils.getRestUrlServerJson($table, $techno))
#end


