.k-content {
    margin: 0px;
}

html {
    min-height: 100%;
    background-color: #E5F0F6;
    border-right: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}

.customMenu {
    display: table;
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 0px;
    border-collapse: collapse;
    background-color: #E5F0F6;
}

.row {
    display: table-row;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.cell {
    display: table-cell;
    vertical-align: bottom;
    height: 15px;
    padding-top: 5px;
    text-align: left;
}

.cell-label {
    display: table-cell;

    vertical-align: bottom;
    height: 15px;
    padding-top: 5px;
    text-align: left;
    font-weight: bold;
}

.rowMenuLinkFirst {
    display: table-row;
    border-bottom: 1px solid #94c0d2;
    border-top: 1px solid #94c0d2;
}

.rowMenuLink {
    display: table-row;
    border-bottom: 1px solid #94c0d2;
}

.cellMenuLink {
    display: table-cell;
    height: 30px;
    cursor: auto;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.cellMenuLink:hover {
    display: table-cell;
    background-color: #0065A2;
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

.cellMenuLinkSelected, .cellMenuLinkSelected>a {
    background-color: #0065A2;
    color: white;
}

.menuLink {
    display: block;
    padding-top: 12px;
    height: 30px;
    color: #003f59;
    text-decoration: none;
    text-align: center;
    outline: none;
}

.menuLink:hover {
    color: white;
}

.menuLinkManageEntity {
    display: block;
    padding: 2px 10px 2px 10px;
    height: 40px;
    color: #003f59;
    text-decoration: none;
    text-align: center;
}

.menuLinkManageEntity:hover {
    color: white;
}

.menuLinkFT {
    display: block;
    font-size: 13px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    color: #003f59;
    outline: none;
    margin: 0 auto;
    width: 95%;
}

.buttonNewEntity {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 13px;
    height: 40px;
    width: 140px;
    color: white;
    border: none;
    background-color: #0065A2;
    margin-top: 14px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
}

.buttonNewEntity:hover {
    cursor: pointer;
    background-color: #7bd2f6;
}

.adminMenuLabel {
    font-size: 14px;
    text-transform: uppercase;
    color: #696969;
}

.rowAdminMenu {
    display: table-row;
    border-bottom: 1px solid #94c0d2;
}

.cellAdminMenu {
    height:30px;
    text-align: left;
    padding-left: 7px;
}

.adminSectionTable {
    display: table;
    width: 100%;
}

.adminRowMenuLink {
    display: table-row;
    border-bottom: 1px solid #94c0d2;
    width: auto;
}

.adminCellMenuLink {
    display: table-cell;
    font-size: 13px;
    height: 20px;
    cursor: auto;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    padding: 3px 0 3px 7px;
}

.adminCellMenuLink:hover {
    background-color: #0065A2;
    color: white;
}

.adminMenuLink {
    display: block;
    width: 100%;
    color: #003f59;
    text-decoration: none;
    outline: none;
}

.adminMenuLink:hover {
    color: white;
}
