#exposeVariableModelSpecific()
<!DOCTYPE html>
<html>
<head>
<title></title>

#putKendoUIJSImport()

</head>
<body>
<script type="text/javascript">
function openEntityContent(entity) {
#foreach ($table in $entities)
#exposeVariableEntitySpecific()
#exposeKendoUIEntitySpecific()
  if (entity == "${table.name}") {
    $("#entity-content").load("$entityFullPath");
  }
#end
#foreach ($query in $model.getStatementModel().getQueries().getQueries()) 
#exposeQuerySpecific()
#set($table=$query.inputBean)
#exposeVariableEntitySpecific()
#exposeKendoUISddSpecific()
  if (entity == "${table.name}") {
    $("#entity-content").load("$entityFullPath");
  }
#end
}

$(function () {

#putKendoUIMenu()

  });
</script>
<div class="k-content">
<ul id="${model.name}-Menu">
#foreach ($package in ${businessPackages})
#putKendoUIMenuPackage()
#end
#foreach ($package in ${businessPackageViews})
#putKendoUIMenuPackage()
#end
<li>sdd
#foreach ($query in $model.getStatementModel().getQueries().getQueries()) 
#exposeQuerySpecific()
#set($table=$query.inputBean)
#set($tableLabel=$i18nUtils.getI18nFromDBObject($table))
#set($accessUrl=$kendoUIUtils.getAccessUrl($table.name))
    <ul>
        <li><a onclick="openEntityContent('$table.name');"> $tableLabel</a></li>
    </ul>
#end
</li>
</ul>
</div>
<div id="entity-content">
</div>
</body>
</html>
