#macro(putReadmeText)
$!commonUtils.getReadMeText($template)
#end

#macro(exposeVariableFunctionSpecific)
#exposeVariableEntitySpecific()
#exposeFunction()
#end

#macro (exposeFunction)
#exposeFunctionTemplate()
#set ($in = $commonUtils.getDirection("IN"))
#set ($out = $commonUtils.getDirection("OUT"))
#set ($input = $function.getEntity($in))
#set ($output = $function.getEntity($out))
#set ($functionInputClass = $commonUtils.getTemplateClassName($input, $model, $templateFunctionInput))
#set ($functionInputVariable = $commonUtils.getJavaNameVariableFirstLetter($functionInputClass))
#set ($functionInputImport = $commonUtils.getEntityLevelTemplateFullPath($model, $input, $template, $templateFunctionInput))
#set ($functionOutputClass = $commonUtils.getTemplateClassName($output, $model, $templateFunctionOutput))
#set ($functionOutputVariable = $commonUtils.getJavaNameVariableFirstLetter($functionOutputVariable))
#set ($functionOutputImport = $commonUtils.getEntityLevelTemplateFullPath($model, $output, $template, $templateFunctionOutput))
#end

#macro (exposeFunctionTemplate)
#set ($templateFunctionInput = "StoredProcedureInputBean")
#set ($templateFunctionOutput = "StoredProcedureOutputBean")
#end

