#set ($table = $scope.modelEntity)
#exposeVariableEntitySpecific()
#putImportParams()
#exposeVariableEntitySpecificBslaDaoIbatis()
#exposeArchitectureParams()
package $packageName;

#distinctEntityProperty()
import $importDomainObject;
import $importDaoInterface;
import java.util.List;


/**
 *
 * <p>Title: $className</p>
 *
 * <p>Description: Interface of a Service dealing with $className
 * </p>
 *
 */
public interface $className {

    //private $daoInterfaceClassName $daoInterfaceVariableName;

    //public $tableClassName duplicate$tableClassName ($tableClassName $tableVariableName);
    
#foreach($strategy in $scope.strategies)
#set ($methodName = $serviceView.getStrategyMethod($strategy))
#set ($methodInputParameters = $serviceView.getStrategyInputParam($strategy))
#set ($methodOutputParameters = $serviceView.getStrategyOutputParam($strategy))
    public $methodOutputParameters $methodName ($methodInputParameters);

#end
}
