#exposeVariableEntitySpecific()
#exposeEnvironmentParams()
#exposeGrailsDomainSpecific()
#putImportParamsUML()
package $packageName

class ${className} {
     def scaffold = $domainObjectUMLClass
}
