#exposeVariableEntitySpecific()
#exposeEnvironmentParams()
#exposeGrailsDomainSpecific()
#putImportParamsUML()
package $packageName;

class ${className} {

#foreach ($column in ${table.attributes})
#putColumnParams()
#columnJavaNaming()
	$columnType $columnVar
#end

#foreach ($reference in $table.parents)
#putReferenceParams2()
    static belongsTo = [${colVar}: $linkedTableClass]  
#end

#foreach ($reference in $table.children)
#putReferenceParams2()
#if(!$linktableDB.isManyToMany())
	static hasMany = [${linkedTableVariable}${linkedColumnClass}s: $linkedTableClass]
#end
#end

	static mapping = {
#foreach($column in ${table.primaryKeyColumns})	
#putColumnParams()
#columnJavaNaming()
		id column: "$column.name"
#end		
	}

	static constraints = {
#foreach ($column in ${table.attributes})
#putColumnParams()
        ${colVar} unique: #if($isColumnUnique) true#else false#end, nullable: #if($column.isRequired())true #else false#end, #if($isLengthPrecisionColumn)maxSize: $column.size#end
#end	
	}
	
}
