<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <!-- Dao hibernate -->
    <import resource="classpath:sf/net/openreports/conference/factory/configuration/spring-config-hibernate-Conference-dao.xml"/>    

    <!-- hibernate config to put in an appart config file-->
    <bean id="hibernateconferenceFactory" autowire="byName"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="configLocation" value="sf/net/openreports/conference/persistence/Conference.cfg.xml" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
            </props>
        </property>
		<property name="dataSource"><ref bean="conferenceDataSource"/></property>
    </bean>
    
    <!-- Database -->
    <import resource="sf/net/openreports/conference/factory/configuration/spring-config-Conference-database.xml"/>    

</beans>
