#exposeVariableModelSpecific()
#exposeSDOSpecific()
#exposeADFReleaseSpecific()
<?xml version="1.0" encoding="UTF-8"?>
<oracle-webservices xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://xmlns.oracle.com/oracleas/schema/11/oracle-webservices-11_1.xsd" schema-major-version="11" schema-minor-version="1">
  <context-root>${contextRootName}</context-root>
  <webservice-description name="{${namespacePackage}}AppModuleService">
    <expose-wsdl>true</expose-wsdl>
    <expose-testpage>true</expose-testpage>
    <schema-file-mappings>
      <schema-file-mapping advertisedName="/xml/sdoModel.xsd" path="/xml/sdoModel.xsd"/>
      <schema-file-mapping advertisedName="/META-INF/wsdl/ServiceException.xsd" path="/META-INF/wsdl/ServiceException.xsd"/>
      <schema-file-mapping advertisedName="/xml/sdoJava.xsd" path="/xml/sdoJava.xsd"/>
#foreach ($table in $entities)
#exposeADFSDOEntitySpecific()
      <schema-file-mapping advertisedName="/${entityADFSDOXsdRelativePath}" path="/${entityADFSDOXsdRelativePath}"/>
#end
      <schema-file-mapping advertisedName="/xml/sdoXML.xsd" path="/xml/sdoXML.xsd"/>
      <schema-file-mapping advertisedName="/${appModuleADFSDOServiceXsdRelativePath}" path="/${appModuleADFSDOServiceXsdRelativePath}"/>
      <schema-file-mapping advertisedName="/META-INF/wsdl/BC4JService.xsd" path="/META-INF/wsdl/BC4JService.xsd"/>
      <schema-file-mapping advertisedName="/META-INF/wsdl/BC4JServiceCS.xsd" path="/META-INF/wsdl/BC4JServiceCS.xsd"/>
      <schema-file-mapping advertisedName="/xml/datagraph.xsd" path="/xml/datagraph.xsd"/>
    </schema-file-mappings>
    <port-component name="AppModuleService" enabled="true" schemaValidateInput="false">
      <mtom-support threshold="0">false</mtom-support>
      <endpoint-address-uri>/AppModuleService</endpoint-address-uri>
      <operations>
#foreach ($table in $entities)
#exposeADFSDOEntitySpecific()
        <operation name="update${domainClassName}View1" inputName="{${namespacePackage}}update${domainClassName}View1Input" outputName="{${namespacePackage}}update${domainClassName}View1Output" input="{${namespacePackage}types/}update${domainClassName}View1" use="literal"/>
        <operation name="create${domainClassName}View1" inputName="{${namespacePackage}}create${domainClassName}View1Input" outputName="{${namespacePackage}}create${domainClassName}View1Output" input="{${namespacePackage}types/}create${domainClassName}View1" use="literal"/>
        <operation name="delete${domainClassName}View1" inputName="{${namespacePackage}}delete${domainClassName}View1Input" outputName="{${namespacePackage}}delete${domainClassName}View1Output" input="{${namespacePackage}types/}delete${domainClassName}View1" use="literal"/>
        <operation name="get${domainClassName}View1" inputName="{${namespacePackage}}get${domainClassName}View1Input" outputName="{${namespacePackage}}get${domainClassName}View1Output" input="{${namespacePackage}types/}get${domainClassName}View1" use="literal"/>
        <operation name="process${domainClassName}View1" inputName="{${namespacePackage}}process${domainClassName}View1Input" outputName="{${namespacePackage}}process${domainClassName}View1Output" input="{${namespacePackage}types/}process${domainClassName}View1" use="literal"/>
        <operation name="find${domainClassName}View1" inputName="{${namespacePackage}}find${domainClassName}View1Input" outputName="{${namespacePackage}}find${domainClassName}View1Output" input="{${namespacePackage}types/}find${domainClassName}View1" use="literal"/>
        <operation name="merge${domainClassName}View1" inputName="{${namespacePackage}}merge${domainClassName}View1Input" outputName="{${namespacePackage}}merge${domainClassName}View1Output" input="{${namespacePackage}types/}merge${domainClassName}View1" use="literal"/>
        <operation name="processCS${domainClassName}View1" inputName="{${namespacePackage}}processCS${domainClassName}View1Input" outputName="{${namespacePackage}}processCS${domainClassName}View1Output" input="{${namespacePackage}types/}processCS${domainClassName}View1" use="literal"/>
#end
      </operations>
          </port-component>
    <enable-mex>true</enable-mex>
  </webservice-description>
</oracle-webservices>
