##exposeADFFacesModelSpecific()
#exposeADFFacesDataControlModelSpecific()
<?xml version="1.0" encoding="UTF-8" ?>
<DataControlConfigs xmlns="http://xmlns.oracle.com/adfm/configuration"
                    version="11.1.1.60.13" id="$className" Package="$packageName">
					
  <AdapterDataControl id="$ADFSDOWsDcImplClass"
                      FactoryClass="oracle.adf.model.adapter.DataControlFactoryImpl"
                      ImplDef="oracle.adf.model.adapter.bean.BeanDefinition"
                      SupportsTransactions="false" SupportsSortCollection="true"
                      SupportsResetState="true" SupportsRangesize="false"
                      SupportsFindMode="false" SupportsUpdates="true"
##                      Definition="datacontrol.common.ReferenceDataEBS_WS_DC"
##                      Definition="$ADFSDOWsDcDefImport"
                      Definition="$ADFSDOWsDcImplImport"
##                      BeanClass="datacontrol.common.ReferenceDataEBS_WS_DC"
##                      BeanClass="$ADFSDOWsDcFaceImport"
                      BeanClass="$ADFSDOWsDcImplImport"
                      xmlns="http://xmlns.oracle.com/adfm/datacontrol">
    <CreatableTypes>
#foreach ($table in ${entities})
#exposeADFFacesEntitySpecific()
#exposeADFFacesDomainObject($table)
#exposeADFFacesDataControlEntitySpecific()
      <TypeInfo FullName="$importDomainObjectUML"/>
#if($hasSearch)
      <TypeInfo FullName="$beanVOADFFacesQueryResponseImport"/>
      <TypeInfo FullName="$beanVOADFFacesQueryRequestImport"/>
#end
#end
    </CreatableTypes>
    <Source>
      <bean-definition BeanClass="$ADFSDOWsDcImplImport" xmlns="http://xmlns.oracle.com/adfm/adapter/bean"/>
    </Source>
  </AdapterDataControl>  
</DataControlConfigs>
