#exposeVariableForeignKeySpecific()
<?xml version="1.0" encoding="windows-1252" ?>
<!DOCTYPE Association SYSTEM "jbo_03_01.dtd">
<!-- $packageName -->
<Association
  xmlns="http://xmlns.oracle.com/bc4j"
  Name="$className"
  Version="11.1.1.61.92"
  InheritPersonalization="true">
  <DesignTime>
    <Attr Name="_isCodegen" Value="true"/>
  </DesignTime>
  <!--
#foreach ($reference in $foreignkey.references)
>>> $reference
${reference.foreignTable.alias}
${reference.localTable.alias}
${reference.localColumn.alias}

--
${reference.foreignTableName}
${reference.foreignColumnName}
#end
  -->
#foreach ($reference in $foreignkey.references)
#putReferenceParams2()
  <!-- target -->
  <AssociationEnd
    Name="$linkedTableClass"
    Cardinality="1"
    Source="true"
    Owner="$importDomainObjectUMLForeignTable">
    <DesignTime>
      <Attr Name="_aggregation" Value="0"/>
      <Attr Name="_finderName" Value="$linkedTableClass"/>
      <Attr Name="_foreignKey" Value="${importDomainObjectUMLForeignTable}.${linkedColumnClass}Pk"/>
      <Attr Name="_isUpdateable" Value="true"/>
      <Attr Name="_minCardinality" Value="1"/>
    </DesignTime>
    <AttrArray Name="Attributes">
      <Item Value="${importDomainObjectUMLForeignTable}.${linkedColumnClass}"/>
    </AttrArray>
  </AssociationEnd>
  
  <!-- fk field -->
  <AssociationEnd
    Name="$localTableClass"
    Cardinality="-1"
    Owner="$importDomainObjectUMLLocalTable">
    <DesignTime>
      <Attr Name="_aggregation" Value="0"/>
      <Attr Name="_finderName" Value="$localTableClass"/>
      <Attr Name="_foreignKey" Value="${importDomainObjectUMLLocalTable}.${localColumnClass}Fk"/>
      <Attr Name="_isUpdateable" Value="true"/>
    </DesignTime>
    <AttrArray Name="Attributes">
      <Item Value="${importDomainObjectUMLLocalTable}.${localColumnClass}"/>
    </AttrArray>
  </AssociationEnd>
#end
</Association>
