#set ($cloudName = $cloudUtils.getAppName($template))
#set ($releaseFileName = $cloudUtils.getReleaseFileName($template, $model))

cf login -a api.run.pivotal.io

cf create-service cleardb spark ${cloud.db.name}

## inject your db structure
## retrieve db info

mvn clean package

push $cloudName -n ${cloud.target.name}

