#set ($cloudName = $cloudUtils.getAppName($template))
#set ($releaseFileName = $cloudUtils.getReleaseFileName($template, $model))
##@rem bees app:bind -db ${cloudbees.db.name} -a ${cloudbees.app.name} -as ${cloudbees.binding.alias} 
##bees app:deploy -a $cloudName -t tomcat7 -Rjava_version=1.7 ${releaseFileName}

cf create-service cleardb spark ${cloud.db.name}

## inject your db structure
## retrieve db info

mvn clean package

push $cloudName -n ${cloud.target.name}

