#generatorSpecific()
#exposeMaven()
#exposeMavenCommonDependencies()
#exposeVariableModelSpecific()
##<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
	<modelVersion>4.0.0</modelVersion>	
    <groupId>${groupId}</groupId>
    <artifactId>$artifactId</artifactId>
    <version>${version}</version>
    <name>$artifactId App</name>
    <packaging>pom</packaging>	
	<description>${generatorBean.name} Application</description>
	<modules>
#exposeModelUpdatedAreas("modules")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else		
#foreach ($module in $mavenUtils.getModules($template))	
		<module>$module.name</module>
#end
#end
$!updatedAreaEnd
	</modules>

	<properties>
#putRESTDependencyVersions()
	</properties>
	
	<dependencyManagement>
		<dependencies>
			<dependency>
				<groupId>org.projectlombok</groupId>
				<artifactId>lombok</artifactId>
				<version>${lombok.version}</version>
				<scope>provided</scope>
			</dependency>
			
	        <dependency>
	            <groupId>junit</groupId>
	            <artifactId>junit</artifactId>
	            <version>${junit.version}</version>
	            <scope>test</scope>
	        </dependency>
        
	        <dependency>
	            <groupId>org.powermock</groupId>
	            <artifactId>powermock-module-junit4</artifactId>
	            <version>${powermock.version}</version>
	            <scope>test</scope>
	        </dependency>
        
	        <dependency>
	            <groupId>org.powermock</groupId>
	            <artifactId>powermock-api-mockito</artifactId>
	            <version>${powermock.version}</version>
	            <scope>test</scope>
	        </dependency>
        
		</dependencies>
	</dependencyManagement>
	
#addArea("custom-maven-nodes")
	<build>
		<pluginManagement>
			<plugins>
#exposeCompilerPlugin()
#exposeJacocoPluginDep()
#exposeSassPluginDep()
			</plugins>
		</pluginManagement>
	</build>
</project>