#macro (exposeVaadinDomainObject)
#exposeVaadinTemplate()
#set ($domainObjectListClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateDomainObjectListVaadin))
#set ($domainObjectListVariable = $commonUtils.getJavaNameVariableFirstLetter($domainObjectListClass))
#set ($domainObjectListImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateDomainObjectListVaadin))
#set ($domainObjectListViewClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateDomainObjectListViewVaadin))
#set ($domainObjectListViewVariable = $commonUtils.getJavaNameVariableFirstLetter($domainObjectListViewClass))
#set ($domainObjectListViewImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateDomainObjectListViewVaadin))
#set ($domainObjectSearchViewClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateDomainObjectSearchViewVaadin))
#set ($domainObjectSearchViewVariable = $commonUtils.getJavaNameVariableFirstLetter($domainObjectListViewClass))
#set ($domainObjectSearchViewImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateDomainObjectSearchViewVaadin))
#set ($domainObjectFormClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateDomainObjectFormVaadin))
#set ($domainObjectFormVariable = $commonUtils.getJavaNameVariableFirstLetter($domainObjectFormClass))
#set ($domainObjectFormImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateDomainObjectFormVaadin))
#set ($domainObjectApplicationClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateDomainObjectApplicationVaadin))
#set ($domainObjectApplicationVariable = $commonUtils.getJavaNameVariableFirstLetter($domainObjectApplicationClass))
#set ($domainObjectApplicationImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateDomainObjectApplicationVaadin))
#set ($domainObjectContainerClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateDomainObjectContainerVaadin))
#set ($domainObjectContainerVariable = $commonUtils.getJavaNameVariableFirstLetter($domainObjectContainerClass))
#set ($domainObjectContainerImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateDomainObjectContainerVaadin))
#end

#macro (exposeVaadinApps)
#set($vaadinApplications = $vaadinPlugin.getVaadinApplications($model))
#end

#macro (exposeFormParams)
#putColumnParams()
#if ($columnType=="java.math.BigDecimal")
#set ($convertMethod = "getBigInteger")
#else 
#set ($convertMethod = "get${columnType}")
#end
#end

#macro (exposeVaadinApp)
#set ($table = $vaadinApp.entity)
#exposeVariableEntitySpecific()
#exposeVaadinDomainObject()
#set ($vaadinAppName = $domainObjectApplicationClass)
#set ($vaadinAppClass = $domainObjectApplicationImport)
#end

#macro (exposeVaadinTemplate)
#set ($templateDomainObjectFormVaadin = "DomainObjectFormVaadin")
#set ($templateDomainObjectContainerVaadin = "DomainObjectContainerVaadin")
#set ($templateDomainObjectListVaadin = "DomainObjectListVaadin")
#set ($templateDomainObjectListViewVaadin = "DomainObjectListViewVaadin")
#set ($templateDomainObjectApplicationVaadin = "DomainObjectApplicationVaadin")
#set ($templateDomainObjectSearchViewVaadin = "DomainObjectSearchViewVaadin")
#end

#macro (putVaadinClassObjectAndPackage)
#exposeVariableEntitySpecific()
#exposeVaadinDomainObject()
#putImportParamsUML()
package ${packageName};
#end

