#exposeVariableModelSpecific()
project --topLevelPackage com.springsource.petclinic

persistence setup --provider HIBERNATE --database HYPERSONIC_IN_MEMORY

#foreach ($package in ${businessPackages})
#foreach ($table in ${package.listOfTables})
#exposeVariableEntitySpecific()
#if(!$isMany2Many)
entity --class ~.domain.${package.name}.${tableClassName} --testAutomatically
#end
#end
#end
	
#foreach ($package in ${businessPackages})
#foreach ($table in ${package.listOfTables})
#exposeVariableEntitySpecific()
#if(!$isMany2Many)
#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
-- question what to do with primary key $columnType $columnVar
#end
#end

#foreach ($column in ${table.attributes})
#putRooColumnParams()
field $rooConsoleType --fieldName $columnVar ${minSizeChunk} ${notNullChunk} ${sizeMaxChunk} --class ~.domain.${package.name}.${tableClassName}
#end

#end
#end	
	
#foreach ($package in ${businessPackages})
#foreach ($table in ${package.listOfTables})
#exposeVariableEntitySpecific()
#if(!$isMany2Many)
#foreach ($reference in $table.children)
#putReferenceParams2()
field set --class ~.domain.${localTableClass} --fieldName ${linkedTableVariable}${linkedColumnClass}s --element ~.domain.${linkedTableClass} --mappedBy $linkedColumnVariable ${notNullChunk} --cardinality MANY_TO_ONE
#end
#end
#end
#end
	
perform eclipse
perform assembly	