#macro (putRooColumnParams)
#putColumnParams()
#set($rooColumn=$rooUtils.getRooColumn($column))
#set($minSizeChunk=$rooColumn.minSizeChunk)
#set($sizeMaxChunk=$rooColumn.sizeMaxChunk)
#set($rooConsoleType=$rooColumn.rooConsoleType)
#set($typeChunk=$rooColumn.typeChunk)
#set($notNullChunk=$rooColumn.notNullChunk)
#end

#macro (putRooEntityParams)
#exposeVariableEntitySpecific()
#set($identifierField=$primaryKeyVariable)
#set($identifierColumn=$primaryKeyFirstColumn.name)
##set($column=$primaryKeyFirstColumn)
#set($identifierType=$primaryKeyFullType)
#end

#macro(rooCommand)
#getTemplatePropertyValue("showShellCommand")
#if ($value.equals("true"))
#if ($template.fileExtension=="cmd")
#set ($shell = "call roo ")
#else
#set ($shell = "roo ")
#end
#else
#set ($shell = "")
#end
#end

#macro (putRooReferenceParams)
#putReferenceParams2()
#if($isMandatory)
#set($notNullChunk="--notNull")
#else
#set($notNullChunk="")
#end
#end
