#exposeVariableEntitySpecific()
#exposeEnvironmentParams()
package $packageName;

import java.util.List;
import java.util.ArrayList;

/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: Java Bean ${className} </p>
 *
 */
public class ${className} {

    private List<${domainClassName}> ${domainVariableName};

    /**
    * Default constructor
    */
    public ${className}() {
    }
	
#putGetterSetter(${domainClassName}, ${domainVariableName})

}
