npm i ember-bootstrap

npm install append-query
ember install ember-truth-helpers
ember install ember-cli-string-helpers
npm i lodash

ember install ember-cli-sass
# https://stackoverflow.com/questions/56179210/how-do-i-install-bootstrap-4-template-to-ember-web-project
ember install ember-bootstrap

## https://github.com/FortAwesome/ember-fontawesome
ember install @fortawesome/ember-fontawesome
npm i --save-dev @fortawesome/free-solid-svg-icons

ember install ember-power-select

## how to use fa icon directlty ?
## npm install --save @fortawesome/fontawesome-free