#exposeQuerySpecific()
#set($table=$query.inputBean)
#exposeVariableEntitySpecific()
#putImportQuerySDDBean()
#putImportSDDInputBean()
import Ember from 'ember';

import BaseController from '../base';

import _ from 'lodash';

import config from '../../config/environment';
export default BaseController.extend({
	${model.name}Service : Ember.inject.service("${model.name}"),
	model(params) {
        return this.get('${model.name}Service').${classVariableName}(params);
    },
});
