##exposeADFFacesModelSpecific()
#exposeADFFacesDataControlModelSpecific()
<?xml version="1.0" encoding="UTF-8" ?>
<DataControlConfigs xmlns="http://xmlns.oracle.com/adfm/configuration"
                    version="11.1.1.60.13" id="$className" Package="view">
					
  <AdapterDataControl id="SDO_WS_DC"
                      FactoryClass="oracle.adf.model.adapter.DataControlFactoryImpl"
                      ImplDef="oracle.adf.model.adapter.bean.BeanDefinition"
                      SupportsTransactions="false" SupportsSortCollection="true"
                      SupportsResetState="true" SupportsRangesize="false"
                      SupportsFindMode="false" SupportsUpdates="true"
##                      Definition="datacontrol.common.ReferenceDataEBS_WS_DC"
                      Definition="$ADFSDOWsDcDefImport"
##                      BeanClass="datacontrol.common.ReferenceDataEBS_WS_DC"
                      BeanClass="$ADFSDOWsDcFaceImport"
                      xmlns="http://xmlns.oracle.com/adfm/datacontrol">
    <CreatableTypes>
#foreach ($table in ${entities})
#exposeADFFacesEntitySpecific()
#exposeADFFacesDomainObject($table)
      <TypeInfo FullName="$importDomainObjectUML"/>
#end
    </CreatableTypes>
    <Source>
      <bean-definition BeanClass="$ADFSDOWsDcDefImport" xmlns="http://xmlns.oracle.com/adfm/adapter/bean"/>
    </Source>
  </AdapterDataControl>  
</DataControlConfigs>
