#exposeADFFacesEntitySpecific()
#set($separator=$i18nUtils.getSeparator($template))
<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
  <c:set var="viewcontrollerBundle"
         value="#{adfBundle['view.I18N.viewBundle']}"/>
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1">
      <af:messages id="m1"/>
      <af:resource type="css" source="/stylesheets/form.css"/>
      <af:form id="f1">
        <af:panelFormLayout id="pfl1" fieldWidth="80%" labelWidth="20%"
                            styleClass="dialogFormLayout">
#foreach ($column in $table.columns)
#putColumnParamNaming()
          <af:inputText label="#{viewcontrollerBundle['$tableVariableName$separator$columnVar']}" id="dldet${columnVar}"
                        value="#{pageFlowScope.${viewEditEntityBeanVariable}.${entityADFVariable}.${columnVar}}"/>
#if($hasMessage)
            <af:panelLabelAndMessage label="#{viewcontrollerBundle['$tableVariableName$separator$columnVar']}" id="dldetplam4"
                                   for="dldetavailable">
                 <af:outputText value="#{pageFlowScope.${viewEditEntityBeanVariable}.${entityADFVariable}.${columnVar}}" id="dldet${columnVar}"/>
            </af:panelLabelAndMessage>
			  
#end
#end
        </af:panelFormLayout>
        
        <af:panelGroupLayout id="dldetpgl1" halign="end"  layout="horizontal">
                      <f:facet name="separator">
                        <af:spacer width="10" height="1"/>
                      </f:facet>
                      <af:commandButton text="#{viewcontrollerBundle['deleteTitle']}"
                                        id="dldetdelete" action="delete"/>
                      <af:commandButton text="#{viewcontrollerBundle['cancelTitle']}"
                                          id="dldetreturn" action="cancel"/>
                      <af:commandButton text="#{viewcontrollerBundle['saveTitle']}"
                                          id="dldetsave" action="save"/>
          </af:panelGroupLayout>
        
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
