#exposeVariableEntitySpecific()
#exposeADFFacesEntitySpecific()
#addedAreas()
#set($beanVOADFFacesVariable = $formatUtils.getJavaNameVariableConvertReservedWord($beanVOADFFacesVariable))
package $packageName;

$!updatedAreaImport
import java.sql.*;
import java.util.Date;
import java.util.List;
import java.util.ArrayList;
import java.util.Set;
import java.util.HashSet;
import java.util.Map;
import java.util.HashMap;
import javax.faces.model.SelectItem;

#if($addDomainSpecificMethod)
import org.apache.commons.lang.builder.HashCodeBuilder;
import org.apache.commons.lang.builder.ToStringBuilder;
import org.apache.commons.lang.builder.ToStringStyle;
#end
import java.io.Serializable;

#exposeADFFacesEntityImport()

import $beanVOADFFacesImport;

/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: Domain Object describing a ${className} entity</p>
 *
 */

public class ${className} implements Serializable {

	private List<$beanVOADFFacesClass> list$beanVOADFFacesClass;
		
#putGetterAdder ("List$beanVOADFFacesClass", "list$beanVOADFFacesClass", $beanVOADFFacesClass, $beanVOADFFacesVariable)

$!updatedAreaImplementation

}
