#exposeADFQuerySpecific()
#set($table=$query.inputBean)
#set($domainClassName=$commonUtils.getJavaClassName($table))
#set($entryActivity="${domainClassName}")
#set($executeActivity="${domainClassName}Action")
<?xml version="1.0" encoding="UTF-8" ?>
<adfc-config xmlns="http://xmlns.oracle.com/adf/controller" version="1.2">
  <task-flow-definition id="$className">
    <default-activity id="__10">$entryActivity</default-activity>
    <data-control-scope id="__16">
      <shared/>
    </data-control-scope>
    <managed-bean id="__11">
      <managed-bean-name id="__13">${queryBackingBeanADFFaceVariable}</managed-bean-name>
      <managed-bean-class id="__14">${queryBackingBeanADFFaceImport}</managed-bean-class>
      <managed-bean-scope id="__12">pageFlow</managed-bean-scope>
    </managed-bean>
    <managed-bean id="__111">
      <managed-bean-name id="__113">${queryResponseBeanADFFaceVariable}</managed-bean-name>
      <managed-bean-class id="__114">${queryResponseBeanADFFaceImport}</managed-bean-class>
      <managed-bean-scope id="__112">pageFlow</managed-bean-scope>
    </managed-bean>
    <view id="${entryActivity}">
      <page>/$queryInputJsffADFFaceRelativePath</page>
    </view>
    <method-call id="${executeActivity}">
      <method>#{pageFlowScope.${queryBackingBeanADFFaceVariable}.get${sddOutputBeanCollectionClass}}</method>
      <outcome id="__5">
        <fixed-outcome>*</fixed-outcome>
      </outcome>
    </method-call>
    <control-flow-rule id="__6">
      <from-activity-id id="__7">${entryActivity}</from-activity-id>
      <control-flow-case id="__9">
        <from-outcome id="__15">execute</from-outcome>
        <to-activity-id id="__8">$executeActivity</to-activity-id>
      </control-flow-case>
    </control-flow-rule>
    <control-flow-rule id="__17">
      <from-activity-id id="__18">$executeActivity</from-activity-id>
      <control-flow-case id="__19">
        <to-activity-id id="__21">${entryActivity}</to-activity-id>
      </control-flow-case>
    </control-flow-rule>
    <use-page-fragments/>
  </task-flow-definition>
</adfc-config>
