#exposeADFFacesEntitySpecific()
#exposeADFFacesDataControlEntitySpecific()
#addedAreas()
#set($thisClassName=$className)
#set($thisPackageName=$packageName)
<?xml version="1.0" encoding="UTF-8" ?>
<JavaBean xmlns="http://xmlns.oracle.com/adfm/beanmodel" version="11.1.1.61.92"
          id="$thisClassName" Package="$thisPackageName"
          BeanClass="$beanVOADFFacesQueryRequestImport"
          isJavaBased="true">
  <AccessorAttribute id="${domainVariableName}" IsCollection="false"
                     BeanClass="$beanVOADFFacesImport"
                     CollectionBeanClass="UpdateableSingleValue"/>
  <AccessorAttribute id="criterias" IsCollection="true"
                     BeanClass="net.sf.minuteproject.adf.query.Criteria"
                     CollectionBeanClass="UpdateableCollection"/>
  <AccessorAttribute id="pagination" IsCollection="false"
                     BeanClass="net.sf.minuteproject.adf.query.Pagination"
                     CollectionBeanClass="UpdateableSingleValue"/>
  <AccessorAttribute id="sort" IsCollection="false"
                     BeanClass="net.sf.minuteproject.adf.query.SortType"
                     CollectionBeanClass="UpdateableSingleValue"/>
  <ConstructorMethod IsCollection="true"
                     Type="$beanVOADFFacesQueryRequestImport"
                     BeanClass="$beanVOADFFacesQueryRequestImport"
                     id="$thisClassName"/>
</JavaBean>
