#exposeADFFacesEntitySpecific()
#exposeADFDataBindingControlSpecific()
#exposeADFFacesDataControlEntitySpecific()
#exposeADFFacesDomainObject()
#exposeFrontEndBackendBindingType()
#set($beanVOADFFacesVariable = $formatUtils.getJavaNameVariableConvertReservedWord($beanVOADFFacesVariable))
<?xml version="1.0" encoding="UTF-8" ?>
<pageDefinition xmlns="http://xmlns.oracle.com/adfm/uimodel"
                version="11.1.1.61.92" id="$className"
                Package="${packageName}.$domainClassName">
  <parameters/>
  <executables>
    <variableIterator id="variables"/>
  </executables>
  <bindings>
    <methodAction id="get${domainClassName}" RequiresUpdateModel="true"
                  Action="invokeMethod" MethodName="get${domainClassName}"
                  IsViewObjectMethod="false" DataControl="${dataControlRef}"
                  InstanceName="${dataControlRef}.dataProvider"
                  ReturnName="data.${dataControlRef}.methodResults.get${domainClassName}_${dataControlRef}_dataProvider_get${domainClassName}_result">
      <NamedData NDName="$beanVOADFFacesVariable"
##                 NDValue="#{viewScope.${domainVariableName}BackingBean.$beanVOADFFacesVariable}"
                 NDType="$beanVOADFFacesImport"
                 NDOption="2"/>
    </methodAction>
  </bindings>
</pageDefinition>
