#exposeADFFacesEntitySpecific()
#exposeADFFacesDataControlEntitySpecific()
#addedAreas()
#set($thisClassName=$className)
#set($thisPackageName=$packageName)
<?xml version="1.0" encoding="UTF-8" ?>
<JavaBean xmlns="http://xmlns.oracle.com/adfm/beanmodel" version="11.1.1.61.92"
          id="$thisClassName" Package="$thisPackageName"
          BeanClass="$beanVOADFFacesQueryResponseImport"
          isJavaBased="true">
#set ($listClasses = $i18nUtils.plurialize("${beanVOADFFacesVariable}"))
  <AccessorAttribute id="${listClasses}" IsCollection="true"
                     AddMethod="add${domainClassName}"
                     BeanClass="$beanVOADFFacesImport"
                     CollectionBeanClass="UpdateableCollection">
    <Properties>
      <Property Name="AddMethod" Value="add${domainClassName}"/>
    </Properties>
  </AccessorAttribute>
  <MethodAccessor IsCollection="false" Type="void" id="add${domainClassName}"
                  ReturnNodeName="Return">
    <ParameterInfo id="${domainClassName}"
                   Type="$beanVOADFFacesImport"
                   isStructured="true"/>
  </MethodAccessor>
  <ConstructorMethod IsCollection="true"
                     Type="$beanVOADFFacesQueryResponseImport"
                     BeanClass="$beanVOADFFacesQueryResponseImport"
                     id="${domainClassName}QueryResponse"/>
</JavaBean>
