#exposeADFFacesModelSpecific()
#exposeADFFacesDataControlModelSpecific()
<?xml version="1.0" encoding="UTF-8" ?>
<JavaBean xmlns="http://xmlns.oracle.com/adfm/beanmodel" version="11.1.1.61.92"
          id="$className" Package="$packageName"
##          BeanClass="$ADFSDOWsDcFaceImport"
          BeanClass="$ADFSDOWsDcImplImport"
          isJavaBased="true">
		  
#foreach($table in $entities)
#exposeADFFacesEntitySpecific()
#exposeADFFacesDataControlEntitySpecific()
#if(!$isMany2Many)
#set($beanVOADFFacesVariable = $formatUtils.getJavaNameVariableConvertReservedWord($beanVOADFFacesVariable))
#if ($hasSearch)
  <MethodAccessor IsCollection="false"
                  Type="$beanVOADFFacesQueryResponseImport"
                  BeanClass="$beanVOADFFacesQueryResponseImport"
                  id="list$domainClassName"
                  ReturnNodeName="$beanVOADFFacesQueryResponseClass">
    <ParameterInfo id="request"
                   Type="$beanVOADFFacesQueryRequestImport"
                   isStructured="true"/>
  </MethodAccessor>
#end
  
  <MethodAccessor IsCollection="false" Type="$beanVOADFFacesImport"
                  id="createOrUpdate$domainClassName" ReturnNodeName="Return">
    <ParameterInfo id="$domainVariableName"
                   Type="$beanVOADFFacesImport"
                   isStructured="true"/>
  </MethodAccessor>
   
  <MethodAccessor IsCollection="false"
                  Type="$beanVOADFFacesImport"
                  BeanClass="$beanVOADFFacesImport"
                  id="get$domainClassName" ReturnNodeName="$domainClassName">
    <ParameterInfo id="$beanVOADFFacesVariable" Type="$beanVOADFFacesImport"
                   isStructured="true"/>
  </MethodAccessor>
  
  <MethodAccessor IsCollection="false" Type="void" id="delete$domainClassName"
                  ReturnNodeName="Return">
    <ParameterInfo id="$beanVOADFFacesVariable" Type="$beanVOADFFacesImport"
                   isStructured="true"/>
  </MethodAccessor>

#if ($tableUtils.isAdminContentType($table))
  <AccessorAttribute id="${beanVOADFFacesVariable}DropDownList" IsCollection="true"
                     BeanClass="$beanVOADFFacesImport"
                     CollectionBeanClass="UpdateableCollection"/>
		
#end

#end
#end
#foreach ($query in $model.getStatementModel().getQueries().getQueries())
#exposeADFQuerySpecific()
#putImportQuerySDDBean()
  <MethodAccessor IsCollection="false"
                  Type="$sddOutputBeanCollectionImport"
                  BeanClass="$sddOutputBeanCollectionImport"
                  id="$sddOutputBeanCollectionClass"
                  ReturnNodeName="$sddOutputBeanCollectionClass">
#if($isNotVoidInput)
    <ParameterInfo id="$sddInputBeanVariable"
                   Type="$sddInputBeanClass"
                   isStructured="true"/>
#end
  </MethodAccessor>
  <MethodAccessor IsCollection="false"
                  Type="$sddOutputBeanImport"
                  BeanClass="$sddOutputBeanImport"
                  id="get${sddOutputBeanClass}Detail"
                  ReturnNodeName="$sddOutputBeanClass">
#if($isNotVoidInput)
    <ParameterInfo id="$sddOutputBeanVariable"
                   Type="$sddOutputBeanClass"
                   isStructured="true"/>
#end
  </MethodAccessor>
#end
  <ConstructorMethod IsCollection="true"
                     Type="$packageName.${className}"
                     BeanClass="${packageName}.${className}"
                     id="${className}"/>
</JavaBean>
