#exposeADFReleaseSpecific()
<?xml version="1.0" encoding="UTF-8"?>
#if(!$isFrontEndRelease)
	<project default="deliver" basedir="." name="release">
#else
	<project default="release" basedir="." name="release">
#end
    <description>Build file for ADF artefacts</description>
    <!-- ===================================================================== -->
    <!-- import files -->
    <!-- ===================================================================== -->
	<property file="build.properties"/>
    <!-- ===================================================================== -->
    <!-- properties definitions -->
    <!-- ===================================================================== -->
    <!-- LOCAL PROPERTIES 	-->
#if(!$isFrontEndRelease)
    <property name="project.name" value="SDO-project"/>
	
	<target name="prepare-structure">
		<delete dir="${release.dir}" />
		<delete dir="${build.dir}" />
		<mkdir dir="${release.dir}"/>
		<mkdir dir="${build.dir}"/>
	</target>

	<target name="release" depends="prepare-structure">
		<unzip src="deploy/${sdo.ear}"
			   dest="${build.dir}">
		</unzip>
		<unzip src="${build.dir}/${sdo.war}"
			   dest="${build.dir}/temp">
		</unzip>
		<copy todir="${build.dir}/temp" overwrite="true">
			<fileset dir="${oracle.original.sdo.dir}/war">
			</fileset>
		</copy>
		<copy todir="${build.dir}/temp/WEB-INF/wsdl" overwrite="true">
			<fileset dir="Model/src">
				<include name="**/*.xsd"/>
				<include name="**/*.wsdl"/>
			</fileset>
		</copy>
		<copy todir="${build.dir}/temp/WEB-INF/wsdl" overwrite="true">
			<fileset dir="working/src">
				<include name="**/*.xml"/>
				<include name="**/*.xsd"/>
				<include name="**/*.wsdl"/>
			</fileset>
		</copy>
		<copy todir="${build.dir}/temp/WEB-INF" overwrite="true">
			<fileset dir="working/src">
				<include name="*.xml"/>
			</fileset>
		</copy>
		<zip destfile="${build.dir}/${sdo.war}" basedir="${build.dir}/temp"></zip>
		<delete dir="${build.dir}/temp"/>
		<zip destfile="${release.dir}/${sdo.ear}" basedir="${build.dir}"></zip>
	</target>
#end
#set($releaseDir="./deploy/")
#parse("./snippet/ADF.Deploy.ant.script.vm")

	<target name="deliver" description="deploy"
          depends="undeploy,deploy"/>
		  
</project>