#exposeADFBuildSpecific()
#exposeADFReleaseSpecific()
#exposeFrontEndBackendBindingType()
@rem check environment properties
@rem WLS_HOME
@rem JDEV_HOME
@rem ORACLE_MF_HOME
set JDEV_HOME=$JDEV_HOME
#if($isFrontEndRelease)
set WORKSPACE_HOME=$projectADFFacesJwsPhysicalDirPath
#else
set WORKSPACE_HOME=$projectJwsPhysicalDirPath
#end
set currentdir=%cd%

#if($isFrontEndRelease)
#if($isBindingSpring)
cd model-maven
call mvn clean package
cd ..
#end
cd ViewController
#if($hasAdfFacesCustomFwk)
xcopy $adfFacesCustomFwkHome %cd% /s /e /y
#end
#else
cd Model
#end
call ant
cd ..
call %JDEV_HOME%\jdev\bin\ojdeploy -buildfile $projectADFFacesJwsPhysicalDirPath/deploy_to_ear.ojdeploy.xml -define workspace.path=%WORKSPACE_HOME%,ear.filename=${releaseName}.ear

#if($isSdoRelease)
call ant
#end
#set($templateBuildTarget=$template.getPropertyValue("build-target-type","none"))
#set($isDeliver=($templateBuildTarget=="deliver"))
#if($isDeliver)
call ant deliver

#if($isSdoRelease)
call explorer http://${server-hostname}:${server-port}/$contextRootName/AppModuleService?wsdl
#end
#if($isFrontEndRelease)
call explorer http://${server-hostname}:${server-port}/$applicationName/faces/homePage.jspx
#end

@rem call selenium
#end