#exposeADFFacesModelSpecific()
<?xml version="1.0" encoding="windows-1252" ?>
<menu xmlns="http://myfaces.apache.org/trinidad/menu">
<groupNode id="ApplicationGroup" label="Application Management" idref="ApplicationGroup">
#foreach ($package in ${businessPackages})
#set($groupId="${package.name}Group")
#set($groupLabel=$package.name)
#set($groupIdRef="${package.name}Group")
   <!-- $package.name -->	
      <groupNode id="$groupId" label="$groupLabel" idref="$groupIdRef">   
#foreach ($table in ${package.listOfTables})
#exposeADFFacesEntitySpecific()
        <itemNode id="${domainClassName}Item" label="#{viewcontrollerBundle['${tableVariableName}']}"
                  action="goto${domainClassName}"
                  focusViewId="/${domainVariableName}"/>

#end
      </groupNode>
#end
   </groupNode>	
</menu>
