#exposeADFDataBindingControlSpecific()
#exposeADFQuerySpecific()
#set($table=$query.inputBean)
#set($queryClassName=$commonUtils.getJavaClassName($table))
<?xml version="1.0" encoding="UTF-8" ?>
<pageDefinition xmlns="http://xmlns.oracle.com/adfm/uimodel"
                version="11.1.1.61.92" id="$className"
                Package="${packageName}">
  <parameters/>
  <executables>
    <variableIterator id="variables"/>
    <taskFlow id="queryflowdefinition1"
##    <taskFlow id="${queryClassName}InputFlow"
              taskFlowId="/WEB-INF/taskflows/${queryInputResultJsffTaskFlowADFFaceRelativePath}#$queryInputResultJsffTaskFlowADFFaceClassName"
              activation="immediate"              
              xmlns="http://xmlns.oracle.com/adf/controller/binding">
      <parameters>
        <parameter id="${sddOutputBeanCollectionClass}" evaluate="eachUse"
                   xmlns="http://xmlns.oracle.com/adfm/uimodel"
                   value="#{pageFlowScope.${queryBackingBeanADFFaceVariable}.outputList}"/>
      </parameters>
    </taskFlow>
  </executables>
  <bindings/>
</pageDefinition>
