#exposeADFDataBindingControlSpecific()
#exposeADFQuerySpecific()
#putImportQuerySDDBean()
#exposeADFFacesCommon()
#set($table=$query.inputBean)
#set($queryClassName=$commonUtils.getJavaClassName($table))
<?xml version="1.0" encoding="UTF-8" ?>
<pageDefinition xmlns="http://xmlns.oracle.com/adfm/uimodel"
                version="11.1.1.61.92" id="$className"
                Package="${packageName}">
  <parameters/>
  <executables>
    <variableIterator id="variables"/>
    <taskFlow id="queryflowdefinition1"
##    <taskFlow id="${queryClassName}InputFlow"
              taskFlowId="/WEB-INF/taskflows/${queryInputResultJsffTaskFlowADFFaceRelativePath}#$queryInputResultJsffTaskFlowADFFaceClassName"
              activation="immediate"              
              xmlns="http://xmlns.oracle.com/adf/controller/binding">
      <parameters>
#if($isNotVoidInput)
        <parameter id="${sddInputBeanVariable}" evaluate="eachUse"
                   xmlns="http://xmlns.oracle.com/adfm/uimodel"
                   value="#{pageFlowScope.${queryBackingBeanADFFaceVariable}.${sddInputBeanVariable}}"/>
#end
      </parameters>
    </taskFlow>
  </executables>
  <bindings>
    <methodAction id="get${sddOutputBeanCollectionClass}1"
                  InstanceName="UlysseSdoWsDcImpl.dataProvider"
                  DataControl="UlysseSdoWsDcImpl" RequiresUpdateModel="true"
                  Action="invokeMethod" MethodName="get${sddOutputBeanCollectionClass}"
                  IsViewObjectMethod="false"
                  ReturnName="data.UlysseSdoWsDcImpl.methodResults.get${sddOutputBeanCollectionClass}1_result">
#if($isNotVoidInput)
      <NamedData NDName="${sddInputBeanVariable}" NDValue="#{pageFlowScope.${queryBackingBeanADFFaceVariable}.${sddInputBeanVariable}}"
                 NDType="${sddInputBeanImport}"
                 NDOption="2"/>
#end
    </methodAction>
  </bindings>
</pageDefinition>
