#exposeADFBuildSpecific()
#exposeADFReleaseSpecific()
// check environment properties
// WLS_HOME
// JDEV_HOME
// ORACLE_MF_HOME
set JDEV_HOME=$JDEV_HOME
set WORKSPACE_HOME=$projectJwsPhysicalDirPath
cd Model
call ant
cd ..
call %JDEV_HOME%\jdev\bin\ojdeploy -buildfile deploy_to_ear.ojdeploy.xml -define workspace.path=%WORKSPACE_HOME%,ear.filename=${releaseName}.ear
call ant
