#exposeADFFacesEntitySpecific()
#exposeADFDataBindingControlSpecific()
#exposeADFFacesDataControlEntitySpecific()
#exposeADFFacesDomainObject()
#exposeFrontEndBackendBindingType()
<?xml version="1.0" encoding="UTF-8" ?>
<pageDefinition xmlns="http://xmlns.oracle.com/adfm/uimodel"
                version="11.1.1.61.92" id="$className"
                Package="${packageName}.$domainClassName">
  <parameters/>
  <executables>
    <variableIterator id="variables"/>
    <methodIterator Binds="listAvailableForItems.result"
                    DataControl="$dataControlRef" RangeSize="25"
                    BeanClass="$importDomainObjectUML"
                    id="listAvailableForItemsIterator"/>
  </executables>
  <bindings>
    <methodAction id="delete${domainClassName}" RequiresUpdateModel="true"
                  Action="invokeMethod" MethodName="delete${domainClassName}"
                  IsViewObjectMethod="false" DataControl="$dataControlRef"
                  InstanceName="${dataControlRef}.dataProvider">
      <NamedData NDName="$domainVariableName" NDType="$importDomainObjectUML" NDOption="2"/>
    </methodAction>
    <methodAction id="createOrUpdate${domainClassName}" RequiresUpdateModel="true"
                  Action="invokeMethod" MethodName="createOrUpdate${domainClassName}"
                  IsViewObjectMethod="false" DataControl="$dataControlRef"
                  InstanceName="${dataControlRef}.dataProvider">
      <NamedData NDName="$domainVariableName" NDType="$importDomainObjectUML"
                 NDOption="2"/>
    </methodAction>
#if($todo)
    <methodAction id="get${domainClassName}" RequiresUpdateModel="true"
                  Action="invokeMethod" MethodName="get${domainClassName}"
                  IsViewObjectMethod="false"
                  DataControl="${dataControlRef}"
                  InstanceName="${dataControlRef}.dataProvider"
                  ReturnName="data.${dataControlRef}.methodResults.get${domainClassName}_${dataControlRef}_dataProvider_get${domainClassName}_result">
      <NamedData NDName="$domainVariableName"
                 NDType="$importDomainObjectUML" NDOption="2"/>
	</methodAction>
    <methodAction id="listAvailableForItems" RequiresUpdateModel="true"
                  Action="invokeMethod" MethodName="listAvailableForItems"
                  IsViewObjectMethod="false"
                  DataControl="${dataControlRef}"
                  InstanceName="${dataControlRef}.dataProvider"
                  ReturnName="data.${dataControlRef}.methodResults.listAvailableForItems_${dataControlRef}_dataProvider_listAvailableForItems_result"/>
    <list IterBinding="listAvailableForItemsIterator" ListOperMode="navigation"
          ListIter="listAvailableForItemsIterator" id="${domainClassName}"
          DTSupportsMRU="true">
      <AttrNames>
        <Item Value="key"/>
        <Item Value="value"/>
      </AttrNames>
    </list>
#end
  </bindings>
</pageDefinition>
