#exposeADFFacesModelSpecific()
#exposeADFFacesDataControlModelSpecific()
#exposeADFDataBindingControlSpecific()
<?xml version="1.0" encoding="UTF-8" ?>
<Application xmlns="http://xmlns.oracle.com/adfm/application"
             version="11.1.1.60.13" id="$className" SeparateXMLFiles="false"
             Package="$packageName" ClientType="Generic">
  <definitionFactories>
    <factory nameSpace="http://xmlns.oracle.com/adf/controller/binding"
             className="oracle.adf.controller.internal.binding.TaskFlowBindingDefFactoryImpl"/>
    <dtfactory className="oracle.adf.controller.internal.dtrt.binding.BindingDTObjectFactory"/>
  </definitionFactories>
  <pageMap>
#foreach ($table in ${entities})
#exposeADFFacesEntitySpecific()
    <page path="/$entityEntryADFFaceRelativePath"
          usageId="view_${domainVariableName}PageDef"/>
#if($isBindingDBDirect)
    <page path="/$entityQueryEntryADFFaceRelativePath"
          usageId="viewQuery_${domainVariableName}PageDef"/>	  
#end
#end
  </pageMap>
  <pageDefinitionUsages>
##    <page id="view_navigatorsPageDef" path="pages.common.navigatorsPageDef"/>
#foreach ($table in ${entities})
#exposeADFFacesEntitySpecific()
    <page id="view_${domainVariableName}PageDef"
          path="$pageDefADFFacesEntityImport"/>
#if($isBindingDBDirect)
    <page id="viewQuery_${domainVariableName}PageDef"
          path="$pageDefADFFacesEntityQueryImport"/>
##    <page id="view_edit${domainVariableName}PageDef"
##          path="$pageDefADFFacesEntityImport"/>
#end
#end
  </pageDefinitionUsages>

  <dataControlUsages>
#if ($isBindingMock)
    <dc id="TableDataProvider" path="tabledatacontrol.TableDataProvider"/>
#elseif($isBindingDBDirect)	
    <BC4JDataControl id="AppModuleDataControl" Package="${modelADFAppModulerPackageName}"
                     FactoryClass="oracle.adf.model.bc4j.DataControlFactoryImpl"
                     SupportsTransactions="true" SupportsFindMode="true"
                     SupportsRangesize="true" SupportsResetState="true"
                     SupportsSortCollection="true"
                     Configuration="AppModuleService" syncMode="Immediate"
                     xmlns="http://xmlns.oracle.com/adfm/datacontrol"/>
#elseif($isBindingWsSDO || $isBindingSpring)
## this is something complex to understand:
## the path lead to a relative dir where stands a DataControls.dcx
## in this data control there is the name of the element
##    <dc id="$ADFSDOWsDcDefClass" path="$ADFSDOWsDcDefImport"/>
    <dc id="$ADFSDOWsDcDefClass" path="${modelADFFacesDataControlPackageName}.${ADFSDOWsDcDefClass}"/>
#end
  </dataControlUsages>

</Application>
