#exposeVariableModelSpecific() 
#putPlayTemplateDefinition()
# Routes
# This file defines all application routes (Higher priority routes first)
# ~~~~

# Import the default CRUD routes
*			/admin						module:crud
# Map static resources from the /app/public folder to the /public path
GET			/public/					staticDir:public

#foreach ($table in $model.businessModel.businessPackage.entities)
#exposeVariableEntitySpecific()
#exposeDOPlayParamsUML($table)
GET         /rest/xml/$controllerLabel/{$primaryKeyVariable}      ${playControllerClassName}.show${domainClassName}(format:'xml')
GET         /rest/json/$controllerLabel/{$primaryKeyVariable}     ${playControllerClassName}.show${domainClassName}(format:'json')
#end
