#exposeVariableEntitySpecific()
#exposeEnvironmentParams()
#putPlayTemplateDefinition()
#exposeImportPlayParamParamsUML ($table)
package $packageName;

import controllers.CRUD; //check if it can be generated under the same package
import play.*;
import play.mvc.*;

import $importDomainObjectUML;

@CRUD.For(${domainClassName}.class)
public class ${className} extends CRUD {

//    public static void show(Long id) {
//        parent();
//    }
}

