#exposeVariableEntitySpecific()
#exposeEnvironmentParams()
#putPlayTemplateDefinition()
#putImportParamsUML()
#set($attributecount=$attributes.length)
package $packageName;

import java.util.*;

import java.sql.*;
import java.util.Date;
import play.db.jpa.*;
import play.data.validation.*;
import play.templates.*;
import play.mvc.Scope.*;

import javax.persistence.*;

#printPlayDomainImport()

/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: Play Domain Object describing a ${className} entity</p>
 *
 */
@Entity (name="${className}")
@Table (name="${table.name}")
public class ${className} extends GenericModel {

#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
#if (!$isMany2Many)
#if (!$isPkUserProvided)
##    @Column(name="$column.name" #if($isLengthPrecisionColumn),length=$column.size#end)
#if ($databaseUtils.isPrimaryKeyPolicySequence($table))
#set ($sequenceName = $databaseUtils.provideSequence($table))
    @SequenceGenerator(name = "${table.name}SEQ", sequenceName ="$sequenceName", allocationSize=1 )
#end
#end
    @Id @Column(name="$column.name" #if($isLengthPrecisionColumn),length=$column.size#end)
#if (!$isMany2Many)
#if (!$isPkUserProvided)
#if ($databaseUtils.isPrimaryKeyPolicySequence($table))
#set ($sequenceName = $databaseUtils.provideSequence($table))
    @GeneratedValue(strategy = GenerationType.SEQUENCE, generator="${table.name}SEQ") 
#elseif ($databaseUtils.isPrimaryKeyPolicyIncrement($table))
    @GeneratedValue(strategy = GenerationType.AUTO)
#end
#end
#end
#end
    private $columnType $columnVar;

#end

#foreach ($column in ${table.attributes})
#putColumnParams()
#columnJavaNaming()
#if ($isView)
    @Column(name="$column.name",  #if($isLengthPrecisionColumn)length=$column.size,#end #if($column.isRequired())nullable=false#else nullable=true#end, #if($isColumnUnique)unique=true,#else unique=false,#end insertable=false, updatable=false)
#else
    @Column(name="$column.name",  #if($isLengthPrecisionColumn)length=$column.size,#end #if($column.isRequired())nullable=false#else nullable=true#end, #if($isColumnUnique)unique=true#else unique=false#end)
#end
#if ($isMandatory)
    @Required
#end
#if ($column.isLob())
#set($columnType="java.sql.$columnType")
    @Lob
#exposeLobProperties()
#if ($convertClobToString=="true")
#set($columnType="String")
#end
#end
#if ($playUtils.hasStereotype($column))
    @$playUtils.getStereotype($column)
#end
    private $columnType $columnVar; 
    
#end

#foreach ($reference in $table.parents)
#putReferenceParams2()
    @ManyToOne (fetch=FetchType.LAZY)
#if ($isView)
    @JoinColumn(name="$localColumnName", #if($localColumn.isRequired())nullable=false#else nullable=true#end, #if($isColumnUnique)unique=true,#else unique=false,#end insertable=false, updatable=false)
#else
#if(!$isMany2Many)
#exposeJPAFKisPKAnnotation()
    @JoinColumn(name="$localColumnName", #if($localColumn.isRequired())nullable=false#else nullable=true#end, #if($isColumnUnique)unique=true,#else unique=false#end $insertableUpdatable )
#else
    @JoinColumn(name="$localColumnName", #if($localColumn.isRequired())nullable=false#else nullable=true#end, #if($isColumnUnique)unique=true,#else unique=false,#end insertable=false, updatable=false)
#end
#end  
#if ($isMandatory && !$table.isLinkEntity())
    @Required
#end 
#exposeEnrichedPk($localColumn)
#if (!$isEnrichedPk)
#set($colVar = ${localColumnVariable})
#else
#set($colVar = ${linkedTableVariable})
#end
    private $linkedTableClass ${colVar}; 
    
#end
#foreach ($reference in $table.children)
#putReferenceParams2()
#if(!$linktableDB.isManyToMany())
#exposeDOPlayParamParamsUML($linktableDB)
##set ($importDomainObjectForeignTable = $bslaLibraryUtils.getDomainObjectUMLImport($model, $linktableDB, $template))
##set ($targetEntityClass="${importDomainObjectForeignTable}.class")
#set ($targetEntityClass="${domainObjectPlayUML}.class")
#exposeEnrichedPk(${reference.column})
#if (!$isEnrichedPk)
#set ($foreignColumnVar = $formatUtils.getJavaNameVariable($columnDB.name))
#else
#set ($foreignColumnVar = $domainVariableName)
#end
    @OneToMany (targetEntity=$targetEntityClass, fetch=FetchType.LAZY, mappedBy="$linkedColumnVariable"#if (!$reference.column.isRequired() || $reference.table.isLinkEntity()), cascade=CascadeType.REMOVE#end)//, cascade=CascadeType.ALL)
    private Set <$linkedTableClass> ${linkedTableVariable}${linkedColumnClass}s = new HashSet(); 
   
#end
#end

#foreach ($linkReference in $enrichmentUtils.getLinkedTargetReferenceByMany2Many($table))
#exposeM2MSpecific()
#exposeImportParamsUML($targetTable)
#set($targetColumn=$enrichmentUtils.getOtherColumn($linkedTableDB, $linkReference.localColumn))
    @ManyToMany
    @JoinTable(name="$linkedTableDBName", //$linkedTableDBName
        joinColumns=@JoinColumn(name="$targetColumn.name"), //$columnDB.name $targetColumn
        inverseJoinColumns=@JoinColumn(name="$linkReference.localColumnName") //$linkReference.localColumnName
    )
    private Set <$targetTableName> ${targetTableVariableName}Via${linkTableName}By${localColumnName}s = new HashSet();

#end

    /**
    * Default constructor
    */
    public ${className}() {
    }

#if ($isMany2Many)
    public ${className} get${className} () {
    	return this;
    }

    public void set${className} (${className} ${variableName}) {
    	new ${className}(
#foreach ($column in ${table.columns})
#putColumnParams()
       ${variableName}.get_${columnVar}()#if ($velocityCount!=$table.columnCount),
#end
#end 		
		);
    }
#end    

#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
##if(!$isForeignKey)
    public $columnType get$columnClass() {
        return $columnVar;
    }
	
    public void set$columnClass ($columnType $columnVar) {
        this.$columnVar =  $columnVar;
    }
    
##end
#end

#foreach ($column in ${table.attributes})
#putColumnParams()
#columnJavaNaming()
#if ($column.isLob())
#set($columnType="java.sql.$columnType")
#exposeLobProperties()
#if ($convertClobToString=="true")
#set($columnType="String")
#end
#end
    public $columnType get$columnClass() {
        return $columnVar;
    }
	
    public void set$columnClass ($columnType $columnVar) {
        this.$columnVar =  $columnVar;
    }
#end


#foreach ($reference in $table.parents)
#putReferenceParams2()
#exposeEnrichedPk($localColumn)
#if (!$isEnrichedPk)
    public $linkedTableClass get$localColumnClass () {  //
    	return ${localColumnVariable};
    }
	
    public void set${localColumnClass} ($linkedTableClass ${localColumnVariable}) {
    	this.${localColumnVariable} = ${localColumnVariable};//this.${localColumnVariable} = ${linkedTableVariable};
    }
#else
    public $linkedTableClass get${linkedTableClass} () {  //get$linkedTableVariable
    	return ${linkedTableVariable};//${localColumnVariable};
    }
	
   public void set${linkedTableClass} ($linkedTableClass ${linkedTableVariable}) {
    	this.${linkedTableVariable} = ${linkedTableVariable};//this.${localColumnVariable} = ${linkedTableVariable};
    }
    
#end 
#end

#foreach ($reference in $table.children)
#putReferenceParams2()
#if(!$linktableDB.isManyToMany())
    public Set<$linkedTableClass> get${linkedTableClass}${linkedColumnClass}s() {
        if (${linkedTableVariable}${linkedColumnClass}s == null){
            ${linkedTableVariable}${linkedColumnClass}s = new HashSet();
        }
        return ${linkedTableVariable}${linkedColumnClass}s;
    }

    public void set${linkedTableClass}${linkedColumnClass}s (Set<$linkedTableClass> ${linkedTableVariable}${linkedColumnClass}s) {
        this.${linkedTableVariable}${linkedColumnClass}s = ${linkedTableVariable}${linkedColumnClass}s;
    }	
    
    public void add${linkedTableClass}${linkedColumnClass} ($linkedTableClass ${linkedTableVariable}) {
    	    get${linkedTableClass}${linkedColumnClass}s().add($linkedTableVariable);
    }
    
#end    
#end
#foreach ($linkReference in $enrichmentUtils.getLinkedTargetReferenceByMany2Many($table))
#exposeM2MSpecific()
    public Set<$targetTableName> get${targetTableName}Via${linkTableName}By${localColumnName}s() {
        if (${targetTableVariableName}Via${linkTableName}By${localColumnName}s == null){
            ${targetTableVariableName}Via${linkTableName}By${localColumnName}s = new HashSet();
        }
        return ${targetTableVariableName}Via${linkTableName}By${localColumnName}s;
    }

    public void set${targetTableName}Via${linkTableName}By${localColumnName}s (Set<$targetTableName> ${targetTableVariableName}Via${linkTableName}By${localColumnName}s) {
        this.${targetTableVariableName}Via${linkTableName}By${localColumnName}s = ${targetTableVariableName}Via${linkTableName}By${localColumnName}s;
    }	

#end
    public String toString(){
       return $playUtils.getToString($table);
    }
}
