##to activate add -DenvTarget=xxx in the start command line 
#[[# ]]# Environment : $environment.name
environment.name = $environment.name
#foreach($property in $environment.properties)
${property.name}=${property.value}
#end