#exposeVariableModelSpecific()
#exposeArchitectureParams()
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

#set ($pathDaoHibernate = $bslaLibraryUtils.getModelLevelTemplateFullClassPath($model, $template, "BslaSpringConfigDaoHibernate2") )
#set ($pathHibernateConfig = $bslaLibraryUtils.getModelLevelTemplateFullClassPath($model, $template, "HibernateConfig") )
#set ($databaseConfig = $bslaLibraryUtils.getModelLevelTemplateFullClassPath($model, $template, "BslaSpringDatabase") )

    <!-- Dao hibernate -->
    <import resource="classpath:${pathDaoHibernate}.xml"/>    

    <!-- hibernate config to put in an appart config file-->
    <bean id="$hibernateFactoryName" autowire="byName"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:${pathHibernateConfig}.cfg.xml" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <!--<prop key="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</prop>-->
            </props>
        </property>
		<property name="dataSource"><ref bean="${model.name}DataSource"/></property>
    </bean>
    
    <!-- Database -->
    <import resource="classpath:${databaseConfig}.xml"/>    

</beans>
