#exposeVariableEntitySpecific()
#putImportParamsUML()
<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-mapping PUBLIC
    "-//Hibernate/Hibernate Mapping DTD 3.0//EN" 
    "http://hibernate.sourceforge.net/hibernate-mapping-3.0.dtd">

<hibernate-mapping default-lazy="false">
	<class name="$importDomainObjectUML" table="${table.name}">
		<!--<cache usage="read-write" />-->

#if($hasPrimaryKey)
	<id name="$primaryKeyVariable" column="$pK" type="$primaryKeyFullType">            
    <generator class="sequence"/>            
	</id>
#end

	<!-- map the fields of ${className} domain object  -->
#foreach ($column in ${table.noPrimaryKeyNoForeignKeyColumns})
#putColumnParams()
	<property name="$columnVar" column="$column.name" #if($column.isRequired())not-null="true"#else not-null="false"#end #if($isColumnUnique)unique="	true"#else unique="false"#end/> #end

#foreach ($reference in $table.parents)
#putReferenceParams2()
#exposeImportParamsUML($reference.foreignTable)
<!-- readonly links -->
	<property name="$localColumnVariable" column="${reference.localColumnName}" insert="false" update="false"/>

	<many-to-one name="${linkedTableVariable}${localColumnClass}" 
	 class="$importDomainObjectUML" 
	 column="$reference.localColumnName" 
	 #if($columnDB.isRequired())not-null="true"#else not-null="false"#end 
	 cascade="all"
	 />	
#end

#foreach ($reference in $table.children)
#putReferenceParams2()
#exposeImportParamsUML($reference.foreignTable)      <set name="${linkedTableVariable}${linkedColumnClass}s" table="$reference.foreignTableName" lazy="true">
        <key column="$reference.foreignColumnName" #if($columnDB.isRequired())not-null="true"#else not-null="false"#end/>
        <one-to-many class="$importDomainObjectUML"/>
    </set>		    
#end  

	</class>	</hibernate-mapping>
