#exposeVariableModelDetailSpecific()
#foreach($package in $businessPackages)
#foreach($table in $package.listOfTables)
#set ($sequenceName = $databaseUtils.provideSequence($table))
CREATE SEQUENCE ${sequenceName};
#end
#end