#putVaadinClassObjectAndPackage()
#exposeVaadinDomainObject()
#exposeVaadinModel()

import $modelApplicationImport;
import $menuImport;
import $domainObjectContainerImport;
import $domainObjectFormImport;
import $domainObjectListImport;
import $domainObjectListViewImport;
import $domainObjectSearchViewImport;
import $domainObjectApplicationImport;

import com.vaadin.data.Item;
import com.vaadin.data.Property;
import com.vaadin.data.Property.ValueChangeEvent;
import com.vaadin.data.Property.ValueChangeListener;
import com.vaadin.event.ItemClickEvent;
import com.vaadin.event.ItemClickEvent.ItemClickListener;
import com.vaadin.terminal.ThemeResource;
import com.vaadin.ui.Alignment;
import com.vaadin.ui.Button;
import com.vaadin.ui.Component;
import com.vaadin.ui.Embedded;
import com.vaadin.ui.HorizontalLayout;
import com.vaadin.ui.SplitPanel;
import com.vaadin.ui.Table;
import com.vaadin.ui.VerticalLayout;
import com.vaadin.ui.Button.ClickEvent;
import com.vaadin.ui.Button.ClickListener;
import com.vaadin.ui.Label;

import eu.livotov.tpt.gui.widgets.TPTMultiView.TPTView;

import $menuImport;

public class $className extends VerticalLayout implements TPTView, ClickListener, ValueChangeListener, ItemClickListener {

	//private Button newEntity = new Button("Add $table.name");
	//private Button search = new Button("Search");
	//private Button share = new Button("Share");
	//private Button help = new Button("Help");
	private SplitPanel horizontalSplit = new SplitPanel(SplitPanel.ORIENTATION_HORIZONTAL);

	// Lazyly created ui references
	//private $domainObjectListViewClass listView = null;
	//private $domainObjectSearchViewClass searchView = null;
	//private $domainObjectListClass list = null;
	private $domainObjectFormClass form = null;
	private Table table = null;
	
	public $className () {
		setSizeFull();

		addComponent(createToolbar());
		addComponent(horizontalSplit);
		setExpandRatio(horizontalSplit, 1);

		horizontalSplit.setSplitPosition(200, SplitPanel.UNITS_PIXELS);
		horizontalSplit.setFirstComponent(new $menuClass());

		horizontalSplit.setSecondComponent(getSplitPanel());
		horizontalSplit.setSizeFull();
	}
	
	private HorizontalLayout createToolbar() {
		HorizontalLayout lo = new HorizontalLayout();
		//$menuClass menu = new $menuClass();
		//lo.addComponent(newEntity);
		//lo.addComponent(search);
		lo.addComponent(new Label("powered by minuteproject"));
		//lo.addComponent(menu);
		
		lo.setMargin(true);
		lo.setSpacing(true);

		lo.setStyleName("sidebar");

		lo.setWidth("100%");

		Embedded em = new Embedded("", new ThemeResource("images/logo.png"));
		lo.addComponent(em);
		lo.setComponentAlignment(em, Alignment.MIDDLE_RIGHT);
		lo.setExpandRatio(em, 1);

		return lo;
	}

	public SplitPanel getSplitPanel() {
		SplitPanel splitPanel = new SplitPanel();
		table = new Table();
		table.setSizeFull();
		$domainObjectApplicationClass app  = new $domainObjectApplicationClass();
		table.setContainerDataSource(app.getDataSource());

		table.setVisibleColumns(${domainObjectContainerClass}.NATURAL_COL_ORDER);
		table.setColumnHeaders (${domainObjectContainerClass}.COL_HEADERS_ENGLISH);

		table.setColumnCollapsingAllowed(true);
		table.setColumnReorderingAllowed(true);

		table.setSelectable(true);
		table.setImmediate(true);

		table.setNullSelectionAllowed(false);
		table.addListener((ValueChangeListener)this);
		splitPanel.setFirstComponent(table);
		
		form = new $domainObjectFormClass();
		splitPanel.setSecondComponent(form);
		return splitPanel;	
	}
		
	public void viewActivated(String arg0, String arg1) {
		// TODO Auto-generated method stub
		
	}

	public void viewAttached() {
		// TODO Auto-generated method stub
		
	}

	public void viewDeactivated(String arg0) {
		// TODO Auto-generated method stub
		
	}

	public void viewRemoved() {
		// TODO Auto-generated method stub
		
	}
	private void setMainComponent(Component c) {
		horizontalSplit.setSecondComponent(c);
	}

	/*
	 * View getters exist so we can lazily generate the views, resulting in
	 * faster application startup time.
	 */


	public void buttonClick(ClickEvent event) {
		final Button source = event.getButton();

//		if (source == search) {
//			showSearchView();
//		} else if (source == newEntity) {
//			addAddress();
//		}
	}


	public void valueChange(ValueChangeEvent event) {
		Property property = event.getProperty();
		if (property == table) {
			Item item = table.getItem(table.getValue());
			if (item != form.getItemDataSource()) {
				form.setItemDataSource(item);
			}
		}
	}

	public void itemClick(ItemClickEvent event) {
//		if (event.getSource() == tree) {
//			Object itemId = event.getItemId();
//			if (itemId != null) {
//				if (itemId == NavigationTree.SHOW_ALL) {
//					// clear previous filters
//					refresh();
//				} else if (itemId == NavigationTree.SEARCH) {
//					showSearchView();
//				//} else if (itemId instanceof SearchFilter) {
//					//search((SearchFilter) itemId);
//				}
//			}
//		}
	}

//public void refresh() {
//					getDataSource().removeAllContainerFilters();
//					showListView();
//}

//	private void addAddress() {
//		refresh();
//		addressForm.addAddress();
//	}
}
