#exposeVariableModelDetailSpecific()
package $packageName;

import com.vaadin.terminal.ExternalResource;
import com.vaadin.ui.MenuBar;
import com.vaadin.ui.VerticalLayout;
import com.vaadin.ui.MenuBar.Command;
import com.vaadin.ui.MenuBar.MenuItem;

@SuppressWarnings("serial")
public class $className extends MenuBar {

    public $className () {

#foreach ($package in ${businessPackages})
#set($packageLabel=$formatUtils.getJavaNameVariable(${package.name}))
        final MenuBar.MenuItem ${packageLabel} = addItem("${packageLabel}", null);
#foreach ($table in ${package.listOfTables})
#if(!$table.isManyToMany())
#exposeVariableEntitySpecific()
#set($tableLabel=$i18nUtils.getI18nFromDBNameStripPrefix($table))
#set($tableLabelVariable=$formatUtils.getJavaNameVariable(${tableLabel}))
        final MenuBar.MenuItem $tableLabelVariable = ${packageLabel}.addItem("${tableLabelVariable}", menuCommand);
        addAction(${tableLabelVariable});
#end
#end
#end

    }

    private Command menuCommand = new Command() {
        public void menuSelected(MenuItem selectedItem) {
            getWindow().showNotification("Action " + selectedItem.getText());
        }
    };

    private void addAction (MenuItem menuItem){
        MenuBar.MenuItem search = menuItem.addItem("Search", null);
        search.addItem("All", menuCommand);
        search.addItem("Filter", menuCommand);
        search.addItem("Form", menuCommand);
        menuItem.addSeparator();
        menuItem.addItem("Add", menuCommand);    	
    }
}