body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#heading {
    padding: 20px;
    height: 30px;
    margin-bottom: 10px;
    background: #dddddd;
    border: 1px solid darkGray;
}

#footer {
	clear: both;
    padding: 5px;
    height: 15px;
    background: #dddddd;
    border: 1px solid darkGray;
}

#sidebarLeft {
    border: thin solid lightGray;
    padding: 5px;    
    float:left;
    width: 17%;
    background: #eeeeee;
    margin-bottom: 10px;
}

#sidebarLeft a {
    margin-bottom: 10px;
    display: block;
}

#content {
    padding: 5px;
    border: thin solid lightGray;
    background-color: LightBlue;
    float: right;
    width:80%;
    margin-bottom:10px;
}

.header {
    font-size: 1.4em;
    font-style: italic;
    font-family: Palatino;
    text-align: center;
}

a {
    color: DarkGray;
    font-size: small;
}
a:hover {
	color: LightBlue;
}

.ui-widget {
    font-family: Arial,sans-serif;
    font-size: small;
}

.ui-widget-content-borderless  tr, .ui-widget-content-borderless td {
    border: none;
    width: 27%;
    text-align: left;
}

.ui-datatable-odd {
    background: none repeat scroll 0 0 #F2F5F9;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    box-shadow: none !important;
}

.ui-inputfield {
    border: 2px solid #dadada !important; 
    border-radius: 7px !important;
}

.ui-inputfield:focus { 
    outline: none !important;
    border-color: #7bc1f7 !important;
    box-shadow: 0 0 10px #7bc1f7 !important;
}

.ui-accordion .ui-accordion-content {
   padding: 0;
}

.ui-panel {
    border: none;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-style: none !important;
}
.mp-column-center {
    width: 30%;
    text-align: center;
    margin-left: 50%;
}
