#exposeQuerySpecific()
#exposeSDDSpring()
#putImportQuerySDDBean()
#addedAreas()
package $packageName;

$!updatedAreaImport
import java.util.Date;
import java.util.List;
import java.util.ArrayList;
import java.io.*;
import java.sql.*;

import javax.servlet.http.*;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;

import javax.enterprise.context.RequestScoped;
import javax.faces.bean.ManagedBean;
import javax.faces.bean.ManagedProperty;

import $sddOutputBeanCollectionImport;
import $sddOutputBeanImport;
import $sddInputBeanImport;
##import $sddDaoInterfaceImport;
import $sddServiceInterfaceImport;
/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: remote interface for ${className} service </p>
 *
 */
@ManagedBean (name="${classVariableName}")
@RequestScoped
public class ${className} {

    @Autowired
    @Qualifier("${sddServiceInterfaceVariable}")
    ${sddServiceInterfaceClass} $sddServiceInterfaceVariable;

    private $sddInputBeanClass $sddInputBeanVariable = new $sddInputBeanClass();
    private $sddOutputBeanCollectionClass $sddOutputBeanCollectionVariable;
    private $sddInputBeanClass selected$sddInputBeanClass;

#exposeQueryUpdatedAreas("SDD_EXECUTE")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else
    public $sddOutputBeanCollectionClass execute () {
        $sddOutputBeanCollectionVariable = ${sddServiceInterfaceVariable}.execute(${sddInputBeanVariable});
        return $sddOutputBeanCollectionVariable;
    }
#end
$!updatedAreaEnd

#set ($table = $query.outputBean)
#putImportSDDBean()
    public List<$sddOutputBeanClass> getOutputList() {
        return ($sddOutputBeanCollectionVariable==null)?new ArrayList<$sddOutputBeanClass>():${sddOutputBeanCollectionVariable}.get${beanClass}s();
    }

#putGetterSetter($sddInputBeanClass, $sddInputBeanVariable)
#putGetterSetter($sddServiceInterfaceClass, $sddServiceInterfaceVariable)
#putGetterSetterAlt($sddInputBeanClass, "Selected$sddInputBeanClass", "selected$sddInputBeanClass")

$!updatedAreaImplementation

}