#exposeJSFEntitySpecific()
#exposeJSFModelSpecific()
#exposeSeparator()
#exposePrimefacesConfig()
#set($hasDisplayableChildren=$presentationUtils.hasDisplayableChildren($table))
#set($refCnt=1)
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="$primefacesNamespace">
<ui:composition template="$modelDecoratorJSFImport">
	<ui:define name="title">
		<h:outputText value="#{i18n.listTitle} of ${tableClassName}" />
	</ui:define>
	<ui:define name="heading">
		<h:outputText value="#{i18n.listHeading}" />
	</ui:define>
<ui:define name="body">
		
 <h:form id="form${tableClassName}"> 
     <p:growl id="growl" showDetail="true"/>
     <h:panelGroup id="dataPanel">  
        <p:dataTable value="#{${entityControllerJSFVariable}.lazyModel}" 
            id="${domainVariableName}Table" 
            var="item" 
            paginator="true" rows="10" 
            lazy="true"
			selection="#{${entityControllerJSFVariable}.selected${tableClassName}}" selectionMode="single"
            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
            rowsPerPageTemplate="10,20,50"
			emptyMessage="No ${tableClassName} found with given criteria"> 
            <p:ajax partialSubmit="true" event="rowSelect"
                    listener="#{${entityControllerJSFVariable}.onRowSelect}"
##                    update=":form${tableClassName} :form2:panel"/> 
                    update=":form2:panel #if ($hasDisplayableChildren):form2:childrenTab#end"/> 
#*            <p:ajax event="rowToggle" listener="#{${entityControllerJSFVariable}.recoverItemRowToggle}" />
            <p:column style="width:4%">  
                <p:rowToggler />  
            </p:column>
*#
            <f:facet name="header">  
                List of #{i18n.${tableVariableName}s}  
            </f:facet>
            <ui:include src="/$entityListRowJSFLocation">
               <ui:param name="isSemanticReference" value="false" />
             </ui:include>
#*	
#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
#if (!$isMany2Many && $isPkUserProvided)
            <p:column sortBy="#{item.${columnVar}}" filterBy="#{item.${columnVar}}" >  
                <f:facet name="header">  
                    <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}" />  
                </f:facet>  
                <h:outputText value="#{item.${columnVar}}" />  
            </p:column> 
#end
#end
#foreach ($column in $table.attributes)
#putColumnParams()
#columnJavaNaming()	
            <p:column sortBy="#{item.${columnVar}}" filterBy="#{item.${columnVar}}">  
                <f:facet name="header">  
                    <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}" />  
                </f:facet>  
                <h:outputText value="#{item.${columnVar}}" />  
            </p:column>  
#end
*#
        </p:dataTable>
    </h:panelGroup>
   </h:form>        
   <br/>
#set($update=":form${domainClassName}:${domainVariableName}Table,:form2:panel#if($hasDisplayableChildren),:form2:childrenTab#end,:form${domainClassName}:growl")
		
	<p:confirmDialog id="confirmDialog" message="Can you confirm your deletion?"
			header="Deletion process" severity="alert" widgetVar="confirmation" appendToBody="true">
		<h:form id="deletion">
			<p:commandButton id="confirm" value="Yes" oncomplete="confirmation.hide()" immediate="true"
				actionListener="#{${entityControllerJSFVariable}.deleteListener}" update="$update" />
			<p:commandButton id="decline" value="No" onclick="confirmation.hide()" type="button" /> 
	   </h:form>
	</p:confirmDialog>

  	<h:form id="form2">
			<p:panelGrid columns="3" id="panel" cellpadding="5" >
                <f:facet name="header">
                    <h:outputText value="#{i18n.${tableVariableName}} details "/>
                	<p:commandButton value="Save" icon="ui-icon-check"  actionListener="#{${entityControllerJSFVariable}.createOrUpdateListener}" update="$update" />  
                	<p:commandButton value="Clear" immediate="true" icon="ui-icon-cancel" process="@this" actionListener="#{${entityControllerJSFVariable}.clearListener}" update=":form2:panel#if($hasDisplayableChildren),:form2:childrenTab#end" style="margin:5px;"/>
##            	<p:commandButton value="Delete" icon="ui-icon-trash" onclick="confirmation.show()"/>  
                	<p:commandButton value="Delete" icon="ui-icon-trash" onclick="confirmation.show()"/>  
                </f:facet>
                <ui:include src="/$entityEditJSFLocation">
                   <ui:param name="affectFormId" value=":form2" />
                   <ui:param name="idValue" value="$refCnt" />
#set($refCnt=$refCnt+1)
                </ui:include>
            </p:panelGrid>
#if ($hasDisplayableChildren)
<p:tabView id="childrenTab" orientation="top|bottom|left|right"> 
	<p:ajax event="tabChange" listener="#{${entityControllerJSFVariable}.onTabChange}" />##update=":form:growl"/>
#foreach ($reference in $presentationUtils.getDisplayableChildren($table))
#putReferenceParams2()
#if(!$linktableDB.isManyToMany())
   <p:tab id="child-$childrenListVariable" title="$childrenListVariable" > 
		<p:toolbar id="add-$childrenListVariable">  
			<p:toolbarGroup align="left"> 
				<p:commandButton type="button" title="Add $linktableDB.name"  icon="ui-icon-document" onclick="add${childrenListClass}.show();" update=":form2:panel"/>
    		</p:toolbarGroup>
		</p:toolbar>
        <p:dataTable var="item" value="#{${entityControllerJSFVariable}.get${childrenListClass}()}" paginator="true" rows="10"  
                onRowSelectUpdate="display" 
                dynamic="true"  resizableColumns="true"
                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                rowsPerPageTemplate="5,10,15"> 
        <f:facet name="header">  
            List of #{i18n.$linkedTableVariable}  
        </f:facet>
#set ($entityListRowJSFLocation = $commonUtils.getArtifactRelativePathDirAndFullName($linktableDB, $template, $templateEntityListRowJSF))
        <ui:include src="/$entityListRowJSFLocation">
            <ui:param name="isSemanticReference" value="true" />
        </ui:include>
#*
#foreach($column in ${linktableDB.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
#if (!$isMany2Many && $isPkUserProvided)
            <p:column sortBy="#{item.${columnVar}}" filterBy="#{item.${columnVar}}" >  
                <f:facet name="header">  
                    <h:outputText value="#{i18n.$linkedTableVariable$separator$columnVar}" />  
                </f:facet>  
                <h:outputText value="#{item.${columnVar}}" />  
            </p:column> 
#end
#end		
#foreach ($column in $linktableDB.attributes)
#putColumnParams()
#columnJavaNaming()	
            <p:column sortBy="#{item.${columnVar}}" filterBy="#{item.${columnVar}}">  
                <f:facet name="header">  
                    <h:outputText value="#{i18n.$linkedTableVariable$separator$columnVar}" />  
                </f:facet>  
                <h:outputText value="#{item.${columnVar}}" />  
            </p:column>
#end
*#
            <p:column>
#set ($entityLinkControllerJSFClass = $commonUtils.getTemplateClassName($linktableDB, $model, $templateEntityControllerJSF))
#set ($entityLinkControllerJSFVariable = $commonUtils.getJavaNameVariableFirstLetter($entityLinkControllerJSFClass))
##                <p:commandButton value="Manage" id="detailButton${childrenListClass}" update=":form${childrenListClass}" title="Manage Details" oncomplete="detailDialog${childrenListClass}.show()" process="@this">
##                    <f:setPropertyActionListener value="#{item}" target="#{${entityLinkControllerJSFVariable}.selected${linkedTableClass}}" />
##                </p:commandButton >
                <p:commandButton value="Manage" 
					id="detailButton${childrenListClass}" 
					update=":form${childrenListClass}" 
					title="Manage Details"
					action="#{${entityLinkControllerJSFVariable}.reloadSelected}"
					actionListener="#{${entityLinkControllerJSFVariable}.setSelected${linkedTableClass}(item)}"
					oncomplete="detailDialog${childrenListClass}.show()" 
					process="@this"/>
            </p:column>
		</p:dataTable>
   </p:tab>
#end
#end
</p:tabView>
#end
	</h:form>

#if ($hasDisplayableChildren)
#foreach ($reference in $presentationUtils.getDisplayableChildren($table))
#putReferenceParams2()
#if(!$linktableDB.isManyToMany())
#set ($entityEditJSFLocation = $commonUtils.getArtifactRelativePathDirAndFullName($linktableDB, $template, $templateEntityEditJSF))
#set ($entityControllerJSFClass = $commonUtils.getTemplateClassName($linktableDB, $model, $templateEntityControllerJSF))
#set ($entityControllerJSFVariable = $commonUtils.getJavaNameVariableFirstLetter($entityControllerJSFClass))
	<p:dialog id="basicAdd${childrenListClass}" header="Add #{childrenListVariable}" widgetVar="add$childrenListClass" resizable="true" >  
		<h:form id="formAdd$childrenListVariable">
			<h:panelGrid columns="3" cellpadding="5" id="add${childrenListClass}">
			<ui:include src="/$entityEditJSFLocation">
				<ui:param name="affectFormId" value=":formAdd$childrenListVariable" />
                <ui:param name="idValue" value="$refCnt" />
#set($refCnt=$refCnt+1)
            </ui:include>
            </h:panelGrid>
			<p:commandButton actionListener="#{${entityControllerJSFVariable}.createOrUpdateListener}" id="cmdAdd${childrenListClass}" value="Add" icon="ui-icon-check" oncomplete="add${childrenListClass}.hide()" update="$update"/>
		</h:form>
	</p:dialog>

	<p:dialog id="basicDialog${childrenListClass}" header="#{${childrenListVariable}} Details" widgetVar="detailDialog${childrenListClass}" resizable="true" >  
		<h:form id="form${childrenListClass}">
			<h:panelGrid columns="3" cellpadding="5" id="display${childrenListClass}">
			<ui:include src="/$entityEditJSFLocation">
				<ui:param name="affectFormId" value=":form${childrenListClass}" />
                <ui:param name="idValue" value="$refCnt" />
#set($refCnt=$refCnt+1)
            </ui:include>
            </h:panelGrid>
			<p:commandButton actionListener="#{${entityControllerJSFVariable}.createOrUpdateListener}" id="cmdUpdate${childrenListClass}" value="Update" icon="ui-icon-check" oncomplete="detailDialog${childrenListClass}.hide()" update="$update"/>
			<p:commandButton actionListener="#{${entityControllerJSFVariable}.deleteListener}" id="cmdDelete${childrenListClass}" value="Delete" icon="ui-icon-trash" process="@this" oncomplete="detailDialog${childrenListClass}.hide()" update="$update"/>
		</h:form>
	</p:dialog>

#end
#end
#end


        </ui:define>
    </ui:composition>
</html>
