#exposeJSFEntitySpecific()
#exposeJSFModelSpecific()
#exposeSeparator()
#exposePrimefacesConfig()
#set($hasDisplayableChildren=$presentationUtils.hasDisplayableChildren($table))
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="$primefacesNamespace">
<ui:composition template="$modelDecoratorJSFImport">
	<ui:define name="title">
		<h:outputText value="#{i18n.listTitle} of ${tableClassName}" />
	</ui:define>
	<ui:define name="heading">
		<h:outputText value="#{i18n.listHeading}" />
	</ui:define>
<ui:define name="body">
		
 <h:form id="form${tableClassName}"> 
     <p:growl id="growl" showDetail="true"/>
     <h:panelGroup id="dataPanel">  
        <p:dataTable value="#{${entityControllerJSFVariable}.lazyModel}" 
            id="${domainVariableName}Table" 
            var="item" 
            paginator="true" rows="10" 
            lazy="true"
			selection="#{${entityControllerJSFVariable}.selected${tableClassName}}" selectionMode="single"
            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
            rowsPerPageTemplate="10,20,50"
			emptyMessage="No ${tableClassName} found with given criteria"> 
            <p:ajax partialSubmit="true" event="rowSelect"
                    listener="#{${entityControllerJSFVariable}.onRowSelect}"
##                    update=":form${tableClassName} :form2:panel"/> 
                    update=":form2:panel #if ($hasDisplayableChildren):form2:childrenTab#end"/> 
#*            <p:ajax event="rowToggle" listener="#{${entityControllerJSFVariable}.recoverItemRowToggle}" />
            <p:column style="width:4%">  
                <p:rowToggler />  
            </p:column>
*#
            <f:facet name="header">  
                List of #{i18n.${tableVariableName}s}  
            </f:facet>  
	
#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
#if (!$isMany2Many && $isPkUserProvided)
            <p:column sortBy="#{item.${columnVar}}" filterBy="#{item.${columnVar}}" >  
                <f:facet name="header">  
                    <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}" />  
                </f:facet>  
                <h:outputText value="#{item.${columnVar}}" />  
            </p:column> 
#end
#end
#foreach ($column in $table.attributes)
#putColumnParams()
#columnJavaNaming()	
            <p:column sortBy="#{item.${columnVar}}" filterBy="#{item.${columnVar}}">  
                <f:facet name="header">  
                    <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}" />  
                </f:facet>  
                <h:outputText value="#{item.${columnVar}}" />  
            </p:column>  
#end
#*            <p:column>
            	<p:commandLink id="selectButton" update=":form2:panel" title="Edit" process="@this">
         			<h:outputText value="Edit" /> 
         			<f:setPropertyActionListener value="#{item}" target="#{${entityControllerJSFVariable}.${tableVariableName}}" />
##                     			<f:setPropertyActionListener value="#{${domainVariableName}}" target="#{employeesController.current}" />
     			</p:commandLink >
     			|
     			<p:commandLink  id="detailButton" update=":form2:display" title="View Details" oncomplete="detailDialog.show()" process="@this">
     				<h:outputText value="View" />
         			<f:setPropertyActionListener value="#{item}" target="#{${entityControllerJSFVariable}.selected${tableClassName}}" />
##                     			<f:setPropertyActionListener value="#{${domainVariableName}}" target="#{employeesController.detailedEmployee}" />
     			</p:commandLink >
     			|
     			<p:commandLink  id="showDialogButton" update=":dialogForm:confirmDialog" title="Delete" oncomplete="confirmation.show()" process="@this">
     				<h:outputText value="Delete" />  
##                 				<f:setPropertyActionListener value="#{${domainVariableName}}" target="#{employeesController.detailedEmployee}" />
     				<f:setPropertyActionListener value="#{item}" target="#{${entityControllerJSFVariable}.selected${tableClassName}}" />
     			</p:commandLink >
			
        	</p:column>
*#
##putPrimefacesEntityRowExpansion()
        </p:dataTable>
    </h:panelGroup>
   </h:form>        
   <br/>
#set($update=":form${domainClassName}:${domainVariableName}Table,:form2:panel#if($hasDisplayableChildren),:form2:childrenTab#end,:form${domainClassName}:growl")
		
	<p:confirmDialog id="confirmDialog" message="Can you confirm your deletion?"
			header="Deletion process" severity="alert" widgetVar="confirmation" appendToBody="true">
		<h:form id="deletion">
			<p:commandButton id="confirm" value="Yes" oncomplete="confirmation.hide()" immediate="true"
				actionListener="#{${entityControllerJSFVariable}.deleteListener}" update="$update" />
			<p:commandButton id="decline" value="No" onclick="confirmation.hide()" type="button" /> 
	   </h:form>
	</p:confirmDialog>

  		<h:form id="form2">
##				<p:messages id="messages" autoUpdate="true"/>  
			<p:panelGrid columns="3" id="panel" >
                <f:facet name="header">
                    <h:outputText value="#{i18n.${tableVariableName}} details "/>
                	<p:commandButton value="Save" icon="ui-icon-check"  actionListener="#{${entityControllerJSFVariable}.createOrUpdateListener}" update="$update" />  
                	<p:commandButton value="Clear" immediate="true" icon="ui-icon-cancel" process="@this" actionListener="#{${entityControllerJSFVariable}.clearListener}" update=":form2:panel#if($hasDisplayableChildren),:form2:childrenTab#end" style="margin:5px;"/>
##            	<p:commandButton value="Delete" icon="ui-icon-trash" onclick="confirmation.show()"/>  
                	<p:commandButton value="Delete" icon="ui-icon-trash" onclick="confirmation.show()"/>  
                </f:facet>
                <ui:include src="/$entityEditJSFLocation">
                   <ui:param name="idValue" value="1" />
                </ui:include>
            </p:panelGrid>
#if ($hasDisplayableChildren)
<p:tabView id="childrenTab" orientation="top|bottom|left|right"> 
	<p:ajax event="tabChange" listener="#{${entityControllerJSFVariable}.onTabChange}" />##update=":form:growl"/>
#foreach ($reference in $presentationUtils.getDisplayableChildren($table))
#putReferenceParams2()
#if(!$linktableDB.isManyToMany())
   <p:tab id="child-$childrenListVariable" title="$childrenListVariable" > 
		<p:toolbar id="add-$linktableDB.alias">  
			<p:toolbarGroup align="left"> 
				<p:commandButton type="button" title="Add $linktableDB.name"  icon="ui-icon-document"/>         
    		</p:toolbarGroup>
		</p:toolbar>
        <p:dataTable var="item" value="#{${entityControllerJSFVariable}.get${childrenListClass}()}" paginator="true" rows="10"  
##                selection="#{${entityControllerJSFVariable}.selected${entityControllerJSFVariable}}" selectionMode="single" rowKey="#{${entityControllerJSFVariable}}"
                onRowSelectUpdate="display" 
                dynamic="true"  resizableColumns="true"
                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                rowsPerPageTemplate="5,10,15"> 
        <f:facet name="header">  
            List of #{i18n.$linkedTableVariable}  
        </f:facet>
#foreach($column in ${linktableDB.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
#if (!$isMany2Many && $isPkUserProvided)
            <p:column sortBy="#{item.${columnVar}}" filterBy="#{item.${columnVar}}" >  
                <f:facet name="header">  
                    <h:outputText value="#{i18n.$linkedTableVariable$separator$columnVar}" />  
                </f:facet>  
                <h:outputText value="#{item.${columnVar}}" />  
            </p:column> 
#end
#end		
#foreach ($column in $linktableDB.attributes)
#putColumnParams()
#columnJavaNaming()	
            <p:column sortBy="#{item.${columnVar}}" filterBy="#{item.${columnVar}}">  
                <f:facet name="header">  
                    <h:outputText value="#{i18n.$linkedTableVariable$separator$columnVar}" />  
                </f:facet>  
                <h:outputText value="#{item.${columnVar}}" />  
            </p:column>
#end
            <p:column>
                <p:commandLink  id="detailButton" update=":form2:display" title="View Details" oncomplete="detailDialog.show()" process="@this">
                    <h:outputText value="View" />
                    <f:setPropertyActionListener value="#{item}" target="#{${entityControllerJSFVariable}.selected${tableClassName}}" />
##                              <f:setPropertyActionListener value="#{${domainVariableName}}" target="#{employeesController.detailedEmployee}" />
                </p:commandLink >
                |
                <p:commandLink  id="showDialogButton" update=":form2:display" title="Delete" oncomplete="detailDialog.show()" process="@this">
                    <h:outputText value="Delete" />  
##                              <f:setPropertyActionListener value="#{${domainVariableName}}" target="#{employeesController.detailedEmployee}" />
                    <f:setPropertyActionListener value="#{item}" target="#{${entityControllerJSFVariable}.selected${tableClassName}}" />
                </p:commandLink >
            
            </p:column>
		</p:dataTable>
   </p:tab>
#end
#end
</p:tabView>
#end
#*                <p:panelGrid columns="3" id="panelfooter" >
        			<f:facet name="footer">  
            	        <p:commandButton value="Save" icon="ui-icon-check"  actionListener="#{${entityControllerJSFVariable}.createOrUpdateListener}" update=":form${domainClassName}:${domainVariableName}Table,:form2:panel" />  
            	        <p:commandButton value="Clear" immediate="true" icon="ui-icon-cancel" process="@this" actionListener="#{${entityControllerJSFVariable}.clearListener}" update=":form2:panel" style="margin:5px;"/>
            	        <p:commandButton value="Delete" icon="ui-icon-trash"  actionListener="#{${entityControllerJSFVariable}.deleteListener}" update=":form${domainClassName}:${domainVariableName}Table,:form2:panel" />  
            	    </f:facet> 
                </p:panelGrid>
*#
			   <p:dialog id="basicDialog" header="#{${domainVariableName}} Details" widgetVar="detailDialog"  resizable="false" >  
                <h:panelGrid columns="2" cellpadding="5" id="display">
#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
#columnJavaNaming()
#if (!$isMany2Many && $isPkUserProvided)
            <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}:" />  
            <h:outputText value="#{${entityControllerJSFVariable}.selected${domainClassName}.$columnVar}" />  
#end
#end  
#foreach ($column in $table.attributes)
#putColumnParams()
#columnJavaNaming() 
            <h:outputText value="#{i18n.$tableVariableName$separator$columnVar}:" />  
            <h:outputText value="#{${entityControllerJSFVariable}.selected${domainClassName}.$columnVar}" />  
#end				
                </h:panelGrid>
			</p:dialog>   

		</h:form>
#*    
    		<h:form id="dialogForm">
    			<p:confirmDialog id="confirmDialog" message="Confirm delete #{i18n.${tableVariableName}} item ?" header="Confirm Delete #{i18n.${tableVariableName}}" severity="alert" widgetVar="confirmation">  
    	                  	<f:facet name="message">
    						<h:outputText value="Delete #{i18n.${tableVariableName}} item ?" />
    						</f:facet>
    	                  
    	        <p:commandButton id="confirm" value="Yes" oncomplete="confirmation.hide()"  update=":form${domainClassName}:${domainVariableName}Table" />
    	                    ## actionListener="#{employeesController.destroyListener}"/>  
    	        <p:commandButton id="decline" value="No" onclick="confirmation.hide()" type="button" />   
    	                  
    			</p:confirmDialog>  
    		</h:form>
*#				
        </ui:define>
    </ui:composition>
</html>
