#exposeJSFApplicationSpecific()
#exposePrimefacesConfig()
#set($title="$model.name jsf web")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template="$modelDecoratorJSFImport">
    	<ui:define name="title">
    		<ui:insert name="title">#{i18n.pageNotFound.title}</ui:insert>
    	</ui:define>
    	<ui:define name="heading">
    		<h:outputText value="Menu" />
    	</ui:define>
		<ui:define name="body">
			<p>#{i18n.pageNotFound.body.part1} #{requestScope['javax.servlet.forward.request_uri']} #{i18n.pageNotFound.body.part2}</p>
    	</ui:define>
    </ui:composition>
</html>	
