#exposeJSFModelSpecific()
#exposePrimefacesConfig()
#set($title="$model.name jsf web")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="$primefacesNamespace">
<h:head>
	<title><ui:insert name="title">$model.name jsf web</ui:insert></title>
##	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="#{request.contextPath}${modelCssDefaultJSFImport}" />
</h:head>
<h:body>
    <div id="header">Powered by minuteproject</div>
<p:layout style="min-width:400px;min-height:200px;" id="layout">  
    <p:layoutUnit position="west" resizable="true" size="216">
    <ui:include src="Menu.xhtml" />
</p:layoutUnit>           
<!--    <div id="menu"><ui:include src="Menu.xhtml" /></div>
    <div id="content">                      -->
    <p:layoutUnit position="center">
    <p:panel>
        <ui:include src="BreadCrumb.xhtml" />
        <ui:insert name="body">Welcome petshop jsf web. Powered by minuteproject.</ui:insert>
    </p:panel>
    </p:layoutUnit>
    <!--</div>-->
    
</p:layout>
<div id="footer">footer</div> 
</h:body>
</html>