#exposeVariableEntitySpecific()
#exposeVaadinDomainObject()
package ${packageName};

import com.vaadin.ui.SplitPanel;
import $domainObjectListImport;
import $domainObjectFormImport;

@SuppressWarnings("serial")
public class $className extends SplitPanel {
	public ListView($domainObjectListClass list, $domainObjectForm form) {
		addStyleName("view");
		setFirstComponent(list);
		setSecondComponent(form);
		setSplitPosition(40);
	}
}
