#putVaadinClassObjectAndPackage()

import com.vaadin.ui.VerticalSplitPanel;
import $domainObjectListImport;
import $domainObjectFormImport;

@SuppressWarnings("serial")
public class $className extends VerticalSplitPanel {
	public $className ($domainObjectListClass list, $domainObjectFormClass form) {
		addStyleName("view");
		setFirstComponent(list);
		setSecondComponent(form);
		setSplitPosition(40);
	}
}
