#exposeVariableModelDetailSpecific()
package $packageName;

import com.vaadin.event.MouseEvents.ClickEvent;
import com.vaadin.ui.Button;
import com.vaadin.ui.HorizontalLayout;
import com.vaadin.ui.VerticalLayout;
import com.vaadin.ui.Window;

import eu.livotov.tpt.gui.widgets.TPTMultiView;
import eu.livotov.tpt.gui.widgets.TPTSizer;

#foreach ($package in ${businessPackages})
#foreach ($tableDB in ${package.listOfTables})
#if(!$tableDB.isManyToMany())
#exposeVaadinDomainObject()
import $domainObjectViewImport;
#end
#end
#end

public class $className extends Window {

	private VerticalLayout root = new VerticalLayout();
	private TPTMultiView controller = new TPTMultiView(true);

	public $className () {
		super("TPTMultiView Demo");
		initUI();
	}

	private void initUI() {
		setSizeFull();
		root.setSizeFull();
		root.setMargin(true);
		root.setSpacing(true);
		setContent(root);

#foreach ($package in ${businessPackages})
#foreach ($table in ${package.listOfTables})
#exposeVariableEntitySpecific()
#if(!$table.isManyToMany())
#exposeVaadinDomainObject()
		controller.addView("$tableVariableName", new $domainObjectViewClass());
#end
#end
#end

		controller.setSizeFull();
		root.addComponent(controller);

		HorizontalLayout h = new HorizontalLayout();
		h.setWidth("100%");

#foreach ($package in ${businessPackages})
#foreach ($table in ${package.listOfTables})
#exposeVariableEntitySpecific()
#if(!$table.isManyToMany())
		Button ${tableVariableName}Button = new Button("Go to view $tableVariableName");
		${tableVariableName}Button.setStyleName(Button.STYLE_LINK);
		${tableVariableName}Button.addListener(new Button.ClickListener() {
			public void buttonClick(ClickEvent event) {
				controller.switchView("$tableVariableName");
			}
			public void buttonClick(com.vaadin.ui.Button.ClickEvent event) {
				controller.switchView("$tableVariableName");
			}
		});		
		h.addComponent(${tableVariableName}Button);
#end
#end
#end

		h.addComponent(new TPTSizer("100%", null));

		root.addComponent(h);
		root.setExpandRatio(controller, 1.0f);
	}
}
