#macro (exposeMaven)
#set($hasDriver=$mavenUtils.hasDriver($model))
#set($driver=$mavenUtils.getDriver($model))
#set($version=$mavenUtils.getVersion($model))
#set($rootPackage=$mavenUtils.getRootPackage($template, $model))
#set($DbApiName=$mavenUtils.getDbApiName($model))
#set($resourcesDir="src/main/resources")
#set($bslaJpaVersion="0.8.10")
#end

#macro (exposePom)
#set($groupId="${rootPackage}.${model.name}")
#set($artifactId=$mavenUtils.getArtifactId($template,$model))
#set($versionId="${version}-SNAPSHOT")
#set($mavenFinalName=$mavenUtils.getFinalName($template, $model))
## add web, ejb are in properties
#set($mavenReleaseName="${model.name}App")
#set($mavenReleaseWebName=$mavenUtils.getWebArtifactName($template, $model))
#set($mavenReleaseEjbName=$mavenUtils.getEjbArtifactName($template, $model))
#end
