#macro (exposeWLSBuildSpecific)
#exposeWLSTemplate()
#set($WLS_HOME=$template.getPropertyValue("WLS_HOME","D:/SOFT/SERVER/ORACLE/WLS/SERVER"))
#set($server-hostname=$template.getPropertyValue("wls-hostname","localhost"))
#set($server-port=$template.getPropertyValue("wls-port","7001"))
#set($wls-username=$template.getPropertyValue("wls-username","weblogic"))
#set($wls-password=$template.getPropertyValue("wls-password","weblogic"))
#set($wls-deploy-target=$template.getPropertyValue("wls-deploy-target","AdminServer"))
#end

#macro (exposeWLSTemplate)
#end

#macro (exposeWeblogicTemplate)
#set ($templateDatasourceCreatePy = "WLS.DS.Create.py")
#set ($templateDatasourceProperties = "WLS.DS.properties")
#end

#macro (exposeWeblogicObject)
#exposeWeblogicTemplate()
#set ($datasourceCreatePyClass = $commonUtils.getTemplateFileName($model, $template, $templateDatasourceCreatePy))
#set ($datasourceCreatePropertiesClass = $commonUtils.getTemplateFileName($model, $template, $templateDatasourceProperties))
#end