#exposeOXSpecific()
currentdir=~pwd

## stop tomcat in appart process
cd $OX_HOME
./stop-tomcat.sh

## remove OX project
cd $OX_HOME/workspace
del $applicationOX

cd $OX_HOME/tomcat/webapps 
del $applicationOX

cd $currentdir
