<%@ tag import="org.apache.commons.lang.StringUtils" %>

<%@ attribute name="role" required="true" %>

<%
     java.lang.String [] roles = StringUtils.split(role, ",");
     int length = StringUtils.countMatches(role, ",");
     length++;
     boolean isInRole = false;
     for (int i = 0; i < length;i++) {
         if(((javax.servlet.http.HttpServletRequest)((PageContext)jspContext).getRequest()).isUserInRole(roles[i])) {
             isInRole = true;
         }
     }
    if(isInRole) {
%>
        <jsp:doBody/>
<%        
    }
%>