#exposeOXVariableActionSpecific()

package $packageName;

import org.openxava.jpa.*;
import org.openxava.model.*;
import org.openxava.util.*;
import org.openxava.validators.*;
import org.openxava.actions.*;

$!updatedAreaImport

public class ${className} extends ViewBaseAction {

	public void execute() throws Exception {
#exposeModelUpdatedAreas("execute")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else 
        //super.execute();
        //TODO
        Messages errors =
            MapFacade.validate("${domainClassName}", getView().getValues());
        if (errors.contains()) throw new ValidationException(errors);
/*        EntityManager em = XPersistence.getManager();
        try {
            query.getResultList();
        } catch (Exception e) {
            Messages errors = new Messages();
            throw new ValidationException(errors);
        }
		*/
        //TODO return list
        addInfo("call ${className} done!");
#end
$!updatedAreaEnd

	}

$!updatedAreaImplementation

}