#exposeOXVariableActionSpecific()

package $packageName;

$!updatedAreaImport

public class ${className} extends org.openxava.actions.BaseAction {

	public void execute() throws Exception {
#exposeModelUpdatedAreas("execute")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else 
        //super.execute();
        //TODO
#end
$!updatedAreaEnd

	}

$!updatedAreaImplementation

}