#exposeVariableComponentSpecific()
#foreach ($table in $modelEntities)
#exposeVariableEntitySpecific()
#set($tableLabel=$i18nUtils.getI18nFromDBNameStripPrefix($table.name))
//$table.name
#if ($tableUtils.isReferenceDataContentType($linktableDB))  
#set ($entityPrefix="${tableLabel} ")
#else
#set ($entityPrefix="")
#end
$tableVariableName=$tableLabel
$tableClassName=$tableLabel
##$tableVariableName
#foreach($column in $table.columns)
#putColumnParams()
#columnJavaNaming()
#set($columnLabel=$i18nUtils.getI18nFromDBObject($column))
$tableVariableName.$columnVar=${entityPrefix}${columnLabel}
#end
#foreach ($reference in $childReferences)
#putReferenceParams()
#columnJavaNaming()
#set($linkTableLabel=$i18nUtils.getI18nFromDBObject($linktableDB))
$tableVariableName.${link}${columnclass}s=${linkTableLabel}s
#end
#end