#generatorSpecific()
#exposeSeparator()
#putImportQuerySDDBean()
#putImportSDDInputBean()
#exposeQuerySpecific()
{{#layout/container/index-layout-container}}
    <div class="row">
        <div class="col-md-12">
#foreach($column in $inputBean.columns)
#putColumnParams()
#columnJavaNaming()
#if($columnUtils.isLink($column))
#set($queryId =$column.queryParamLink.queryName)
#set($fieldKey =$column.queryParamLink.fieldKey)
#set($fieldName =$column.queryParamLink.fieldName)
#exposeQueryTarget()
#set($columnText = $queryUtils.getColumnTextVariable($targetQuery, $fieldName))
#set($columnValue = $queryUtils.getColumnValueVariable($targetQuery, $fieldKey))
#set($isMasterData= $queryUtils.isAdminContentType($targetQuery))
#set($isAutocompletion = $queryParamLinkUtils.isAutocompletion($column.queryParamLink))
#if ($isAutocompletion)
 {{!-- TODO autocomplete --}}
#end
#end

			<div class="col-md-6">
				<div class="input-group">
				    <div class="input-group-prepend">
				        <span class="input-group-text">$columnVar</span>
				    </div>
				    <Input type="text" class="form-control" @value="" />
				</div>
			</div>
#end
        </div>
    </div>
 
    <div class="container">
        <h2>Results</h2>
        <p>$sddOutputBeanVariable results:</p>            
        <table class="table table-condensed">
            <thead>
                <tr>
#foreach($column in $outputBean.columns)
#if (!$column.hasBeenDuplicated())
#putColumnParams()
#columnJavaNaming()
                	<th>$columnVar</th>
#end
#end
            	</tr>
            </thead>
            <tbody>
{{#each model.$sddOutputBeanVariable as |item index| }} 
            	<tr>
#foreach($column in $outputBean.columns)
#if (!$column.hasBeenDuplicated())
#putColumnParams()
#columnJavaNaming()
                	<td>{{item.$columnVar}}</td>
#end
#end
            	</tr>
{{/each}}
            </tbody>
		</table>
    </div>
{{/layout/container/index-layout-container}}
