#exposeQuerySpecific()
#set($table=$query.inputBean)
#exposeVariableEntitySpecific()
#putImportQuerySDDBean()
#putImportSDDInputBean()
import Ember from 'ember';

import BaseRoute from '../base';

import _ from 'lodash';

import config from '../../config/environment';
export default BaseRoute.extend({
	titleToken: ['field.${query.name}'],
	${model.name}Service : Ember.inject.service("${model.name}"),
#if($inputBean.columns.size() > 0)
	queryParams: {
#foreach($column in $inputBean.columns)
#if (!$column.hasBeenDuplicated())
#putColumnParams()
#columnJavaNaming()
        $columnVar : {
            refreshModel: true,
            replace: true
        },
#end
#end
    },
#end
	model(params) {
        return this.get('${model.name}Service').${tableVariableName}(params);
    },
});
