{{!--#layout/container/index-layout-container--}}
    <div class="row">
        <div class="col-md-12">
        	Index
        </div>
    </div>
{{!--/layout/container/index-layout-container--}}
