#exposeVariableEntitySpecific()
#exposeEnvironmentParams()
#putImportSDDBean()
#set ($listVariable = $i18nUtils.plurialize(${beanVariable}))
package $packageName;

import java.util.List;
import java.util.ArrayList;

import $beanImport;

$!updatedAreaImport
/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: Java Bean ${className} </p>
 *
 */
public class ${className} {

    private List<${beanClass}> $listVariable;

    /**
    * Default constructor
    */
    public ${className}() {
    }
	
#putGetterAdder($className, $listVariable, ${beanClass}, ${beanVariable})

$!updatedAreaImplementation
}
