#exposeVariableEntitySpecific()
#addedAreas()
package $packageName;

import java.util.Date;
import java.util.List;
import java.util.ArrayList;

##import org.apache.commons.lang.StringUtils;

$!updatedAreaImport
/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: Java Bean containing a collection of ${domainClassName} </p>
 *
 */
public class ${className} {

#foreach($column in ${table.columns})
#if (!$column.hasBeenDuplicated())
#putColumnParamNaming()
#if($hasDefaultValue)
#set($defaultConstant = "__DEFAULT_$formatUtils.getUppercaseUnderscore($column.alias)")
    private final $columnType $defaultConstant = $defaultValue;
#end
#end
#end
#foreach($column in ${table.columns})
#if (!$column.hasBeenDuplicated())
#if (!$column.isArray())
#putColumnParamNaming()
    private $columnType $columnVar;
#else
    private List<$columnType> $columnVar;
#end
#end
#end

    /**
    * Default constructor
    */
    public ${className}() {
    }
	
#foreach($column in ${table.columns})
#if (!$column.hasBeenDuplicated())
#if (!$column.isArray())
#putColumnParamNaming()
#if($hasDefaultValue)
#set($defaultConstant = "__DEFAULT_$formatUtils.getUppercaseUnderscore($column.alias)")
    public $columnType get$columnClass() {
        return ($columnVar!=null)?$columnVar:$defaultConstant;
    }
#else
    public $columnType get$columnClass() {
        return $columnVar;
    }
#end
    public void set$columnClass ($columnType $columnVar) {
        this.$columnVar =  $columnVar;
    }
#else
    public List<${columnType}> get${columnClass} () {
        if (${columnVar}==null)
            ${columnVar} = new ArrayList<$columnType>();
        return ${columnVar};
    }

    public void add${columnClass} (${columnType} element) {
        get${columnClass} ().add(element);
    }
    
    public void set$columnClass (String $columnVar) {
    	for (${columnType} element : StringUtils.split($columnVar, ",")) {
        	add${columnClass} (element);
        }
    }
#end
#end
#end

#toString()

$!updatedAreaImplementation
}
