#exposeSpringDomainObjectSpecific()
#exposeRESTURLServer()
package $packageName;

$!updatedAreaImport
import java.io.IOException;
import javax.servlet.http.*;
import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.stereotype.Controller;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springframework.web.bind.annotation.RequestParam;

#if($restJEEAnnotation)
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.FormParam;
import javax.ws.rs.Consumes;
import javax.ws.rs.POST;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PUT;
import javax.ws.rs.Produces;
import javax.ws.rs.core.Context;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.Request;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.UriInfo;
import javax.xml.bind.JAXBElement;
#end

import $BslaDaoInterfaceImport;
import $BslaDaoExtInterfaceImport;
import $importDomainObjectUML;

/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: remote interface for ${className} service </p>
 *
 */
@RequestMapping ("$restXmlServerUrl")
//@Produces ({MediaType.APPLICATION_XML, MediaType.APPLICATION_JSON})
//@Consumes ({MediaType.APPLICATION_XML, MediaType.APPLICATION_JSON})
@Controller 
public class ${className} #if($implementInterface)implements $EJBDaoRemoteInterfaceClass#end {

	@Autowired
	@Qualifier("$BslaDaoInterfaceVariable")
	${BslaDaoInterfaceClass} $BslaDaoInterfaceVariable;
	
	@Autowired
	@Qualifier("$BslaDaoExtInterfaceVariable")
	${BslaDaoExtInterfaceClass} $BslaDaoExtInterfaceVariable;

#exposeEntityUpdatedAreas("FIND_ALL")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else
    @RequestMapping(method = RequestMethod.POST)
    @Transactional
    public List<$tableClassName> findAll () {
        return ${BslaDaoInterfaceVariable}.searchPrototype$tableClassName(new $tableClassName());
    }
#end
$!updatedAreaEnd

#if ($hasOnlyOnePrimaryKey)
#exposeEntityUpdatedAreas("FIND_BY_ID")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else	
    @RequestMapping(value = "/{$primaryKeyVariable}", method = RequestMethod.GET)
    @ResponseBody
    public $tableClassName findById (@PathVariable ("$primaryKeyVariable") $primaryKeyFullType $primaryKeyVariable) {
        return ${BslaDaoInterfaceVariable}.load$tableClassName($primaryKeyVariable);
    }
#end
$!updatedAreaEnd
#end

	@RequestMapping(method = RequestMethod.POST)
	@Transactional(propagation=Propagation.REQUIRED, rollbackFor=Exception.class)
    public $tableClassName create (
#foreach ($column in ${table.columns})
#putColumnParams()
#columnJavaNaming()
        @RequestParam("$columnVar") $columnType $columnVar,
#end
        HttpServletResponse servletResponse
        ) throws IOException {
        $tableClassName _$tableVariableName = new $tableClassName (
#foreach ($column in ${table.columns})
#putColumnParams()
#columnJavaNaming()
           $columnVar#if ($velocityCount!=$table.columnCount),
#end
#end	   
);
        return save(_$tableVariableName);
    }

    @RequestMapping(value = "/{$primaryKeyVariable}", method = RequestMethod.DELETE)
    @Transactional(propagation=Propagation.REQUIRED, rollbackFor=Exception.class)
    public String delete (@PathVariable ("$primaryKeyVariable") $primaryKeyType $primaryKeyVariable) {
        $tableClassName $tableVariableName = new $tableClassName ();
        ${tableVariableName}.set$primaryKeyJavaNameClass($primaryKeyVariable);
        ${BslaDaoInterfaceVariable}.delete$tableClassName($tableVariableName);
		return "OK";
    }
	
	@RequestMapping(method = RequestMethod.PUT)
	@Transactional(propagation=Propagation.REQUIRED, rollbackFor=Exception.class)
    public $tableClassName save (
#foreach ($column in ${table.columns})
#putColumnParams()
#columnJavaNaming()
        @RequestParam("$columnVar") $columnType $columnVar,
#end
        HttpServletResponse servletResponse
        ) throws IOException {
        $tableClassName _$tableVariableName = new $tableClassName (
#foreach ($column in ${table.columns})
#putColumnParams()
#columnJavaNaming()
           $columnVar#if ($velocityCount!=$table.columnCount),
#end
#end	   
);
        return save(_$tableVariableName);
    }	


	public $tableClassName save ($tableClassName $tableVariableName) {
		${BslaDaoInterfaceVariable}.save$tableClassName($tableVariableName);
		return $tableVariableName;
	}

$!updatedAreaImplementation
		
}