#exposeVariableModelSpecific()
#exposeADFBuildSpecific()
#exposeADFReleaseSpecific()
package $packageName;

import junit.framework.TestCase;

import com.thoughtworks.selenium.*;
import org.junit.After;
import org.junit.Before;
import org.junit.Test;
import java.util.regex.Pattern;

public class $className extends TestCase {

	private DefaultSelenium selenium;
	@Before
	public void setUp() throws Exception {
		selenium = new DefaultSelenium("localhost", 4444, "*firefox", "http://${server-hostname}:${server-port}/");
		selenium.start();
	}
    public void testSomethingSimple() throws Exception {
        selenium.open("/$applicationName/faces/homePage");

        //goto homepage 
        // and check property
        
        //click on each menu link
        // and check link
        
        //check crud
        // check title
        // check default input
        //  check create
        //  search
        //  check retrieve
        //  check update
        //  check delete
        
        // check validation
        
        // check 404
		selenium.click("css=span.x106");
		selenium.waitForPageToLoad("30000");
		selenium.click("css=div.accordion_toggler_1 > a > span");
		selenium.click("css=div.accordion_toggler_2. > a > span");
		selenium.click("//a[@id='pt1:j_id__ctru12pc4']/span");
		selenium.waitForPageToLoad("30000");
		selenium.click("id=pt1:act_sdi2::disAcr");
		clickOnIdAfterWait(selenium, "pt1:itdetsave", "10000");

		selenium.click("id=d1::msgDlg::cancel");

        selenium.stop();
    }
	
	private void clickOnIdAfterWait (DefaultSelenium selenium, String id, String time) {
		selenium.waitForCondition(
				   "selenium.browserbot.getCurrentWindow().document.getElementById('"+id+"')",
				   time
				);
		selenium.click("id="+id);		
	}
}
