#macro (adfEntityColumnDisplay $id)
                        <af:inputText label="#{viewcontrollerBundle['$tableVariableName$separator$columnVar']}"
                                      id="${id}" ##columns="40" ##columns="$column.size"
                                      value="#{viewScope.${entityADFVariable}BackingBean.${entityADFVariable}.${columnVar}}"/>
#end

#macro (adfEntityEditColumnDisplay $id)
#if($columnUtils.hasCheckConstraint($column))
                        <af:selectOneChoice label="#{viewcontrollerBundle['$tableVariableName$separator$columnVar']}" id="${id}">
                          <f:selectItems value="#{viewScope.${entityADFVariable}BackingBean.${entityADFVariable}.${columnVar}Enum}" id="${id}Items"/>
#set($property=$columnUtils.getCheckConstraintProperty($column))
#set($propertyList=$property.getPropertiesArray())
#foreach ($prop in $propertyList)
#exposeEnumerationSpecific()
##                          <f:selectItem itemLabel="$prop.value" itemValue="$prop.value"/>
##                          <f:selectItems value="#{viewScope.${entityADFVariable}BackingBean.${entityADFVariable}.${columnVar}Enum}" id="${id}"/>
#end
                        </af:selectOneChoice>
#else
#if ($columnUtils.isTimeColumn($column))
                        <af:inputDate 
#else
                        <af:inputText 	
#end
                            label="#{viewcontrollerBundle['$tableVariableName$separator$columnVar']}"
                            id="${id}" 
#if (!$columnUtils.isTimeColumn($column))
                            columns="$column.size"
#else
                            columns="10"
#end
                            required="$isMandatory"
                            value="#{viewScope.${entityADFVariable}BackingBean.${entityADFVariable}.${columnVar}}"
                            shortDesc="#{viewcontrollerBundle['$tableVariableName$separator$columnVar']}"
                        />
#end
#end
