jdbc.Driver=com.mysql.jdbc.Driver
jdbc.URL=jdbc:mysql://[your jdbc URL]
jdbc.User=[your database user]
jdbc.Password=[your database password]
generator.database.input-schema=[your database schema / owner / name]
generator.database.includes=.*    //Do not work yet with regex in mp by can be quickly added
generator.database.excludes=
generator.generate.master-data-tables=[a list of tables]  // covered in mp by enrichment (individually) or convention
generator.generate.master-data-table-literal.[master data table]=[column used for enum literals]  // cover by field enrichment (constraint)
generator.generate.master-data-table-description.[master data table]=[column used for documentation]  // idem
generator=org.jooq.util.DefaultGenerator
generator.database=org.jooq.util.mysql.MySQLDatabase
generator.generate.relations=true
generator.generate.deprecated=false
generator.target.package=[org.jooq.your.package]
generator.target.directory=[/path/to/your/dir]
generator.generate.instance-fields=true
generator.generate.unsigned-types=true