createTitle=Create
createHeading=Create
updateTitle=Update
updateHeading=Update
save=Save
delete=Delete
listTitle=List
listHeading=List
amountEntries=Amount entries
execute=Execute
manageSddTitle=SDD
PersistenceErrorOccured=Persistence error occured
manageSddChartTitle=Chart
consult.title=Consult
consult.select.header=Select
searchHeading=Search
displayAll=All
selectOr=Select with or clause
