<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="placeHolderCongif"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location"><value>classpath:eu/pdmurf/myProject/factory/configuration/spring-config-Myproject.properties</value></property>
    </bean>

    <bean id="myProjectDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"><value>${jdbc.myProject.driverClassName}</value></property>
        <property name="url"><value>${jdbc.myProject.url}</value></property>
        <property name="username"><value>${jdbc.myProject.username}</value></property>
        <property name="password"><value>${jdbc.myProject.password}</value></property>
    </bean>

    <bean id="myProjectTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource"><ref bean="myProjectDataSource"/></property>
    </bean>

</beans>
