listOf=Lista de
****create=Crear
createTitle=Crear
createHeading=Creaci\u00F3n
entityCreated=Entidad creada
updateTitle=Actualizar
updateHeading=Actualizaci\u00F3n
entityUpdated=Entidad actualizada
entityDeleted=Entidad borrada
save=Guardar
saveTitle=Guardar
delete=Borrar
deleteTitle=Borrar
****deleteHeader=Borrado
****deleteConfirm=\u00BFSeguro que desea borrar?
deleteAssociation=Desvincular
****noRecordsFound=No se han encontrado resultados
listTitle=Lista
listHeading=Lista
amountEntries=Cantidad de registros
execute=Ejecutar
manageSddTitle=SDD
manageSddChartTitle=Gr\u00E1fico
consult.title=Consulta
consult.select.header=Seleccionar
consult.select.criteria.header=Criterio de selecci\u00F3n
searchHeading=Buscar
searchTitle=Buscar
displayAll=Mostrar Todo
selectOr=o
selectItem=Seleccionar
edit=Editar
editTitle=Editar
close=Cerrar
closeTitle=Cerrar
cancel=Cancelar
cancelTitle=Cancelar
associate=Asociar
update=Actualizar
cancel=Cancelar
clear=Limpiar
affect=Seleccionar
affectTitle=Seleccionar
manage=Editar
manageTitle=Editar
saveAssociations=Guardar asociaciones
add=A\u00F1adir
elements=elementos
affectationProcess=Proceso de asociaci\u00F3n
affectionProcessMessage=\u00BFPuede seleccionar un elemento?
affectionProcessHeader=Proceso de asociaci\u00F3n
adminstration=Administraci\u00F3n
ExportlistInPDFandExcel=Exportar lista en PDF y Excel
charactersRemaining=caracteres restantes
invalidDate=Fecha no v\u00E1lida
details=Detalles
dataTable.emptyMessage.part1=No se han encontrado
dataTable.emptyMessage.part2=para los criterios dados
available=Disponible
connected=Conectado
for=para
information=Informaci\u00F3n
pieChartTitle=Gr\u00E1fico Interactivo de Pastel
barChartTitle=Gr\u00E1fico Interactivo de Barras
of=de
# errors
PersistenceErrorOccured=Error persistiendo datos
pageNotFound.title=P\u00E1gina no encontrada
pageNotFound.body.part1=Por desgracia, la p\u00E1gina solicitada,
pageNotFound.body.part1=no existe
errorPage.title=P\u00E1gina de Error
errorPage.body.part1=Por desgracia, se ha producido un error procesando la petici\u00F3n
errorPage.body.part2=El mensaje de error es:
# security
logoffSoon1=Tiempo de espera
logoffSoon2=Su sesi\u00F3n se cerrar\u00E1
moveCursor=Mueva el cursor
sessionExpire=Su sesi\u00F3n expira
yes=si
no=no

confirmDeletionQuestion=\u00BFConfirmar borrado?
deletionProcess=Proceso de borrado
administration=Admin
###### devops
AdminLanguageMgt=Idioma
mp.devops.languageToCountryFlagAssociation=Spain
###### devops ends

