createTitle=Create
createHeading=Create
entityCreated=Entity created
updateTitle=Update
updateHeading=Update
entityUpdated=Entity updated
entityDeleted=Entity deleted
save=Save
saveTitle=Save
delete=Delete
deleteTitle=Delete
listTitle=List
listHeading=List
amountEntries=Amount entries
execute=Execute
manageSddTitle=SDD
manageSddChartTitle=Chart
consult.title=Consult
consult.select.header=Select
consult.select.criteria.header=Selection criteria
searchHeading=Search
displayAll=Display All
selectOr=or
editTitle=Edit
closeTitle=Close
cancelTitle=Cancel
associate=Associate
update=Update
cancel=Cancel
delete=Delete
affect=Affect
manage=Manage
saveAssociation=Save associations
add=Add
elements=elements
affectionProcess=Affectation process
affect=Affect
adminstration=Administration
# errors
PersistenceErrorOccured=Error persisting data
# security
logoffSoon1=Time-out
logoffSoon2=You will be logoff
moveCursor=Move your cursor
sessionExpire=Session expires