listOf=List of
createTitle=Create
createHeading=Create
entityCreated=Entity created
updateTitle=Update
updateHeading=Update
entityUpdated=Entity updated
entityDeleted=Entity deleted
save=Save
saveTitle=Save
delete=Delete
deleteTitle=Delete
deleteAssociation=Delete association
listTitle=List
listHeading=List
amountEntries=Amount entries
execute=Execute
manageSddTitle=SDD
manageSddChartTitle=Chart
consult.title=Consult
consult.select.header=Select
consult.select.criteria.header=Selection criteria
searchHeading=Search
searchTitle=Search
displayAll=Display All
selectOr=or
selectItem=Please Select
edit=Edit
editTitle=Edit
close=Close
closeTitle=Close
cancel=Cancel
cancelTitle=Cancel
associate=Associate
update=Update
cancel=Cancel
clear=Clear
affect=Affect
affectTitle=Affect
manage=Manage
manageTitle=Manage Details
saveAssociations=Save associations
add=Add
elements=elements
affectionProcess=Affectation process
affectionProcessMessage=Can you select one item?
affectionProcessHeader=Affectation process
adminstration=Administration
ExportlistInPDFandExcel=Export list in PDF and Excel
charactersRemaining=characters remaining
invalidDate=Invalid Date
details=Details
dataTable.emptyMessage.part1=No
dataTable.emptyMessage.part2=found with given criteria
available=Available
connected=Connected
for=for
information=Information
pieChartTitle=Interactive Pie Chart
barChartTitle=Interactive Bar Chart
of=of
# errors
PersistenceErrorOccured=Error persisting data
pageNotFound.title=Page not found
pageNotFound.body.part1=Unfortunately, the page you requested,
pageNotFound.body.part1=does not exist
errorPage.title=Error Page
errorPage.body.part1=Unfortunately, there was an error processing you request
errorPage.body.part2=The error message is:
# security
logoffSoon1=Time-out
logoffSoon2=You will be logoff
moveCursor=Move your cursor
sessionExpire=Session expires
yes=yes
no=no

confirmDeletionQuestion=Can you confirm your deletion?
deletionProcess=Deletion process
administration=Admin
###### devops
AdminLanguageMgt=Language
mp.devops.languageToCountryFlagAssociation=England
###### devops ends

