createTitle=Create
createHeading=Create
entityCreated=Entity created
updateTitle=Update
updateHeading=Update
entityUpdated=Entity updated
entityDeleted=Entity deleted
save=Save
saveTitle=Save
delete=Delete
deleteTitle=Delete
listTitle=List
listHeading=List
amountEntries=Amount entries
execute=Execute
manageSddTitle=SDD
PersistenceErrorOccured=Persistence error occured
manageSddChartTitle=Chart
consult.title=Consult
consult.select.header=Select
consult.select.criteria.header=Selection criteria
searchHeading=Search
displayAll=Display All
selectOr=or
editTitle=Edit
closeTitle=Close
cancelTitle=Cancel
# errors
PersistenceErrorOccured=Error persisting data
# security
logoff.soon.1=Time-out
logoff.soon.2=You will be logoff
move.cursor=Move your cursor