#*
updateTitle=Update
updateHeading=Update
entityUpdated=Entity updated
entityDeleted=Entity deleted
save=Save
saveTitle=Save
deleteTitle=Delete
listTitle=List
listHeading=List
amountEntries=Amount entries
execute=Execute
manageSddTitle=SDD
manageSddChartTitle=Chart
consult.title=Consult
consult.select.header=Select
consult.select.criteria.header=Selection criteria
searchHeading=Search
displayAll=Display All
selectOr=or
editTitle=Edit
closeTitle=Close
cancelTitle=Cancel
# errors
PersistenceErrorOccured=Error persisting data
# security
logoffSoon1=Time-out
logoffSoon2=You will be logoff
moveCursor=Move your cursor
sessionExpire=Session expires
*#
################
administration=Administraci\u00F3n
listOf=Lista de
create=Crear
createTitle=Crear
createHeading=Creaci\u00F3n
entityCreated=Entidad creada
update=Actualizar
updateTitle=Actualizar
updateHeading=Actualizaci\u00F3n
entityUpdated=Entidad actualizada
entityDeleted=Entidad borrada
save=Guardar
saveTitle=Guardar
clear=Limpiar
clearTitle=Limpiar
delete=Borrar
deleteTitle=Borrar
deleteHeader=Borrado
deleteConfirm=\u00BFSeguro que desea borrar?
affect=Seleccionar
affectTitle=Seleccionar
manage=Editar
manageTitle=Editar
associate=Asociar
deleteAssociation=Desvincular
listTitle=Lista
listHeading=Lista
amountEntries=Cantidad de registros
execute=Ejecutar
manageSddTitle=SDD
manageSddChartTitle=Gr\u00E1fico
consult.title=Consulta
consult.select.header=Seleccionar
consult.select.criteria.header=Criterio de selecci\u00F3n
searchHeading=Buscar
displayAll=Mostrar Todo
selectOr=o
editTitle=Editar
closeTitle=Cerrar
cancel=Cancelar
cancelTitle=Cancelar
affectationProcess=Proceso de asociaci\u00F3n
add=A\u00F1adir
ExportlistInPDFandExcel=Exportar lista en PDF y Excel
noRecordsFound=No se han encontrado resultados
# errors
PersistenceErrorOccured=Error persistiendo datos
# security
logoffSoon1=Tiempo de espera
logoffSoon2=Su sesi\u00F3n se cerrar\u00E1
moveCursor=Mueva el cursor
sessionExpire=Su sesi\u00F3n expira
confirmDeletionQuestion=Can you confirm your deletion?
deletionProcess=Deletion process
yes=si
no=no
###### devops
AdminLanguageMgt=Idioma
mp.devops.languageToCountryFlagAssociation=Spain
###### devops ends
