#exposeQuerySpecific()
# list of input properties that can be used:
#foreach($column in ${inputBean.columns})
#putColumnParamNaming()
-  $columnVar to use like $$columnVar
#end

------
# list of output properties that can be used:
#foreach($column in ${outputBean.columns})
#putColumnParamNaming()
-  $columnVar to use like $$columnVar
#end
