#exposeGrailsSpecific()
#!/bin/sh

grails create-app $applicationGrails

cp -R grails-app $applicationGrails/grails-app 
cp $MP_HOME/application/lib/extra/*.jar $applicationGrails/grails-app/lib

cd $applicationGrails

grails run-app
