#exposeVariableEntitySpecific()
#exposeEnvironmentParams()
#exposeGrailsDomainSpecific()
#putImportParamsUML()
package $packageName

import $importDomainObjectUML

class ${className} {
     def scaffold = $domainClassName
}
