<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="placeHolderCongif"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location"><value>classpath:sf/net/openreports/conference/factory/configuration/spring-config-Conference.properties</value></property>
    </bean>

    <bean id="conferenceDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"><value>${jdbc.conference.driverClassName}</value></property>
        <property name="url"><value>${jdbc.conference.url}</value></property>
        <property name="username"><value>${jdbc.conference.username}</value></property>
        <property name="password"><value>${jdbc.conference.password}</value></property>
    </bean>
    
<!--    
    <bean id="conferenceDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName"><value>${jdbc.conference.jndi}</value></property>
    </bean>
-->        

    <bean id="conferenceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource"><ref bean="conferenceDataSource"/></property>
    </bean>

</beans>
