##$configuration

##$configuration.targets

What is generated:

#foreach ($templateTarget in $configuration.target.getTemplateTargets())
#foreach ($tpl in $templateTarget.templates)
--
$tpl.name
$tpl.templateFileName
$tpl.outputdir $tpl.templateTarget.outputdir
$tpl.fileExtension

#end
#end

