    public $tableClassName partialLoadWithParentFirst$tableClassName($tableClassName ${tableVariableName}What, $tableClassName positive$tableClassName, $tableClassName negative$tableClassName){
		List <$tableClassName> list = partialLoadWithParent$tableClassName(${tableVariableName}What, positive$tableClassName, negative$tableClassName);
		return (!list.isEmpty())?($tableClassName)list.get(0):null;
    }
    
    public $tableClassName partialLoadWithParentFirst${tableClassName}UseCache($tableClassName ${tableVariableName}What, $tableClassName positive$tableClassName, $tableClassName negative$tableClassName, Boolean useCache){
		List <$tableClassName> list = partialLoadWithParent${tableClassName}UseCache(${tableVariableName}What, positive$tableClassName, negative$tableClassName, useCache);
		return (!list.isEmpty())?($tableClassName)list.get(0):null;
    }
	
	public $tableClassName partialLoadWithParentFirst${tableClassName}UseCacheOnResult($tableClassName ${tableVariableName}What, $tableClassName positive$tableClassName, $tableClassName negative$tableClassName, Boolean useCache){
		List <$tableClassName> list = partialLoadWithParent${tableClassName}UseCacheOnResult(${tableVariableName}What, positive$tableClassName, negative$tableClassName, useCache);
		return (!list.isEmpty())?($tableClassName)list.get(0):null;
    }
	//
	protected List<$tableClassName> partialLoadWithParent$tableClassName($tableClassName ${tableVariableName}What, $tableClassName positive$tableClassName, $tableClassName negative$tableClassName, Integer nbOfResult, Boolean useCache) {
		 return partialLoadWithParent$tableClassName(${tableVariableName}What, positive$tableClassName, negative$tableClassName, new QuerySelectInit(), nbOfResult, useCache);
	}	  

	protected List partialLoadWithParent${tableClassName}QueryResult ($tableClassName ${tableVariableName}What, $tableClassName positive$tableClassName, $tableClassName negative$tableClassName, Integer nbOfResult, Boolean useCache) {
		 return partialLoadWithParent${tableClassName}QueryResult (${tableVariableName}What, positive$tableClassName, negative$tableClassName, new QuerySelectInit(), nbOfResult, useCache);
	}	
    
    public List<$tableClassName> getDistinct$tableClassName($tableClassName ${tableVariableName}What, $tableClassName positive$tableClassName, $tableClassName negative$tableClassName) {
		 return partialLoadWithParent$tableClassName(${tableVariableName}What, positive$tableClassName, negative$tableClassName, new QuerySelectDistinctInit(), null, false);
	}
	
	public List<$tableClassName> partialLoadWithParent$tableClassName($tableClassName ${tableVariableName}What, $tableClassName positive$tableClassName, $tableClassName negative$tableClassName) {
		 return partialLoadWithParent$tableClassName(${tableVariableName}What, positive$tableClassName, negative$tableClassName, new QuerySelectInit(), null, false);
	}	
  
	public List<$tableClassName> partialLoadWithParent${tableClassName}UseCacheOnResult($tableClassName ${tableVariableName}What, $tableClassName positive$tableClassName, $tableClassName negative$tableClassName, Boolean useCache) {
		String key = getCacheKey(${tableVariableName}What, positive$tableClassName, negative$tableClassName, "partialLoadWithParent$tableClassName");
		List<$tableClassName> list = (List<$tableClassName>)simpleCache.get(key);
		if (list==null || list.isEmpty()) {
			list = partialLoadWithParent$tableClassName(${tableVariableName}What, positive$tableClassName, negative$tableClassName);
			if (!list.isEmpty())
			   simpleCache.put(key, list);
		}
		return list;	
	}	

	public List<$tableClassName> partialLoadWithParent${tableClassName}UseCache($tableClassName ${tableVariableName}What, $tableClassName positive$tableClassName, $tableClassName negative$tableClassName, Boolean useCache) {
		String key = getCacheKey(${tableVariableName}What, positive$tableClassName, negative$tableClassName, "partialLoadWithParent$tableClassName");
		List<$tableClassName> list = (List<$tableClassName>)simpleCache.get(key);
		if (list==null) {
			list = partialLoadWithParent$tableClassName(${tableVariableName}What, positive$tableClassName, negative$tableClassName);
			simpleCache.put(key, list);
		}
		return list;	
	}	
	
	private List<$tableClassName> handleLoadWithParent$tableClassName(Map beanPath, List list, $tableClassName ${tableVariableName}What) {
	    return handleLoadWithParent$tableClassName(beanPath, list, ${tableVariableName}What, true);  
	}
	
	private List<$tableClassName> handleLoadWithParent$tableClassName(Map beanPath, List list, $tableClassName ${tableVariableName}What, boolean isHql) {
		if (beanPath.size()==1) {
			return handlePartialLoadWithParent${tableClassName}WithOneElementInRow(list, beanPath, ${tableVariableName}What, isHql);
		}
		return handlePartialLoadWithParent$tableClassName(list, beanPath, ${tableVariableName}What, isHql);	
	}
		  