#exposeVariableModelSpecific()
#foreach ($table in $entities)
/*
* entity ${table.name}
*/
#set ($procedureName=$sqlUtils.getCompiliantName($database, "${table.name}_IUR"))
CALL ${procedureName} (
#foreach($column in ${table.columns})
#putColumnParamNaming()
#set($columnSQLTypeFormat=$sqlUtils.getDbSqlTypeFormat($column, $database.type))
#if($velocityCount>1),#else #end$columnVar $columnSQLTypeFormat
#end
)
IS
  cpt   pls_integer;
BEGIN
SELECT count(*) INTO cpt FROM ${table.name} WHERE
#foreach($column in $table.primaryKeyColumns)
#putColumnParamNaming()
       #if($velocityCount>1) AND #else #end$column.name = $columnVar
#end
       ;
if cpt = 0 then
   insert into $table.name (
#foreach($column in ${table.columns})
#putColumnParamNaming()
       #if($velocityCount>1),#else #end$column.name
#end
    )
    values (
#foreach($column in ${table.columns})
#putColumnParamNaming()
       #if($velocityCount>1),#else #end$columnVar
#end
    );
else
  update ${table.name}
     set
#foreach($column in $tableUtils.getColumnWithoutPrimaryKeys($table))
#putColumnParamNaming()
         #if($velocityCount>1),#else #end$column.name = $columnVar
#end
      where 
#foreach($column in $$table.primaryKeyColumns)
#putColumnParamNaming()
         #if($velocityCount>1) AND #else #end$column.name = $columnVar
#end
     ;
end if;
END;
/
#end
