/*
This pattern introduce a view as a proxy middle-man
It might be intrusive it
*/
CREATE OR REPLACE TRIGGER ${table.name}_I INSTEAD OF INSERT ON ${table.name}_V
REFERENCING NEW AS NEW OLD AS OLD FOR EACH ROW 
BEGIN 
INSERT INTO ${table.name}
(
#foreach($column in ${table.columns})
#putColumnParams()
#if($velocityCount>1),#else #end$column.name
#end
) VALUES
(
#foreach($column in ${table.columns})
#putColumnParams()
#if($velocityCount>1),#else #end:new.$column.name
#end
);
#putHistoTriggerInsert("INS") 
END ${table.name}_I;
/