#exposeVariableModelSpecific()
##-- drop entities
#foreach ($package in ${businessPackages})
##--package name is $package.name
#foreach ($table in ${package.listOfTables})
#exposeVariableEntitySpecific()
#foreach($reference in $table.parents)
#putReferenceParams2()
ALTER TABLE ${reference.localTable.name} ADD CONSTRAINT FOREIGN KEY ${reference.localTable.name}_${velocityCount}_FK (${reference.localColumn.name}) REFERENCES ${reference.foreignTable.name}(${reference.foreignColumn.name});
#end
#end
#end

commit;
