#macro(putSpringClassPathDep)
#if($isBindingSpring)
#exposeADFSpring()
#foreach($dependency in $buildUtils.getDependencies($template))
            <hash>
               <list n="classPath">
                  <url path="${dependency.relativepath}/${dependency.filename}" jar-entry=""/>
               </list>
#if ($dependency.isEmbedded())
               <value n="deployedByDefault" v="true"/>
#else
               <value n="deployedByDefault" v="false"/>
#end
               <value n="description" v="${dependency.filename}"/>
               <value n="id" v="${dependency.filename}"/>
               <value n="locked" v="true"/>
            </hash>
#end
#set($physicalDirPathADFMavenBslaProject = $commonUtils.getPhysicalDirPath($model, $template, "PomXml.BSLA"))
#set($physicalDirPathADFMavenJPA2Project = $commonUtils.getPhysicalDirPath($model, $template, "PomXml.JPA2"))
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/ehcache-core-2.3.0.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Ehcache-core-2.3.0.jar"/>
               <value n="id" v="Ehcache-core-2.3.0.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/slf4j-simple-1.5.8.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Slf4j-simple-1.5.8.jar"/>
               <value n="id" v="Slf4j-simple-1.5.8.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/annotations-1.3.2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Annotations-1.3.2.jar"/>
               <value n="id" v="Annotations-1.3.2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-asm-3.0.6.BUILD-20110801.142304-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-asm-3.0.6.BUILD-20110801.142304-2.jar"/>
               <value n="id" v="Spring-asm-3.0.6.BUILD-20110801.142304-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/mp-bsla-0.8.3.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Mp-bsla-0.8.3.jar"/>
               <value n="id" v="Mp-bsla-0.8.3.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-security-web-3.1.0.CI-20111124.083319-496.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-security-web-3.1.0.CI-20111124.083319-496.jar"/>
               <value n="id" v="Spring-security-web-3.1.0.CI-20111124.083319-496.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-aop-3.0.6.BUILD-20110801.142505-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-aop-3.0.6.BUILD-20110801.142505-2.jar"/>
               <value n="id" v="Spring-aop-3.0.6.BUILD-20110801.142505-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/jsr305-1.3.2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Jsr305-1.3.2.jar"/>
               <value n="id" v="Jsr305-1.3.2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/commons-lang-2.4.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Commons-lang-2.4.jar"/>
               <value n="id" v="Commons-lang-2.4.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-tx-3.0.6.BUILD-20110801.142621-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-tx-3.0.6.BUILD-20110801.142621-2.jar"/>
               <value n="id" v="Spring-tx-3.0.6.BUILD-20110801.142621-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/ojdbc14-10.0.2.0.0.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Ojdbc14-10.0.2.0.0.jar"/>
               <value n="id" v="Ojdbc14-10.0.2.0.0.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/hibernate-validator-4.0.2.GA.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Hibernate-validator-4.0.2.GA.jar"/>
               <value n="id" v="Hibernate-validator-4.0.2.GA.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-expression-3.0.6.BUILD-20110801.142407-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-expression-3.0.6.BUILD-20110801.142407-2.jar"/>
               <value n="id" v="Spring-expression-3.0.6.BUILD-20110801.142407-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-security-crypto-3.1.0.CI-20111124.083238-100.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-security-crypto-3.1.0.CI-20111124.083238-100.jar"/>
               <value n="id" v="Spring-security-crypto-3.1.0.CI-20111124.083238-100.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/lang-2.1.0.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Lang-2.1.0.jar"/>
               <value n="id" v="Lang-2.1.0.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/hibernate-annotations-3.5.1-Final.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Hibernate-annotations-3.5.1-Final.jar"/>
               <value n="id" v="Hibernate-annotations-3.5.1-Final.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-web-3.0.6.BUILD-20110801.142749-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-web-3.0.6.BUILD-20110801.142749-2.jar"/>
               <value n="id" v="Spring-web-3.0.6.BUILD-20110801.142749-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-jdbc-3.0.6.BUILD-20110801.142718-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-jdbc-3.0.6.BUILD-20110801.142718-2.jar"/>
               <value n="id" v="Spring-jdbc-3.0.6.BUILD-20110801.142718-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-context-3.0.6.BUILD-20110801.142536-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-context-3.0.6.BUILD-20110801.142536-2.jar"/>
               <value n="id" v="Spring-context-3.0.6.BUILD-20110801.142536-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/hibernate-core-3.5.1-Final.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Hibernate-core-3.5.1-Final.jar"/>
               <value n="id" v="Hibernate-core-3.5.1-Final.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/slf4j-api-1.5.8.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Slf4j-api-1.5.8.jar"/>
               <value n="id" v="Slf4j-api-1.5.8.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/hibernate-entitymanager-3.5.1-Final.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Hibernate-entitymanager-3.5.1-Final.jar"/>
               <value n="id" v="Hibernate-entitymanager-3.5.1-Final.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/jta-1.1.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Jta-1.1.jar"/>
               <value n="id" v="Jta-1.1.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-beans-3.0.6.BUILD-20110801.142425-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-beans-3.0.6.BUILD-20110801.142425-2.jar"/>
               <value n="id" v="Spring-beans-3.0.6.BUILD-20110801.142425-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/cglib-2.2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Cglib-2.2.jar"/>
               <value n="id" v="Cglib-2.2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-security-config-3.1.0.CI-20111124.083223-494.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-security-config-3.1.0.CI-20111124.083223-494.jar"/>
               <value n="id" v="Spring-security-config-3.1.0.CI-20111124.083223-494.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/aopalliance-1.0.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Aopalliance-1.0.jar"/>
               <value n="id" v="Aopalliance-1.0.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-orm-3.0.6.BUILD-20110801.142825-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-orm-3.0.6.BUILD-20110801.142825-2.jar"/>
               <value n="id" v="Spring-orm-3.0.6.BUILD-20110801.142825-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/mysema-commons-lang-0.2.1.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Mysema-commons-lang-0.2.1.jar"/>
               <value n="id" v="Mysema-commons-lang-0.2.1.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/hibernate-commons-annotations-3.2.0.Final.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Hibernate-commons-annotations-3.2.0.Final.jar"/>
               <value n="id" v="Hibernate-commons-annotations-3.2.0.Final.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-security-core-3.1.0.CI-20111124.083231-496.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-security-core-3.1.0.CI-20111124.083231-496.jar"/>
               <value n="id" v="Spring-security-core-3.1.0.CI-20111124.083231-496.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-oxm-3.0.6.BUILD-20110801.142644-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-oxm-3.0.6.BUILD-20110801.142644-2.jar"/>
               <value n="id" v="Spring-oxm-3.0.6.BUILD-20110801.142644-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/querydsl-jpa-2.1.2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Querydsl-jpa-2.1.2.jar"/>
               <value n="id" v="Querydsl-jpa-2.1.2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/antlr-2.7.6.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Antlr-2.7.6.jar"/>
               <value n="id" v="Antlr-2.7.6.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/log4j-1.2.14.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Log4j-1.2.14.jar"/>
               <value n="id" v="Log4j-1.2.14.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/javassist-3.9.0.GA.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Javassist-3.9.0.GA.jar"/>
               <value n="id" v="Javassist-3.9.0.GA.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/commons-logging-1.1.1.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Commons-logging-1.1.1.jar"/>
               <value n="id" v="Commons-logging-1.1.1.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/dom4j-1.6.1.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Dom4j-1.6.1.jar"/>
               <value n="id" v="Dom4j-1.6.1.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/asm-3.1.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Asm-3.1.jar"/>
               <value n="id" v="Asm-3.1.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/hibernate-jpa-2.0-api-1.0.0.Final.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Hibernate-jpa-2.0-api-1.0.0.Final.jar"/>
               <value n="id" v="Hibernate-jpa-2.0-api-1.0.0.Final.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/codegen-0.3.1.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Codegen-0.3.1.jar"/>
               <value n="id" v="Codegen-0.3.1.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/activation-1.1.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Activation-1.1.jar"/>
               <value n="id" v="Activation-1.1.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-test-3.0.6.BUILD-20110801.143026-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-test-3.0.6.BUILD-20110801.143026-2.jar"/>
               <value n="id" v="Spring-test-3.0.6.BUILD-20110801.143026-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/commons-beanutils-1.8.3.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Commons-beanutils-1.8.3.jar"/>
               <value n="id" v="Commons-beanutils-1.8.3.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/spring-core-3.0.6.BUILD-20110801.142337-2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Spring-core-3.0.6.BUILD-20110801.142337-2.jar"/>
               <value n="id" v="Spring-core-3.0.6.BUILD-20110801.142337-2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/collections-generic-4.01.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Collections-generic-4.01.jar"/>
               <value n="id" v="Collections-generic-4.01.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/querydsl-core-2.1.2.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Querydsl-core-2.1.2.jar"/>
               <value n="id" v="Querydsl-core-2.1.2.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
                  <url path="${backendlibRelative}/commons-collections-3.1.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="Commons-collections-3.1.jar"/>
               <value n="id" v="Commons-collections-3.1.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
##                  <url path="${physicalDirPathADFMavenJPA2Project}target/${model.name}BackEnd-${version}.jar" jar-entry=""/>
                  <url path="../model-maven/jpa2/target/${model.name}BackEnd-${version}.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="${modelUpperCase}BackEnd-${version}.jar"/>
               <value n="id" v="${modelUpperCase}BackEnd-${version}.jar"/>
               <value n="locked" v="true"/>
            </hash>
            <hash>
               <list n="classPath">
##                  <url path="${physicalDirPathADFMavenBslaProject}target/${model.name}Bsla-${version}.jar" jar-entry=""/>
                  <url path="../model-maven/bsla/target/${model.name}Bsla-${version}.jar" jar-entry=""/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="${modelUpperCase}Bsla-${version}.jar"/>
               <value n="id" v="${modelUpperCase}Bsla-${version}.jar"/>
               <value n="locked" v="true"/>
            </hash>
#end
#end
#macro(putSpringDep)
#foreach($dependency in $buildUtils.getDependencies($template))
         <hash>
            <value n="id" v="${dependency.filename}"/>
            <value n="isJDK" v="false"/>
         </hash>
#end
#if($isBindingSpring)
         <hash>
            <value n="id" v="${modelUpperCase}BackEnd-${version}.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="${modelUpperCase}Bsla-${version}.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Ehcache-core-2.3.0.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Slf4j-simple-1.5.8.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Annotations-1.3.2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-asm-3.0.6.BUILD-20110801.142304-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Mp-bsla-0.8.3.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-security-web-3.1.0.CI-20111124.083319-496.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-aop-3.0.6.BUILD-20110801.142505-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Jsr305-1.3.2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Commons-lang-2.4.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-tx-3.0.6.BUILD-20110801.142621-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Ojdbc14-10.0.2.0.0.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Hibernate-validator-4.0.2.GA.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-expression-3.0.6.BUILD-20110801.142407-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-security-crypto-3.1.0.CI-20111124.083238-100.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Lang-2.1.0.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Hibernate-annotations-3.5.1-Final.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-web-3.0.6.BUILD-20110801.142749-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-jdbc-3.0.6.BUILD-20110801.142718-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-context-3.0.6.BUILD-20110801.142536-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Hibernate-core-3.5.1-Final.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Slf4j-api-1.5.8.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Hibernate-entitymanager-3.5.1-Final.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Jta-1.1.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-beans-3.0.6.BUILD-20110801.142425-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Cglib-2.2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-security-config-3.1.0.CI-20111124.083223-494.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Aopalliance-1.0.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-orm-3.0.6.BUILD-20110801.142825-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Mysema-commons-lang-0.2.1.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Hibernate-commons-annotations-3.2.0.Final.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-security-core-3.1.0.CI-20111124.083231-496.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-oxm-3.0.6.BUILD-20110801.142644-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Querydsl-jpa-2.1.2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Antlr-2.7.6.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Log4j-1.2.14.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Javassist-3.9.0.GA.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Commons-logging-1.1.1.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Dom4j-1.6.1.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Asm-3.1.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Hibernate-jpa-2.0-api-1.0.0.Final.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Codegen-0.3.1.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Activation-1.1.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-test-3.0.6.BUILD-20110801.143026-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Commons-beanutils-1.8.3.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Spring-core-3.0.6.BUILD-20110801.142337-2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Collections-generic-4.01.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Querydsl-core-2.1.2.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Commons-collections-3.1.jar"/>
            <value n="isJDK" v="false"/>
         </hash>
#end	
#end
#exposeMaven()
#exposeADFFacesModelSpecific()
#exposeADFReleaseSpecific()
#exposeFrontEndBackendBindingType()
#exposeADFSpring()
#set($modelUpperCase=$formatUtils.firstUpperCaseOnly(${model.name}))
#set($backendlibRelative=$commonUtils.getRootRelative($model, $templateADFViewControllerJpr, $backendlib))
#set($relativePathMp4AdfFramework=$commonUtils.getRootRelative($model, $templateADFViewControllerJpr, $mp4adfsrc))
<?xml version = '1.0' encoding = 'UTF-8'?>
<jpr:project xmlns:jpr="http://xmlns.oracle.com/ide/project">
   <hash n="component-versions">
      <value n="oracle.adfdt.controller.adfc.source.migration.AdfControllerSchemaMigrator" v="11.1.1.1.0"/>
      <value n="oracle.adfdt.controller.common.migrator.ProjectMigrator" v="11.1.1.1.0"/>
      <value n="oracle.adfdt.controller.jsf2.diagram.migrate.JsfNodeMigratorHelper" v="11.1.1.1.0"/>
      <value n="oracle.adfdt.controller.struts.addin.db.ADFStrutsProjectMigrator" v="11.1.1.1.0"/>
      <value n="oracle.adfdt.controller.struts.addin.StrutsProjectMigrator" v="11.1.1.1.0"/>
      <value n="oracle.adfdtinternal.dvt.datapresdt.migration.DVTDataMapMigrator" v="11.1.1.1.0"/>
      <value n="oracle.adfdtinternal.model.ide.migration.ProjectMigrator" v="11.1.1.1.0.11.1.1"/>
      <value n="oracle.adfdtinternal.model.ide.security.wizard.FormPageMigrator" v="11.1.1.0.0"/>
      <value n="oracle.adfdtinternal.model.ide.security.wizard.JpsFilterMigrator" v="11.1.1.1.0"/>
      <value n="oracle.adfdtinternal.model.ide.xmled.migration.ADFNodeMigrator" v="11.1.1.1.0.5"/>
      <value n="oracle.adfdtinternal.model.ide.xmled.migration.PageDefinitionParameterValueMigrator" v="11.1.1.1.0.5"/>
      <value n="oracle.adfdtinternal.model.ide.xmled.migration.WebXmlMigrator" v="11.1.1.1.0"/>
      <value n="oracle.adfdtinternal.view.common.migration.wizards.MigrationHelper" v="11.1.1.1.0.3"/>
      <value n="oracle.adfdtinternal.view.rich.binding.migration.JarResourceMigrator" v="11.1.1.1.0"/>
      <value n="oracle.adfdtinternal.view.rich.migration.ComponentIdNodeMigratorHelper" v="11.1.1.1.0.01"/>
      <value n="oracle.adfdtinternal.view.rich.migration.LibraryVersionMigrator" v="11.1.1.1.0"/>
      <value n="oracle.bm.commonIde.ProjectUpgrader" v="11.1.1.1.0"/>
      <value n="oracle.bm.migration.project.MigratorRegistryProjectUpgradeAdapter" v="11.1.1.1.0"/>
      <value n="oracle.ide.model.Project" v="11.1.1.1.0"/>
      <value n="oracle.ide.model.ResourcePathsMigrator" v="11.1.1.1.0"/>
      <value n="oracle.jbo.dt.jclient.migrator.JCProjectMigrator" v="11.1.1.1.0"/>
      <value n="oracle.jbo.dt.jdevx.deployment.JbdProjectMigrator" v="11.1.1.1.0"/>
      <value n="oracle.jbo.dt.jdevx.ui.appnav.APProjectMigrator" v="11.1.1.0.1.5"/>
      <value n="oracle.jbo.dt.migrate.ResourceBundlePathMigrator" v="11.1.1.1.0.5"/>
      <value n="oracle.jbo.dt.migration.ServiceInterfaceMigrator" v="11.1.1.1.0"/>
      <value n="oracle.jdeveloper.ejb.EjbMigrator" v="11.1.1.1.0"/>
      <value n="oracle.jdeveloper.library.ProjectLibraryMigrator" v="11.1.1.1.0"/>
      <value n="oracle.jdeveloper.model.OutputDirectoryMigrator" v="11.1.1.1.0"/>
      <value n="oracle.jdevimpl.deploy.DeploymentProfilesMigrator" v="11.1.1.1.0"/>
      <value n="oracle.jdevimpl.deploy.jps.JpsDataMigrator" v="11.1.1.1.0"/>
      <value n="oracle.jdevimpl.jsp.JspMigrator" v="11.1.1"/>
      <value n="oracle.jdevimpl.offlinedb.migration.OfflineDBProjectMigrator" v="11.1.1.1.0"/>
      <value n="oracle.jdevimpl.offlinedb.migration.OfflineTransferMigrator" v="11.1.1.1.0"/>
      <value n="oracle.jdevimpl.resourcebundle.XliffAddin$XliffMigratorHelper" v="11.1.1.1.0"/>
      <value n="oracle.jdevimpl.webapp.jsp.libraries.JspLibraryMigrator" v="11.1.1.1.4"/>
      <value n="oracle.jdevimpl.webapp.WebAppContentSetNodeMigratorHelper" v="11.1.1"/>
      <value n="oracle.jdevimpl.webapp.WebAppNodeMigratorHelper" v="11.1.1.1.0"/>
      <value n="oracle.jdevimpl.webservices.WebServicesMigratorHelper" v="11.1.1.1.0"/>
      <value n="oracle.jdevimpl.xml.wl.WeblogicMigratorHelper" v="11.1.1.1.0"/>
      <value n="oracle.modeler.bmmigrate.management.Migration" v="11.1.1.1.0"/>
      <value n="oracle.tip.tools.ide.bpel.v1.designer.addin.migrator.BPELProjectMigrator" v="11.1.1.1.0"/>
      <value n="oracle.tip.tools.ide.fabric.addin.SCAProjectMigrator" v="11.1.1.1.0.06"/>
      <value n="oracle.tip.tools.ide.workflow.addin.TaskFormMigratorAddin" v="11.1.1.1.0"/>
      <value n="oracle.tip.tools.ide.workflow.addin.WorkflowProjectMigrator" v="11.1.1.1.0.10"/>
      <value n="oracle.toplink.workbench.addin.migration.PersistenceProjectMigrator" v="11.1.1.1.1"/>
      <value n="oracle.toplink.workbench.addin.migration.TopLinkProjectMigrator" v="11.1.1.1.0"/>
   </hash>
   <hash n="oracle.jdeveloper.model.PathsConfiguration">
      <hash n="javaContentSet">
         <list n="constituent-sets">
            <hash>
               <list n="pattern-filters">
                  <string v="+**"/>
               </list>
               <list n="url-path">
                  <url path="src/"/>
               </list>
            </hash>
            <hash>
               <list n="pattern-filters">
                  <string v="+**"/>
               </list>
               <list n="url-path">
                  <url path="$relativePathMp4AdfFramework"/>
               </list>
            </hash>
         </list>
         <list n="url-path"/>
      </hash>
   </hash>
   <list n="contentSets">
      <string v="oracle.jdeveloper.model.PathsConfiguration/javaContentSet"/>
      <string v="oracle.ide.model.ResourcePaths/resourcesContentSet"/>
      <string v="oracle.jdeveloper.offlinedb.model.OfflineDBProjectSettings/offlineDBContentSet"/>
      <string v="oracle.jdeveloper.model.J2eeSettings/webContentSet"/>
      <string v="oracle.mds.internal.dt.ide.MDSLibraryCustCSProvider/mdsContentSet"/>
      <string v="oracle.bm.commonIde.data.project.ModelerProjectSettings/modelersContentSet"/>
      <string v="oracle.adfdtinternal.model.ide.settings.ADFMSettings/adfmContentSet"/>
      <string v="oracle.toplink.workbench.addin/toplinkContentSet"/>
      <string v="oracle.tip.tools.ide.fabric.addin.SCAContentSetProvider/sca-content"/>
      <string v="oracle.bpm.fusion.repository.BPMProjectSettings/bpmProjectsProcessesContentSet"/>
   </list>
   <value n="defaultPackage" v="${javaPackageView}"/>
   <hash n="oracle.ide.model.DependencyConfiguration">
      <list n="dependencyList">
##if ($isBindingWsSDO)
         <hash>
            <value n="class" v="oracle.jdeveloper.library.ProjectLibrary"/>
            <url n="sourceOwnerURL" path="../${projectJwsFacesFullName}"/>
#if ($isBindingWsSDO || $isBindingSpring)
            <url n="sourceURL" path="../$viewControllerADFJprFullPath"/>
#elseif($isBindingDBDirect || $isBindingJava)
            <url n="sourceURL" path="../$modelADFJprFullPath"/>
#end
         </hash>
##elseif($isBindingDBDirect)
##         <hash>
##            <hash n="dependable">
##               <url n="sourceOwnerURL" path="../${projectJwsFacesFullName}"/>
##               <url n="sourceURL" path="../$modelADFJprFullPath"/>
##            </hash>
##            <value n="recognizerId" v="oracle.jdeveloper.library"/>
##         </hash>
##end
      </list>
   </hash>
   <hash n="oracle.ide.model.TechnologyScopeConfiguration">
      <list n="technologyScope">
         <string v="XML"/>
         <string v="Java"/>
         <string v="HTML"/>
         <string v="JSF"/>
         <string v="ADFc"/>
         <string v="JSP"/>
         <string v="ADF_FACES"/>
      </list>
   </hash>
   <hash n="oracle.jdeveloper.compiler.OjcConfiguration">
      <value n="internalEncoding" v="UTF-8"/>
      <list n="Javac.commandline.optionlist">
         <string v="-g"/>
         <string v="-Xlint:all"/>
         <string v="-Xlint:-cast"/>
         <string v="-Xlint:-empty"/>
         <string v="-Xlint:-fallthrough"/>
         <string v="-Xlint:-path"/>
         <string v="-Xlint:-serial"/>
         <string v="-Xlint:-unchecked"/>
      </list>
      <value n="webIANAEncoding" v="UTF-8"/>
   </hash>
   <hash n="oracle.jdeveloper.deploy.dt.DeploymentProfiles">
      <hash n="profileDefinitions">
         <hash n="${applicationName}_ViewController_webapp">
            <hash n="appletArchives"/>
            <hash n="appletFiles">
               <value n="autoInclude" v="true"/>
               <list n="selectionFilters">
                  <string v="oracle.jdevimpl.deploy.common.JavaSelectionFilter"/>
               </list>
            </hash>
            <hash n="archiveOptions">
               <value n="hasManifest" v="false"/>
            </hash>
            <value n="contextRoot" v="${applicationName}"/>
            <url n="earURL" path="deploy/${applicationName}.ear"/>
            <value n="enterpriseAppName" v="${applicationName}"/>
            <hash n="fileGroups">
               <list n="groups">
                  <hash>
                     <list n="contributors">
                        <hash>
                           <value n="type" v="5"/>
                        </hash>
                     </list>
                     <value n="displayName" v="Web Files"/>
                     <hash n="filters">
                        <list n="rules"/>
                     </hash>
                     <value n="internalName" v="web-files"/>
                     <value n="type" v="1"/>
                  </hash>
                  <hash>
                     <list n="contributors">
                        <hash>
                           <value n="type" v="2"/>
                        </hash>
                        <hash>
                           <value n="type" v="7"/>
                        </hash>
                     </list>
                     <value n="displayName" v="WEB-INF/classes"/>
                     <hash n="filters">
                        <list n="rules"/>
                     </hash>
                     <value n="internalName" v="project-output"/>
                     <value n="targetWithinJar" v="WEB-INF/classes"/>
                     <value n="type" v="1"/>
                  </hash>
                  <hash>
                     <value n="displayName" v="WEB-INF/lib"/>
                     <hash n="filters">
                        <list n="rules">
                           <hash>
                              <value n="pattern" v="**"/>
                           </hash>
                        </list>
                     </hash>
                     <value n="internalName" v="libraries"/>
                     <value n="targetWithinJar" v="WEB-INF/lib"/>
                     <value n="type" v="3"/>
                  </hash>
               </list>
            </hash>
            <url n="jarURL" path="deploy/${applicationName}.war"/>
            <hash n="libraryDependencies">
               <value n="IncludeLibrariesFromOtherContainers" v="true"/>
            </hash>
            <value n="profileClass" v="oracle.jdeveloper.deploy.war.WarProfile"/>
            <value n="profileName" v="${applicationName}_ViewController_webapp"/>
         </hash>
      </hash>
      <list n="profileList">
         <string v="${applicationName}_ViewController_webapp"/>
      </list>
   </hash>
   <hash n="oracle.jdeveloper.model.J2eeSettings">
      <value n="j2eeWebAppName" v="${applicationName}"/>
      <value n="j2eeWebContextRoot" v="${applicationName}"/>
   </hash>
   <hash n="oracle.jdeveloper.runner.RunConfigurations">
      <hash n="runConfigurationDefinitions">
         <hash n="Default">
            <value n="custom" v="false"/>
            <value n="name" v="Default"/>
         </hash>
      </hash>
      <list n="runConfigurationList">
         <string v="Default"/>
      </list>
   </hash>
   <hash n="oracle.jdevimpl.config.JProjectLibraries">
      <list n="exportedReferences">
         <hash>
            <value n="id" v="JSF 1.2"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="JSTL 1.2"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Page Flow Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Controller Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Controller Schema"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Faces Runtime 11"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Common Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Web Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="MDS Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="MDS Runtime Dependencies"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Commons Beanutils 1.6"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Commons Logging 1.0.4"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Commons Collections 3.1"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF DVT Faces Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF DVT Faces Databinding Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF DVT Faces Databinding MDS Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="JSP Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="JPS Designtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Oracle JEWT"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Common Web Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Oracle Page Templates"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Faces Databinding Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Model Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="oracle.adfm.adapter.WebServiceDataControl Library"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Web Service Data Control"/>
            <value n="isJDK" v="false"/>
         </hash>
#putSpringDep()
      </list>
      <hash n="internalDefinitions">
         <list n="libraryDefinitions">
            <hash>
               <list n="classPath">
                  <url path="../.adf/"/>
               </list>
               <value n="deployedByDefault" v="true"/>
               <value n="description" v="oracle.adfm.adapter.WebServiceDataControl Library"/>
               <value n="id" v="oracle.adfm.adapter.WebServiceDataControl Library"/>
            </hash>
#putSpringClassPathDep()
         </list>
      </hash>
      <list n="libraryReferences">
         <hash>
            <value n="id" v="JSF 1.2"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="JSTL 1.2"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Page Flow Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Controller Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Controller Schema"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Faces Runtime 11"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Common Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Web Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="MDS Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="MDS Runtime Dependencies"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Commons Beanutils 1.6"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Commons Logging 1.0.4"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Commons Collections 3.1"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF DVT Faces Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF DVT Faces Databinding Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF DVT Faces Databinding MDS Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="JSP Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="JPS Designtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Oracle JEWT"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Common Web Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Oracle Page Templates"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Faces Databinding Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="ADF Model Runtime"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="oracle.adfm.adapter.WebServiceDataControl Library"/>
            <value n="isJDK" v="false"/>
         </hash>
         <hash>
            <value n="id" v="Web Service Data Control"/>
            <value n="isJDK" v="false"/>
         </hash>
#putSpringDep()	
      </list>
   </hash>
   <hash n="oracle.jdevimpl.config.JProjectPaths">
      <url n="outputDirectory" path="classes/"/>
   </hash>
   <hash n="oracle.jdevimpl.webapp.jsp.libraries.model.ProjectTagLibraries">
      <list n="tag-libraries">
         <hash>
            <hash n="baseLibrary">
               <value n="name" v="ADF Faces Components"/>
               <value n="version" v="11"/>
            </hash>
            <value n="jspVersion" v="1.2"/>
            <value n="name" v="ADF Faces Components"/>
            <value n="tldURL" v="@oracle.home@../oracle_common/modules/oracle.adf.view_11.1.1/adf-richclient-impl-11.jar!/META-INF/afu.tld"/>
            <value n="URI" v="http://xmlns.oracle.com/adf/faces/rich"/>
            <value n="version" v="11"/>
         </hash>
         <hash>
            <hash n="baseLibrary">
               <value n="name" v="JSF Core"/>
               <value n="version" v="1.2"/>
            </hash>
            <value n="jspVersion" v="2.1"/>
            <value n="name" v="JSF Core"/>
            <value n="tldURL" v="@oracle.home@../oracle_common/modules/oracle.jsf_1.2.9/glassfish.jsf_1.0.0.0_1-2-15.jar!/META-INF/jsf_core.tld"/>
            <value n="URI" v="http://java.sun.com/jsf/core"/>
            <value n="version" v="1.2"/>
         </hash>
         <hash>
            <hash n="baseLibrary">
               <value n="name" v="JSF HTML"/>
               <value n="version" v="1.2"/>
            </hash>
            <value n="jspVersion" v="2.1"/>
            <value n="name" v="JSF HTML"/>
            <value n="tldURL" v="@oracle.home@../oracle_common/modules/oracle.jsf_1.2.9/glassfish.jsf_1.0.0.0_1-2-15.jar!/META-INF/html_basic.tld"/>
            <value n="URI" v="http://java.sun.com/jsf/html"/>
            <value n="version" v="1.2"/>
         </hash>
      </list>
   </hash>
</jpr:project>

