#exposeVariableEntitySpecific()
#addedAreas()
package $packageName;

import org.eclipse.persistence.sdo.SDODataObject;
import $SDOViewImport;

public class $className extends SDODataObject implements $SDOViewClass {

   public static final int START_PROPERTY_INDEX = 0;

   public static final int END_PROPERTY_INDEX = START_PROPERTY_INDEX + ${table.columnCounts()};

   public $className() {}

#foreach ($column in $table.columns)
#putColumnParamNaming()
#set($cpt = $velocityCount - 1)
   public java.lang.Long get$columnClass() {
      return getLong(START_PROPERTY_INDEX + $cpt);
   }

   public void set$columnClass($columnFullType value) {
      set(START_PROPERTY_INDEX + $cpt , value);
   }

#end

}

