#exposeADFFacesEntitySpecific()
#exposeADFFacesDataControlEntitySpecific()
#exposeFrontEndBackendBindingType()
#exposeADFFacesSpringModelBindingSpecific()
#set($thisTable=$table)
#set($beanVOADFFacesVariable = $formatUtils.getJavaNameVariableConvertReservedWord($beanVOADFFacesVariable))
package $packageName;

import $beanVOADFFacesImport;

import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.ArrayList;

import oracle.adf.model.BindingContext;
import oracle.adf.model.binding.DCBindingContainer;
import oracle.adf.view.rich.context.AdfFacesContext;

import javax.faces.model.SelectItem;

import oracle.binding.BindingContainer;
import oracle.binding.OperationBinding;

#exposeADFFacesEntityImport()
#foreach ($linkReference in $enrichmentUtils.getLinkedTargetReferenceByMany2Many($thisTable))
#exposeM2MSpecific()
#exposeADFFacesSpringBindingSpecific4Entity($targetTable)
import $beanADFFacesSpringServiceImport;
#end
// distinct
#foreach ($reference in $thisTable.distinctParentsType)
#set($foreignTable=$reference.foreignTable)
#if ($tableUtils.isAdminContentType($foreignTable))
#exposeADFFacesSpringBindingSpecific4Entity($foreignTable)
import $beanADFFacesSpringServiceImport;
#end
#end

import $beanADFFacesSpringAppContextLoaderImport;
import $adapterBackingBeanADFFacesImport;

public class $className extends $adapterBackingBeanADFFacesClassName {

#foreach ($linkReference in $enrichmentUtils.getLinkedTargetReferenceByMany2Many($thisTable))
#exposeM2MSpecific()
#exposeADFFacesSpringBindingSpecific4Entity($targetTable)
    ${beanADFFacesSpringServiceClass} _$beanADFFacesSpringServiceVariable;
#end
#foreach ($reference in $thisTable.distinctParentsType)
#set($foreignTable=$reference.foreignTable)
#if ($tableUtils.isAdminContentType($foreignTable))
#exposeADFFacesSpringBindingSpecific4Entity($foreignTable)
    $beanADFFacesSpringServiceClass $beanADFFacesSpringServiceVariable;
#end
#end
    private ${beanVOADFFacesClass} _${beanVOADFFacesVariable};
##works for one pk only
    private $primaryKeyType ${domainVariableName}Param;
    protected $primaryKeyType get${domainVariableName}Param() {
        return ${domainVariableName}Param;
    }
    public $className () {
        ${domainVariableName}Param = ($primaryKeyType)AdfFacesContext.getCurrentInstance().getDialogService().getInitialDialogParameters().get("${entityADFVariable}Reference");
#foreach ($linkReference in $enrichmentUtils.getLinkedTargetReferenceByMany2Many($thisTable))
#exposeM2MSpecific()
#exposeADFFacesSpringBindingSpecific4Entity($targetTable)
        _$beanADFFacesSpringServiceVariable = ($beanADFFacesSpringServiceClass)${beanADFFacesSpringAppContextLoaderClass}.getContextLoader().getAppContext().getBean("$beanADFFacesSpringServiceVariable");
#end
#foreach ($reference in $thisTable.distinctParentsType)
#set($foreignTable=$reference.foreignTable)
#if ($tableUtils.isAdminContentType($foreignTable))
#exposeADFFacesSpringBindingSpecific4Entity($foreignTable)
        $beanADFFacesSpringServiceVariable = ($beanADFFacesSpringServiceClass)${beanADFFacesSpringAppContextLoaderClass}.getContextLoader().getAppContext().getBean("$beanADFFacesSpringServiceVariable");
#end
#end
	}

    public void delete${domainClassName}(DCBindingContainer bindings) {
        Map map = new HashMap();
##works one for one primary key
        ${beanVOADFFacesClass} ref = get${domainClassName}();
        ref.set$primaryKeyJavaNameClass(${domainVariableName}Param);
        map.put("${beanVOADFFacesVariable}", ref);
        OperationBinding ob = bindings.getOperationBinding("delete$domainClassName");
        ob.getParamsMap().putAll(map);
        ob.execute();
    }
    
    public void rollback${domainClassName}() {
	    System.out.println(">>>> rollback ");
        this._${beanVOADFFacesVariable} = null;
    }
    
    public void save${domainClassName}(DCBindingContainer bindings) {
        Map ${domainVariableName}Param = new HashMap();
        ${domainVariableName}Param.put("${beanVOADFFacesVariable}", getConsolidated(this._${beanVOADFFacesVariable}));
//        System.out.println(">>>>> ${beanVOADFFacesVariable} "+this._${beanVOADFFacesVariable});
        OperationBinding ob = bindings.getOperationBinding("createOrUpdate${domainClassName}");
        ob.getParamsMap().putAll(${domainVariableName}Param);
        ob.execute();
    }
    
    public void set${domainClassName}($beanVOADFFacesClass _${beanVOADFFacesVariable}) {
        this._${beanVOADFFacesVariable} = _${beanVOADFFacesVariable};
    }

    public ${beanVOADFFacesClass} get${domainClassName}() {
        if (_${beanVOADFFacesVariable}==null) {
            Map map = new HashMap();
##works one for one primary key
            ${beanVOADFFacesClass} ref = new ${beanVOADFFacesClass}();
            ref.set$primaryKeyJavaNameClass(${domainVariableName}Param);
            map.put("${beanVOADFFacesVariable}", ref);
            BindingContext bindingCtx = BindingContext.getCurrent();
            BindingContainer bindings = bindingCtx.getCurrentBindingsEntry();
            OperationBinding ob = bindings.getOperationBinding("get$domainClassName");
            ob.getParamsMap().putAll(map);
            this._${beanVOADFFacesVariable} = (${beanVOADFFacesClass})ob.execute();
        }
        return _${beanVOADFFacesVariable};
    }

#if($todo)
	public void reset () {
        Map mapParam = new HashMap();
        mapParam.put("${domainVariableName}", new $beanVOADFFacesClass()); //the variable name of the operation signature has to be passed
        OperationBinding ob = bindings.getOperationBinding("list$domainClassName");
        ob.getParamsMap().putAll(mapParam);
        ob.execute();
        $beanVOADFFacesQueryResponseClass result = ($beanVOADFFacesQueryResponseClass)ob.getResult();
        //displayResults=true;
        ${domainVariableName}Table.getRequest().getCriterias().clear();
        ${domainVariableName}Table.setPageNumber(1);
	}
#end	

#foreach ($reference in $thisTable.distinctParentsType)
#set($foreignTable=$reference.foreignTable)
#if ($tableUtils.isAdminContentType($foreignTable))
#exposeADFFacesSpringBindingSpecific4Entity($foreignTable)
#putReferenceParams2()
#set($columnClass=$referenceUtils.getColumnClassNameForLinkTable($database, $linkedColumn))
    public List<SelectItem> get${localColumnClass}List() {
        List<SelectItem> list = new ArrayList<SelectItem>();
        for ($domainClassImport element : ${beanADFFacesSpringServiceVariable}.getList()) {
            list.add(new SelectItem(element.get$columnClass(),element.get$columnClass()));
        }
        return list;
    }
#end
#end

#foreach ($linkReference in $enrichmentUtils.getLinkedTargetReferenceByMany2Many($thisTable))
#exposeM2MSpecific()
#exposeADFFacesSpringBindingSpecific4Entity($targetTable)
#set($firstPkColumn=$tableUtils.getPrimaryFirstColumn($targetTable))
#set($firstPkColumnClass=$formatUtils.getJavaName(${firstPkColumn.alias}))
#set($column=$tableUtils.getPrimaryFirstColumn($targetTable))
#set ($beanClassImport = $commonUtils.getEntityLevelTemplateFullPath($model, $targetTable, $template, $templateBeanVOADFFaces))
#putColumnParams()
    @Override
    public List<$columnType> getSelected${childrenListClass}() {
       if (selected${childrenListClass} == null) {
          selected${childrenListClass} = new ArrayList<$columnType>();
          if (_$beanVOADFFacesVariable!=null) {
              for ($beanClassImport entity: _${beanVOADFFacesVariable}.get${childrenListClass}()) {
                  selected${childrenListClass}.add(entity.get${columnClass}());
              }
          }
      }
      return selected${childrenListClass};   
    }
#end
}
