#exposeADFFacesModelSpecific()
#exposeADFFacesDataControlModelSpecific()
#exposeADFDataBindingControlSpecific()
<?xml version="1.0" encoding="UTF-8" ?>
<Application xmlns="http://xmlns.oracle.com/adfm/application"
             version="11.1.1.60.13" id="$className" SeparateXMLFiles="false"
             Package="view" ClientType="Generic">
  <definitionFactories>
    <factory nameSpace="http://xmlns.oracle.com/adf/controller/binding"
             className="oracle.adf.controller.internal.binding.TaskFlowBindingDefFactoryImpl"/>
    <dtfactory className="oracle.adf.controller.internal.dtrt.binding.BindingDTObjectFactory"/>
  </definitionFactories>
  <pageMap>
#foreach ($table in ${entities})
#exposeADFFacesEntitySpecific()
    <page path="/$entityEntryADFFaceRelativePath"
          usageId="view_${domainVariableName}PageDef"/>
#end
  </pageMap>
  <pageDefinitionUsages>
##    <page id="view_navigatorsPageDef" path="pages.common.navigatorsPageDef"/>
#foreach ($table in ${entities})
#exposeADFFacesEntitySpecific()
    <page id="view_${domainVariableName}PageDef"
          path="$pageDefADFFacesEntityImport"/>
    <page id="view_edit${domainVariableName}PageDef"
          path="$pageDefADFFacesEntityImport"/>
#end
  </pageDefinitionUsages>

  <dataControlUsages>
#if ($isBindingMock)
    <dc id="TableDataProvider" path="tabledatacontrol.TableDataProvider"/>
#elseif($isBindingDBDirect)	
    <BC4JDataControl id="AppModuleDataControl" Package="demo.model"
                     FactoryClass="oracle.adf.model.bc4j.DataControlFactoryImpl"
                     SupportsTransactions="true" SupportsFindMode="true"
                     SupportsRangesize="true" SupportsResetState="true"
                     SupportsSortCollection="true"
                     Configuration="AppModuleLocal" syncMode="Immediate"
                     xmlns="http://xmlns.oracle.com/adfm/datacontrol"/>
#elseif($isBindingWsSDO)
    <dc id="$ADFSDOWsDcDefClass" path="$ADFSDOWsDcDefImport"/>
#end
  </dataControlUsages>

</Application>
