#exposeADFFacesEntitySpecific()
<?xml version="1.0" encoding="windows-1252" ?>
<adfc-config xmlns="http://xmlns.oracle.com/adf/controller" version="1.2">
  <task-flow-definition id="viewEdit${domainVariableName}-flow">
##  <task-flow-definition id="$className">
    <default-activity id="__2">${domainVariableName}Details</default-activity>
    <managed-bean id="__12">
##      <managed-bean-name id="__13">viewEdit${domainVariableName}Bean</managed-bean-name>
      <managed-bean-name id="__13">$viewEditEntityBeanVariable</managed-bean-name>
##      <managed-bean-class id="__1">pages.administration.cases.${domainVariableName}.ViewEdit${domainVariableName}Bean</managed-bean-class>
      <managed-bean-class id="__1">$viewEditEntityBeanImport</managed-bean-class>
      <managed-bean-scope id="__14">pageFlow</managed-bean-scope>
    </managed-bean>
    <view id="${domainVariableName}Details">
##      <page>/pages/administration/cases/${domainVariableName}/${domainVariableName}Details.jspx</page>
      <page>${detailADFFacesRelativePath}</page>
##      <page>/pages/administration/cases/${domainVariableName}/${domainVariableName}Details.jspx</page>
##      <page>${detailADFFacesRelativePath}</page>
    </view>
    <view id="edit${domainClassName}">
##      <page>/pages/administration/cases/${domainVariableName}/edit${domainVariableName}.jspx</page>
      <page>${editADFFacesRelativePath}</page>
    </view>
    <task-flow-return id="taskFlowReturn1">
      <outcome id="__8">
        <name>taskFlowReturn1</name>
      </outcome>
    </task-flow-return>
    <method-call id="delete">
      <method>#{pageFlowScope.${domainVariableName}ViewEditBean.delete${domainClassName}}</method>
      <parameter>
        <class>oracle.adf.model.binding.DCBindingContainer</class>
        <value>#{data.view_edit${domainVariableName}PageDef}</value>
      </parameter>
      <outcome id="__28">
        <fixed-outcome>delete</fixed-outcome>
      </outcome>
    </method-call>
    <method-call id="save">
      <method>#{pageFlowScope.${domainVariableName}ViewEditBean.save${domainClassName}}</method>
      <parameter>
        <class>oracle.adf.model.binding.DCBindingContainer</class>
        <value>#{data.view_edit${domainVariableName}PageDef}</value>
      </parameter>
      <outcome id="__42">
        <fixed-outcome>*</fixed-outcome>
      </outcome>
    </method-call>
    <method-call id="rollback">
      <method>#{pageFlowScope.${domainVariableName}ViewEditBean.rollback${domainClassName}}</method>
      <outcome id="__37">
        <fixed-outcome>rollback</fixed-outcome>
      </outcome>
    </method-call>
    <control-flow-rule id="__3">
      <from-activity-id id="__4">${domainVariableName}Details</from-activity-id>
      <control-flow-case id="__6">
        <from-outcome id="__7">edit</from-outcome>
        <to-activity-id id="__5">edit${domainClassName}</to-activity-id>
      </control-flow-case>
      <control-flow-case id="__9">
        <from-outcome id="__11">close</from-outcome>
        <to-activity-id id="__10">taskFlowReturn1</to-activity-id>
      </control-flow-case>
    </control-flow-rule>
    <control-flow-rule id="__15">
      <from-activity-id id="__16">edit${domainClassName}</from-activity-id>
      <control-flow-case id="__18">
        <from-outcome id="__19">delete</from-outcome>
        <to-activity-id id="__17">delete</to-activity-id>
      </control-flow-case>
      <control-flow-case id="__21">
        <from-outcome id="__22">cancel</from-outcome>
        <to-activity-id id="__20">rollback</to-activity-id>
      </control-flow-case>
      <control-flow-case id="__29">
        <from-outcome id="__31">save</from-outcome>
        <to-activity-id id="__30">save</to-activity-id>
      </control-flow-case>
    </control-flow-rule>
    <control-flow-rule id="__23">
      <from-activity-id id="__24">delete</from-activity-id>
      <control-flow-case id="__26">
        <from-outcome id="__27">delete</from-outcome>
        <to-activity-id id="__25">taskFlowReturn1</to-activity-id>
      </control-flow-case>
    </control-flow-rule>
    <control-flow-rule id="__32">
      <from-activity-id id="__33">rollback</from-activity-id>
      <control-flow-case id="__34">
        <from-outcome id="__36">rollback</from-outcome>
        <to-activity-id id="__35">${domainVariableName}Details</to-activity-id>
      </control-flow-case>
    </control-flow-rule>
    <control-flow-rule id="__38">
      <from-activity-id id="__39">save</from-activity-id>
      <control-flow-case id="__41">
        <to-activity-id id="__40">taskFlowReturn1</to-activity-id>
      </control-flow-case>
    </control-flow-rule>
  </task-flow-definition>
</adfc-config>
