#exposeADFFacesModelSpecific()
<?xml version="1.0" encoding="windows-1252" ?>
<menu xmlns="http://myfaces.apache.org/trinidad/menu">
	
#addArea("custom-groupnode-definition-beginning")
<groupNode id="ApplicationGroup" label="Application Management"
#foreach ($package in ${businessPackages})
#set($groupId="${package.name}Group")
#set($groupLabel=$package.name)
#set($groupIdRef="${package.name}Group")
#if($velocityCount==1)
## idref="ApplicationGroup">
 idref="$groupIdRef">
#end
   <!-- $package.name -->	
#exposeModelUpdatedAreas("${groupLabel}-node-begin")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else 
      <groupNode id="$groupId" label="$groupLabel" 
#foreach ($table in ${package.listOfTables})
#exposeADFFacesEntitySpecific()
#if($velocityCount==1)
## idref="$groupIdRef">  
 idref="${domainClassName}Item">  
#end
        <itemNode id="${domainClassName}Item" label="#{viewcontrollerBundle['${tableVariableName}']}"
                  action="goto${domainClassName}"
                  focusViewId="/${domainVariableName}View"/>
#end
      </groupNode>
#end
$!updatedAreaEnd
#if ($showViews)
   <!-- $package.name view-->	
      <groupNode id="$groupId" label="$groupLabel" 
#foreach ($table in ${package.listOfViews})
#exposeADFFacesEntitySpecific()
#if($velocityCount==1)
## idref="$groupIdRef">  
 idref="${domainClassName}Item">  
#end
        <itemNode id="${domainClassName}Item" label="#{viewcontrollerBundle['${tableVariableName}']}"
                  action="goto${domainClassName}"
                  focusViewId="/${domainVariableName}View"/>

#end
#exposeModelUpdatedAreas("${groupLabel}-node-end")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else 
      </groupNode>
#end
$!updatedAreaEnd
#end
#end
#addArea("custom-groupnode-definition-ending")
   </groupNode>	
</menu>
