#exposeADFFacesEntitySpecific()
#exposeADFDataBindingControlSpecific()
#exposeADFFacesDomainObject()
<?xml version="1.0" encoding="UTF-8" ?>
<pageDefinition xmlns="http://xmlns.oracle.com/adfm/uimodel"
                version="11.1.1.61.92" id="$className"
                Package="$packageName">
  <parameters/>
  <executables>
    <variableIterator id="variables"/>
  </executables>
  <bindings>

    <methodAction id="get${domainObjectClass}" RequiresUpdateModel="true"
                  Action="invokeMethod" MethodName="get${domainObjectClass}"
                  IsViewObjectMethod="false" DataControl="${dataControlRef}"
                  InstanceName="${dataControlRef}.dataProvider"
                  ReturnName="data.${dataControlRef}.methodResults.get${domainObjectClass}_${dataControlRef}_dataProvider_get${domainObjectClass}_result">
      <NamedData NDName="reference" NDType="$importDomainObjectUML" NDOption="2"/>
    </methodAction>

  </bindings>
</pageDefinition>
