<?xml version="1.0" encoding="windows-1252" ?>
<!DOCTYPE AppModule SYSTEM "jbo_03_01.dtd">
<!---->
<AppModule
  xmlns="http://xmlns.oracle.com/bc4j"
  Name="AppModule"
  Version="11.1.2.59.47"
  ClearCacheOnRollback="true">
#foreach($viewUsage in $viewUsages)
  <ViewUsage
    Name="$viewUsage.name"
    ViewObjectName="$viewUsage.fullType"/>
#end
##  <ViewUsage
##    Name="EmployeesView1"
##    ViewObjectName="demo.model.EmployeesView"/>
#foreach($viewLinkUsage in $viewLinkUsages)
  <ViewLinkUsage
    Name="$viewLinkUsage.name"
    ViewLinkObjectName="$viewLinkUsage.fullType"
    SrcViewUsageName="$viewLinkUsage.source"
    DstViewUsageName="$viewLinkUsage.destination"
    Reversed="$viewLinkUsage.isReverse"/>
#end
</AppModule>
