#exposeADFFacesModelSpecific()
#set($cpt=20)
<?xml version="1.0" encoding="windows-1252" ?>
<adfc-config xmlns="http://xmlns.oracle.com/adf/controller" version="1.2">

##foreach ($table in $entities)
##exposeADFFacesEntitySpecific()
##  <view id="${domainVariableName}">
##    <page>$entityEntryADFFaceRelativePath</page>
##  </view>
##end
##
#foreach ($table in ${entities})
  <control-flow-rule id="__$cpt">
#set($cpt=$cpt+1)
    <from-activity-id id="__$cpt">*</from-activity-id>
#set($cpt=$cpt+1)
##foreach ($table in $entities)
#exposeADFFacesEntitySpecific()
    <control-flow-case id="__$cpt">
#set($cpt=$cpt+1)
      <from-outcome id="__$cpt">goTo${domainClassName}</from-outcome>
#set($cpt=$cpt+1)
	  <to-activity-id id="__$cpt">${domainVariableName}</to-activity-id>
#set($cpt=$cpt+1)
    </control-flow-case>
##end
  </control-flow-rule>
#end
  
  <managed-bean id="__1">
    <description id="__2">Menu Model Managed Bean</description>
    <managed-bean-name id="__3">administration_menu_model</managed-bean-name>
    <managed-bean-class>oracle.adf.view.rich.model.MDSMenuModel</managed-bean-class>
    <managed-bean-scope id="__4">request</managed-bean-scope>
    <managed-property id="__4">
      <property-name id="__6">createHiddenNodes</property-name>
      <value id="__7">false</value>
    </managed-property>
    <managed-property id="__8">
      <property-name id="__9">source</property-name>
      <property-class id="__10">java.lang.String</property-class>
      <value id="__11">$menuADFFacesModelRelativePath</value>
    </managed-property>
  </managed-bean>

</adfc-config>
