#exposeADFFacesEntitySpecific()
#set($separator=$i18nUtils.getSeparator($template))
#set($entityCriteriaActivated=$template.getPropertyValue("activate-entity-criteria",false))
<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1">
      <af:messages id="m1"/>
      <af:form id="f1">
        <af:pageTemplate viewId="/WEB-INF/common/template.jspx" id="pt1">
          <f:facet name="PageTitle">
##            <af:outputText value="#{viewcontrollerBundle['${entityADFImport}.title']}"
            <af:outputText value="#{viewcontrollerBundle['${tableVariableName}']}"
                           id="ot1"/>
          </f:facet>
          <f:facet name="PageSubtitle"/>
          <f:facet name="PageContent">
            <af:panelTabbed id="${entityADFVariable}_pt2" dimensionsFrom="auto" binding="#{viewScope.${entityADFVariable}BackingBean.panelTab}">
##              <af:showDetailItem text="#{viewcontrollerBundle['${entityADFImport}.consult.tabtitle']}"
              <af:showDetailItem text="#{viewcontrollerBundle['consult.title']}"
                                 id="${entityADFVariable}_sdi1">
                 <af:panelGroupLayout id="${entityADFVariable}_pgl3" layout="horizontal" halign="left" inlineStyle="width:518px;">                
                    <af:panelBox text="#{viewcontrollerBundle['consult.select.header']} #{viewcontrollerBundle['${tableVariableName}']}"
                                 id="${entityADFVariable}_pb1" styleClass="section"
                                 disclosed="#{viewScope.${entityADFVariable}BackingBean.displaySearch}">
                      <af:panelFormLayout id="${entityADFVariable}_pfl1" labelWidth="100px"
                                          fieldWidth="400px">
#if($entityCriteriaActivated)
                      <af:selectBooleanRadio group="searchRadioSearchMatch"
                                             label="Any" id="searchRadioAny"
                                             value="#{viewScope.${entityADFVariable}BackingBean.searchAny}"/>
                      <af:selectBooleanRadio group="searchRadioSearchMatch"
                                             label="All" id="searchRadioAll"
                                             value="#{viewScope.${entityADFVariable}BackingBean.searchAll}"
                                             />
                      <af:separator id="sep1"/>
                      <af:selectBooleanRadio group="searchRadioSearchType"
                                             label="Equals" id="searchRadioEquals"
                                             value="#{viewScope.${entityADFVariable}BackingBean.searchEquals}"/>
                      <af:selectBooleanRadio group="searchRadioSearchType"
                                             label="Contains" id="searchRadioContains"
                                             value="#{viewScope.${entityADFVariable}BackingBean.searchContains}"
                                             />
                      <af:selectBooleanRadio group="searchRadioSearchType"
                                             label="Like" id="searchRadioLike"
                                             value="#{viewScope.${entityADFVariable}BackingBean.searchLike}"/>
                      <af:separator id="sep2"/>
					  <af:selectBooleanRadio group="searchRadioSearchCase"
                                             label="Case sensitive" id="searchRadioCaseSensitive"
                                             value="#{viewScope.${entityADFVariable}BackingBean.searchCaseSensitive}"
                                             />
                      <af:selectBooleanRadio group="searchRadioSearchCase"
                                             label="Case insensitive" id="searchRadioCaseInsensitive"
                                             value="#{viewScope.${entityADFVariable}BackingBean.searchCaseInsensitive}"/>
                      <af:separator id="sep3"/>
#end
#exposeModelUpdatedAreas("search-node")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else 
#if (!$hasSemanticReference)
#foreach ($column in $table.columns)  
#putColumnParamNaming()
#adfEntityColumnDisplay("${columnVar}it")
#end 
#else
#set ($semanticReference = $table.getSemanticReference())
#foreach ($chunk in $semanticReference.semanticReferenceBeanPath)    
#set($column = $semanticReferenceUtils.convertPathToColumn($table, $chunk))
#putColumnParamNaming()
#adfEntityColumnDisplay("${columnVar}it")
#end  
#end
#end

                      </af:panelFormLayout>
                        <af:panelGroupLayout id="pgl1" halign="end"
                                                 layout="horizontal">
                              <f:facet name="separator">
                                <af:spacer width="10" height="1"/>
                              </f:facet>
                              <af:commandButton text="#{viewcontrollerBundle['searchHeading']}"
                                                id="search"
                                                actionListener="#{viewScope.${entityADFVariable}BackingBean.doSearch}"
                                                inlineStyle="background-color:#4B9FC9; background-image:none; color:#FFF;"/>
                              <af:panelLabelAndMessage label="#{viewcontrollerBundle['selectOr']}"
                                                       id="plam1"
                                                       for="msdisplayall">
                               <af:commandButton text="#{viewcontrollerBundle['displayAll']}"
                                                  id="msdisplayall"
                                                  actionListener="#{viewScope.${entityADFVariable}BackingBean.displayAll}"/>
                              </af:panelLabelAndMessage>
                        </af:panelGroupLayout>
                    </af:panelBox>
                 </af:panelGroupLayout>
## list
                 <af:panelGroupLayout layout="horizontal" halign="left"
                        rendered="#{viewScope.${entityADFVariable}BackingBean.displayResults}">
                    <af:panelBox id="${entityADFVariable}__pb2" showDisclosure="false"
                                 showHeader="always" ramp="core"
                                 styleClass="section">
                      <af:pageTemplate viewId="/WEB-INF/common/tableCollectionTemplate.jspx"
                                       id="${entityADFVariable}TableTmpl">
                        <f:facet name="table">
                        <af:table id="${entityADFVariable}Table"
                                    value="#{bindings.${domainVariableName}DTOs.collectionModel}"
                                    var="row"
                                    rows="#{viewScope.${entityADFVariable}BackingBean.${entityADFVariable}Table.rangeSize}"
                                    emptyText="#{bindings.${domainVariableName}DTOs.viewable ? 'No data to display.' : 'Access Denied.'}"
                                    fetchSize="#{viewScope.${entityADFVariable}BackingBean.${entityADFVariable}Table.rangeSize}"
                                    rowBandingInterval="1"
                                    filterModel="#{bindings.${domainVariableName}DTOsQuery.queryDescriptor}"
                                    queryListener="#{viewScope.${entityADFVariable}BackingBean.${entityADFVariable}Table.queryListener}"
                                    filterVisible="true"
                                    columnResizing="disabled" autoHeightRows="0"
                                    varStatus="vs" rowSelection="none"
                                    width="500px" contentDelivery="immediate"
                                    immediate="true"
                                    binding="#{viewScope.${entityADFVariable}BackingBean.${entityADFVariable}Table.tableUIComp}">
##pk
#exposeModelUpdatedAreas("list-node")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else 
    
#foreach ($column in $table.columns)  
#putColumnParamNaming()
#if($isPrimaryKey)
                            <af:column sortProperty="${columnVar}" sortable="true"
                                       filterable="true"
                                       headerText="#{viewcontrollerBundle['$tableVariableName$separator$columnVar']}"
                                       id="${columnVar}_id" width="$adfUtils.getDisplayColumnWithHeader($column)">
                              <af:commandLink text="#{row.${columnVar}}" id="${columnVar}1"
                                              action="details" immediate="true"
                                              partialSubmit="true"
                                              useWindow="true"
                                              windowEmbedStyle="inlineDocument"
                                              windowModalityType="applicationModal"
                                              windowHeight="200"
                                              windowWidth="400"
                                              launchListener="#{viewScope.${entityADFVariable}BackingBean.handleLaunchEdit${entityADFClass}Dlg}">
##works for one pk only
								<f:attribute name="${entityADFVariable}Reference" value="#{row.${columnVar}}"/>
                              </af:commandLink>
                            </af:column>
#else
                            <af:column sortProperty="${columnVar}" sortable="true"
                                       filterable="true"
                                       headerText="#{viewcontrollerBundle['$tableVariableName$separator$columnVar']}"
                                       id="${columnVar}_col" width="$adfUtils.getDisplayColumnWithHeader($column)">
#if($isForeignKey)
#set($columnVar = "${columnVar}_")
#end
							  <af:outputText value="#{row.${columnVar}}" id="${columnVar}_ot2"/>
                            </af:column>
#end
#end
#end
                          </af:table>
                      </f:facet>
                        <f:attribute name="paginationUtils"
                                     value="#{viewScope.${entityADFVariable}BackingBean.${entityADFVariable}Table}"/>
                      </af:pageTemplate>
                    </af:panelBox>
                  </af:panelGroupLayout>
              </af:showDetailItem>
<!-- create -->              
              <af:showDetailItem text="#{viewcontrollerBundle['createTitle']}" immediate="true"
                                 id="${entityADFVariable}_sdi2" >
                    <af:panelFormLayout id="pfl1" fieldWidth="80%" labelWidth="20%" styleClass="dialogFormLayout">
#exposeModelUpdatedAreas("create-node")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else 
#foreach ($column in $table.columns)  
#putColumnParams()
#adfEntityEditColumnDisplay("${columnVar}itdet")
#end
#end
					</af:panelFormLayout>                    
                    <af:panelGroupLayout id="itdetpgl1" halign="center"  layout="horizontal">
                          <af:commandButton text="#{viewcontrollerBundle['save']}"
                              id="itdetsave"
                              actionListener="#{viewScope.${entityADFVariable}BackingBean.create${domainClassName}}"/>
					</af:panelGroupLayout>
                                 
                </af:showDetailItem>
            </af:panelTabbed>

          </f:facet>
        </af:pageTemplate>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
