#exposeWLSBuildSpecific()
#exposeWeblogicObject()
#!/bin/sh

GENDIR=$(cd `dirname $0`;pwd)

MW_HOME=${WLS_SERVER}
export MW_HOME
##$WLS_SERVER/bin/setWLSEnv.sh
cd $WLS_SERVER/bin
./setWLSEnv.sh
##./setWLSEnv.sh

cd $GENDIR
java weblogic.WLST $datasourceCreatePyClass
