#macro (exposeCXFModelSpecific)
#exposeCXFTemplate()
#set($controllerCxfPackageName=$commonUtils.getPackageName($model, $template, $templateCXFSpringRestServiceBean))
#set($controllerDaoPackageName=$commonUtils.getPackageName($model, $template, $templateSDDSpringJPADao))
#end

#macro(exposeCXFEntitySpecific)
#exposeCXFTemplate()
#set ($CXFRestServiceBeanClass = $commonUtils.getTemplateClassName($table, $model, $templateCXFSpringRestServiceBean))
#set ($CXFRestServiceBeanVariable = $commonUtils.getJavaNameVariableFirstLetter($CXFRestServiceBeanClass))
#end

#macro(exposeCXFSDDSpecific)
#exposeCXFTemplate()
#set ($CXFRestServiceSDDBeanClass = $commonUtils.getTemplateClassName($query, $template, $templateCXFSpringRestServiceSDDBean))
#set ($CXFRestServiceSDDBeanVariable = $commonUtils.getJavaNameVariableFirstLetter($CXFRestServiceSDDBeanClass))
#end

#macro (exposeCXFTemplate)
#set ($templateCXFSpringRestServiceBean = "CXFSpringEntityResource")
#set ($templateCXFSpringRestServiceSDDBean = "CXFSpringSDDResource")
#set ($templateSDDSpringJPADao = "SDDSpringJPADao")
#end

#macro (exposeMavenCXF)
#set($cxfVersion=$template.getPropertyValue("add-rest-implementation-cxf-version","2.2.3"))
#end
