#exposeWLSBuildSpecific()
#
# deploy properties
#
#exposeModelUpdatedAreas("weblogic-properties")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else 
wls.username=$wls-username
wls.password=$wls-password
wls.hostname=$server-hostname
wls.port=$server-port
wls.deploy.target=$wls-deploy-target
wls.deploy.name=$template.getPropertyValue("wls-release-name","")
releaseDir=$template.getPropertyValue("wls-release-dir","")
wls.deploy.source=$template.getPropertyValue("wls-deploy-source","")
$!updatedAreaEnd
#end