---
applications:
  - name: $cloudfoundryUtils.getApplicationName($template)
    buildpack: java_buildpack
##    path: target/xxx-1.0.0.BUILD-SNAPSHOT.jar
    path: $cloudfoundryUtils.getWarPath($template)
    services:
      - $cloudfoundryUtils.getDatabaseName($template)