CREATE OR REPLACE TRIGGER ${table.name}_I INSTEAD OF INSERT ON ${table.name}_V
REFERENCING NEW AS NEW OLD AS OLD FOR EACH ROW BEGIN INSERT INTO ${table.name}_T
(
#foreach($column in ${table.columns})
#putColumnParams()
#if($velocityCount>1),#else #end$column.name
#end
) VALUES
(
#foreach($column in ${table.columns})
#putColumnParams()
#if($velocityCount>1),#else #end:new.$column.name
#end
);

INSERT INTO ${table.name}_H (
#foreach($column in ${table.columns})
#putColumnParams()
#if($velocityCount>1),#else #end$column.name
#end
,AUD_NUMBER
,AUD_ACTION
,AUD_USER
,AUD_DATE) 
VALUES (
#foreach($column in ${table.columns})
#putColumnParams()
#if($velocityCount>1),#else #end:new.$column.name
#end
,(SELECT NVL(MAX(AUD_NUMBER),0) + 1 FROM ${table.name}_H h WHERE h.ID = :new.ID)
,'INS'
,NVL(:new.AUD_USER,'unknown')
,SYSDATE
); 
END ${table.name}_I;
/