#macro (exposeSpringDomainObjectSpecific)
#exposeVariableEntitySpecific()
#exposeEnvironmentParams()
#exposeJPA2DomainObject($tableDB)
#exposeSpringBslaDomainObject()
#set($implementInterface=$template.getPropertyValue("implement-interface",false))
#end

#macro (exposeSpringBslaDomainObject)
#exposeSpringTemplate()
#set ($BslaDaoInterfaceClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateDomainObjectBslaDaoInterface))
#set ($BslaDaoInterfaceVariable = $commonUtils.getJavaNameVariableFirstLetter($BslaDaoInterfaceClass))
#set ($BslaDaoInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateDomainObjectBslaDaoInterface))
#set ($BslaDaoExtInterfaceClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateDomainObjectBslaDaoExtInterface))
#set ($BslaDaoExtInterfaceVariable = $commonUtils.getJavaNameVariableFirstLetter($BslaDaoExtInterfaceClass))
#set ($BslaDaoExtInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateDomainObjectBslaDaoExtInterface))
#end

#macro (exposeSDDSpring)
#exposeSDDSpringTemplate()
#set ($sddDaoInterfaceClass = $commonUtils.getTemplateClassName($query, $template, $templateSDDDaoInterface))
#set ($sddDaoInterfaceVariable = $commonUtils.getJavaNameVariableFirstLetter($sddDaoInterfaceClass))
#set ($sddDaoInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($query, $template, $templateSDDDaoInterface))
#set ($sddSpringJPADaoInterfaceClass = $commonUtils.getTemplateClassName($query, $template, $templateSDDSpringJPADaoClass))
#set ($sddSpringJPADaoInterfaceVariable = $commonUtils.getJavaNameVariableFirstLetter($sddSpringJPADaoInterfaceClass))
#set ($sddSpringJPADaoInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($query, $template, $templateSDDSpringJPADaoClass))
#end

#macro (exposeSpringTemplate)
#set ($templateDomainObjectBslaDaoInterface = "BslaDaoInterfaceUML")
#set ($templateDomainObjectBslaDaoExtInterface = "BslaDaoInterfaceExtendedUML")
#set ($templateRestController = "SpringMVCRestController")
#set ($templateSpringBackendConfig="BslaSpringConfigMainBackend")
#end

#macro (exposeSDDSpringTemplate)
#set ($templateSDDDaoInterface = "SDDDaoInterface")
#set ($templateSDDSpringJPADaoClass = "SDDSpringJPADao")
#end

#macro (exposeSpringModelSpecific)
#exposeSpringTemplate()
#exposeSDDSpringTemplate()
#set($controllerPackageName=$commonUtils.getPackageName($model, $template, $templateRestController))
#set($pathSpringBackendConfig=$commonUtils.getArtifactRelativePathDirAndFullName($model, $template, $templateSpringBackendConfig))
#set($controllerDaoPackageName=$commonUtils.getPackageName($model, $template, $templateSDDSpringJPADaoClass))
#end

