#macro(putReadmeText)
$!commonUtils.getReadMeText($template)
#end

#macro(exposeVariableFunctionSpecific)
#exposeVariableEntitySpecific()
#exposeFunction()
#end

#macro (exposeFunction)
#exposeFunctionTemplate()
#set ($in = $commonUtils.getDirection("IN"))
#set ($out = $commonUtils.getDirection("OUT"))
#set ($input = $function.getEntity($in))
#set ($output = $function.getEntity($out))
#set ($functionInputClass = $commonUtils.getTemplateClassName($input, $model, $templateFunctionInput))
#set ($functionInputVariable = $commonUtils.getJavaNameVariableFirstLetter($functionInputClass))
#set ($functionInputImport = $commonUtils.getEntityLevelTemplateFullPath($model, $input, $template, $templateFunctionInput))
#set ($functionOutputClass = $commonUtils.getTemplateClassName($output, $model, $templateFunctionOutput))
#set ($functionOutputVariable = $commonUtils.getJavaNameVariableFirstLetter($functionOutputVariable))
#set ($functionOutputImport = $commonUtils.getEntityLevelTemplateFullPath($model, $output, $template, $templateFunctionOutput))
#set ($functionInterfaceClassName = $commonUtils.getTemplateClassName($output, $model, $templateFunctionInterface))
#set ($functionInterfaceVariableName = $commonUtils.getJavaNameVariableFirstLetter($functionInterfaceClassName))
#set ($functionInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($model, $output, $template, $templateFunctionInterface))
#end

#macro (exposeFunctionTemplate)
#set ($templateFunctionInput = "StoredProcedureInputBean")
#set ($templateFunctionOutput = "StoredProcedureOutputBean")
#set ($templateFunctionInterface = $template.getPropertyValue("functionInterface","DaoInterfaceStoreProcedure"))
#end

#macro (putGetterSetter $class $variable)
#parse("../snippet/GetterSetterSnippet.vm")
#end
