#exposeVariableEntitySpecific()
package ${packageName};

import javax.persistence.Entity;
import org.springframework.roo.addon.javabean.RooJavaBean;
import org.springframework.roo.addon.tostring.RooToString;
import org.springframework.roo.addon.entity.RooEntity;
import javax.validation.constraints.NotNull;
import javax.persistence.Column;
import javax.validation.constraints.Size;
import java.util.Set;
import javax.persistence.*;

@Entity
@RooJavaBean
@RooToString
@RooEntity(identifierField = "", identifierColumn = "", identifierType = Integer.class)
public class Address {
//TODO
}
