#exposeVariableEntitySpecific()
package $packageName;

import java.lang.String;

privileged aspect $className {
    
    public String ${domainClassName}.toString() {
        StringBuilder sb = new StringBuilder();
#foreach($column in $table.columns)
#putColumnParams()
        sb.append("$columnVar: ").append(get$columnClass()).append(", ");
#end        
        return sb.toString();
    }
    
}
