#exposeVariableFunctionSpecific()
package $packageName;

##check when null import
import $functionInputImport;
import $functionOutputImport;
import $functionInterfaceImport;

/**
 *
 * <p>Title: $className</p>
 *
 * <p>Description: Implementation of a Data access object dealing with store procedure $className
 * It provides the call of the procedure passing input parameters
 *  and return store procedure output</p>
 *
 */
public interface $className implements $functionInterfaceClassName {

	@PersistenceContext
    private EntityManager em;
	
    public $functionOutputClass $tableVariableName($functionInputClass $functionInputVariable) {
       Query query = em.createQuery("from Product as p where p.category = :category");
       query.setParameter("category", category);
       return query.getResultList(); 
	}
	


}
